<cfinclude template="/exchange/security/check.cfm">

<cfset #session.comp_cstatus# = #contract_status#>
<cfset #session.comp_naics# = #naics#>
<cfset #session.comp_psc# = #psc#>

<cflocation URL="analyze.cfm?id=#id#&number=#number#" addtoken="no">

