<cfquery name="ip_check" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select ip_address_number from ip_address
 where ip_address_number = '#cgi.remote_addr#' and
       ip_address_hub_id = #session.hub#
</cfquery>

<cfif ip_check.recordcount GT 0>
 <cflocation URL="/exchange/logout.cfm">
</cfif>