<cfinclude template="/exchange/security/check.cfm">

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

  <cfinclude template="/exchange/include/header.cfm">

 <table cellspacing=0 cellpadding=0 border=0 width=100%>

	  <tr><td valign=top width=200>

	  <div class="left_box">

	      <cfinclude template="/exchange/admin/admin_menu.cfm">

	  </div>

	  </td><td valign=top>

	  <form action="db.cfm" method="post">

	  <div class="main_box">

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		   <tr><td class="feed_header">Add Stage</td></tr>
		   <tr><td>&nbsp;</td></tr>
		   <tr><td class="feed_option">Stage Name:&nbsp;<input style="font-size: 12px; width: 320px;" type="text" name="stage_name"></td></tr>
		   <tr><td class="feed_option">Order:&nbsp;<input style="font-size: 12px; width: 50px;" type="text" name="stage_order"></td></tr>
		   <tr><td><input class="button_blue" type="submit" name="button" value="Cancel" vspace=10>&nbsp;&nbsp;<input class="button_blue" type="submit" name="button" value="Save" vspace=10></td></tr>
		  </table>

      </td></tr>
     </table>

	  </div>

      </form>

<cfinclude template="/exchange/include/footer.cfm">

</body>
</html>

