<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update_member" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update hub_xref
 set hub_xref_active = #status#,
     hub_xref_usr_role = #role#
 where hub_xref_usr_id = #i# and
       hub_xref_hub_id = #session.hub#
</cfquery>

<cfif isdefined("notify")>

<cfquery name="member_info" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from usr
 where usr_id = #i#
</cfquery>

<cfquery name="hub_info" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from hub
 where hub_id = #session.hub#
</cfquery>

	<cfmail from="The Exchange <noreply@ratio.exchange>"
			  to="#member_info.usr_email#"
	  username="noreply@ratio.exchange"
	  password="Gofus107!"
		  port="25"
		useSSL="false"
		type="html"
		server="mail.ratio.exchange"
	   subject="Welcome to the #hub_info.hub_name# HUB!">

	<html>
	<head>
	<title>RATIO Exchange</title>
	</head><div class="center">
	<body class="body">
	<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="ffffff">
	 <cfoutput>

		 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;"><b>Thank you for joining the #hub_info.hub_name# HUB.</b></td></tr>
         <tr><td>&nbsp;</td></tr>
		 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">We are happy to let you know that you are now approved and can access the HUB on the Exchange.</td></tr>
         <tr><td>&nbsp;</td></tr>
		 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;"><b>Thank You</b></td></tr>
		 <tr><td>&nbsp;</td></tr>
	 </cfoutput>
	</table>
	<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="000000">
	 <tr><td>&nbsp;</td></tr>
	 <tr><td height=75 valign=middle><img src="#image_virtual#/exchange_logo.png" width=160 hspace=5></td></tr>
	</table>
	</body>
	</html>
	</cfmail>

</cfif>

<cflocation URL="members.cfm?u=3" addtoken="no">