  <div class="exchange_hub_box">

		<table cellspacing=0 cellpadding=0 border=0 width=100%>

		<tr><td valign=top width=140>

			<table cellspacing=0 cellpadding=0 border=0 width=100%>
			 <tr><td class="feed_option">

			    <cfoutput>

			    <cfif #hub.hub_logo# is "">
                 <a href="profile.cfm"><img style="border-radius: 8px;" src="/images/hub_stock_logo.png" width=140 border=0></a>
			    <cfelse>
                 <a href="profile.cfm"><img style="border-radius: 8px;" src="#media_virtual#/#hub.hub_logo#" width=140 border=0></a>
			    </cfif>

			    <br>

			    <b>

				<cfif #hub.hub_type_id# is 0>
                  <center><span class="feed_option">Open</span></center>
                <cfelseif #hub.hub_type_id# is 1>
                  <center><span class="feed_option">Standard</span></center>
                <cfelseif #hub.hub_type_id# is 2>
                  <center><span class="feed_option">Private</span></center>
                </cfif>

                </b>

			    </cfoutput>

			    </td></tr>
			</table>

			</td><td width=50>&nbsp;</td><td valign=top>

				<table cellspacing=0 cellpadding=0 border=0 width=100%>
				<cfoutput>
				 <tr><td class="feed_header">#hub.hub_name#</td>
				     <td class="feed_header" align=right></td></tr>
				 <tr><td class="feed_option" colspan=2>#hub.hub_desc#</td></tr>

				</cfoutput>
				</table>

		   </td></tr>

		   </table>
  </div>