<cfinclude template="/exchange/security/check.cfm">

<cfquery name="members" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
delete hub_xref
where hub_xref_id = #id#
</cfquery>

<cflocation URL="members.cfm?u=4" addtoken="no">
