<cfinclude template="/exchange/security/check.cfm">

<cfif #button# is "Create New Member">
 <cflocation URL="new_user.cfm" addtoken="no">
<cfelseif #button# is "Select Company">
 <cfif not isdefined("company")>
  <cflocation URL="invite.cfm?ec=1&email=#email#" addtoken="no">
 <cfelse>
  <cflocation URL="sam_user.cfm?duns=#duns#" addtoken="no">
 </cfif>
</cfif>

