<cfinclude template="/exchange/security/check.cfm">

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

  <cfinclude template = "/exchange/include/header.cfm">

  <table cellspacing=0 cellpadding=0 border=0 width=100%>

	  <tr><td valign=top width=175>

	  <div class="left_box">
       <cfinclude template="admin_menu.cfm">
	  </div>

      </td><td valign=top>

	  <div class="main_box">

	  <cfquery name="sponsor" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		select * from hub
		where hub_id = #session.hub#
	   </cfquery>

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>

	   <tr><td class="feed_header">Sponsors</td></tr>

	  </table>



	  </div>

	  </td></tr>

  </table>

  </div>

  <cfinclude template="/exchange/include/footer.cfm">

</body>
</html>