<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  update company_extend
  set company_extend_tier_id = <cfif company_extend_tier_id is 0>null<cfelse>#company_extend_tier_id#</cfif>
      where company_extend_hub_id = #session.hub# and
            company_extend_company_id = #id#
</cfquery>

<cflocation URL="detail.cfm?id=#id#&u=8" addtoken="no">



