<cfinclude template="/exchange/security/check.cfm">

<cfset session.discover_name = '#trim(company_name)#'>
<cfset session.discover_website = '#trim(company_website)#'>

<cflocation URL="results.cfm" addtoken="no">