<cfinclude template="/exchange/security/check.cfm">

<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete hub
 where hub_id = #hub_id#
</cfquery>

<cflocation URL="index.cfm?u=1" addtoken="no">
