<cfinclude template="/exchange/security/check.cfm">

<cfif isdefined("share_id")>

 <cftransaction>

	 <cfloop index="d" list="#share_id#">

	 <cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	  delete sharing_group_usr
	  where sharing_group_usr_usr_id = #decrypt(d,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
	        sharing_group_usr_group_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
	 </cfquery>

	 </cfloop>

 </cftransaction>

<cflocation URL="manage.cfm?i=#i#&u=2" addtoken="no">

<cfelse>

<cflocation URL="manage.cfm?i=#i#&u=3" addtoken="no">

</cfif>

