<cfquery name="social" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select distinct(recent_usr_id) as id from recent
 where recent_need_id = #session.need_id#
 union
 select distinct(follow_by_usr_id) as id from follow
 where follow_need_id = #session.need_id#
</cfquery>

<cfquery name="questions" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select count(question_id) as total from question
 where question_need_id = #session.need_id#
</cfquery>

<div class="left_box">

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td class="feed_header">Need Interest</td>
	      <td align=right></td></tr>
	  <tr><td colspan=2><hr></td></tr>
      </table>

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>

      <cfoutput>

		  <tr>
			  <td class="feed_sub_header" align=center style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/needs/interest_social.cfm" style="font-size: 28px;">#social.recordcount#</a></span></td>
			  <td class="feed_sub_header" align=center style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/needs/questions.cfm" style="font-size: 28px;">#questions.total#</a></span></td>
		  </tr>

		  <tr>
			  <td class="link_small_gray" align=center><a href="/exchange/needs/interest_social.cfm">User<br>Views</a></td>
			  <td class="link_small_gray" align=center><a href="/exchange/needs/questions.cfm">Questions<br>& Answers</td>
		  </tr>

	  </cfoutput>

	  </table>
	  </center>

</div>