<cfinclude template="/exchange/security/check.cfm">

<cfquery name="add" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  insert into question
  (
   question_subject,
   question_text,
   question_public,
   question_usr_id,
   question_date_submitted,
   question_need_id
   )
   values
   (
   'Question Submitted',
   '#question_text#',
	0,
	#session.usr_id#,
	#now()#,
	#decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
	)
</cfquery>

<cflocation URL="need_details.cfm?u=1&i=#i#" addtoken="no">


