<div class="left_box">

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header" valign=bottom><a href="/exchange/portfolio"><b>Ask Question</b></a></td>
	  <td align=right valign=top></td></tr>
  <tr><td><hr></td></tr>

  <cfif need_info.need_commenting is 0>
   <tr><td class="feed_sub_header" style="font-weight: normal;">Questions are not permitted at this time.</td></tr>
  <cfelse>

   <tr><td height=10></td></tr>
   <cfoutput>
   <tr><td><input type="submit" name="button" class="button_blue" value="Submit Your Question" onclick="window.open('/exchange/opps/question.cfm?i=#i#&t=n','targetWindow','toolbar=no,location=no,status=no,menubar=no,left=200, top=50, scrollbars=yes,resizable=yes,width=900,height=575'); return false;"></td></tr>
   </cfoutput>

  </cfif>



 </table>

</div>