<cfset session.auto_keywords = #auto_keyword#>

<cfset session.non = 0>
<cfset session.awards = 1>
<cfset session.sbirs = 0>
<cfset session.grants = 0>
<cfset session.patents = 0>

<cflocation URL="find_companies.cfm" addtoken="no">