 <cfif isdefined("session.add_filter")>
  <cfset session.add_filter = #listappend(session.add_filter,"#add_filter#")#>
 <cfelse>
  <cfset session.add_filter = "#add_filter#">
 </cfif>
 <cflocation URL="find_companies.cfm" addtoken="no">