<div class="left_box">

<center>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	<tr><td colspan=2 class="feed_header">COMPANIES FOUND</td></tr>
	<tr><td colspan=2><hr></td></tr>
	<cfoutput>
	 <tr><td class="feed_header" style="font-size: 25;"><cfif info.recordcount GT 0>#trim(numberformat(info.recordcount,'99,999'))# Companies<cfelse>No Companies</cfif></td></tr>
	</cfoutput>

	</table>

</center>

</div>