<cfinclude template="/exchange/security/check.cfm">

<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete snapshot
 where snapshot_id = #i# and
	   snapshot_hub_id = #session.hub# and
	   snapshot_usr_id = #session.usr_id#
</cfquery>

<cflocation URL="/exchange/" addtoken="no">>

