<cfquery name="c" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select company_id, company_name from company
 where company_duns = '#duns#'
</cfquery>

<cfset session.company_profile_id = #c.company_id#>
<cfset session.company_profile_duns = #duns#>
<cfset session.company_profile_name = #c.company_name#>

<cflocation URL="/exchange/include/profile.cfm?l=10&i=#i#" addtoken="no">