<cfinclude template="/exchange/security/check.cfm">

<cfif listlen(session.add_filter) GT 1>
 <cfset filter_position = listfind(session.add_filter,'#i#')>
 <cfset session.add_filter = listdeleteat(session.add_filter,'#filter_position#')>
<cfelse>
 <cfset StructDelete(Session,"add_filter")>
</cfif>

<cflocation URL="capability.cfm" addtoken="no">


