<cfinclude template="/exchange/security/check.cfm">

<cfquery name="submit" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert into request(request_hub_id, request_usr_id, request_date, request_type, request_description)
 values(<cfif isdefined("session.hub")>#session.hub#<cfelse>null</cfif>,#session.usr_id#,#now()#,'#request_type#','#request_description#')
</cfquery>

<cfquery name="user" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from usr
 where usr_id = #session.usr_id#
</cfquery>

<cfquery name="hub_info" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from hub
 where hub_id = #session.hub#
</cfquery>

<cfif isdefined("test_email")>
 <cfset to = #test_email#>
<cfelse>
 <cfset to = #hub_info.hub_support_email#>
</cfif>

<cfmail from="#hub_info.hub_name# <noreply@ratio.exchange>"
		  to="#to#"
  username="noreply@ratio.exchange"
  password="Gofus107!"
	  port="25"
	useSSL="false"
	type="html"
	server="mail.ratio.exchange"
   subject="Customer Support Request">

<html>
<head>
<title><cfoutput>#session.network_name#</cfoutput></title>
</head><div class="center">
<body class="body">
<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="ffffff">

<tr><td class="feed_option">

  <cfoutput>
	  <tr><td class="feed_option">
	  Date:		   #dateformat(now(),'mm/dd/yyyy')#<br>
	  Time:        #timeformat(now())#<br>
	  User:        #user.usr_first_name# #user.usr_last_name#<br>
	  Email:       #tostring(tobinary(user.usr_email))#<br>
	  Request:     #request_type#<br>
	  <br>
	  Description: #request_description#
	  </td></tr>
	  <tr><td>&nbsp;<br></td></tr>
  </cfoutput>

</td></tr>

</table>

</body>
</html>
</cfmail>

<cflocation URL="index.cfm?u=1" addtoken="no">
