<cfinclude template="/exchange/security/check.cfm">

<cftransaction>

	<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete message
	 where (message_to_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# or
			message_from_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#)
	 and message_view_id = #session.usr_id#
	 and message_hub_id = #session.hub#
	</cfquery>

</cftransaction>

<cflocation URL="index.cfm?u=4" addtoken="no">
