<cfinclude template="/exchange/security/check.cfm">

	<cfquery name="remove_thread" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 insert into message_hide
	 (
	  message_hide_message_id,
	  message_hide_usr_id
	 )
	 values
	 (
	  #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#,
	  #session.usr_id#
	 )
	</cfquery>

<cflocation URL="index.cfm?u=7" addtoken="no">
