<cfinclude template="/exchange/security/check.cfm">

<cfquery name="read" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update message_read
 set message_read_date = #now()#
 where message_read_message_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
       message_read_usr_id = #session.usr_id#
</cfquery>

<cflocation URL="index.cfm?thread=#i#" addtoken="no">

