<cfquery name="parent_items" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  select * from menu
  left join app on app_id = menu_app_id
  where menu_role_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
        menu_hub_id = #session.hub# and
        menu_active = 1 and
        (menu_parent_id is null or menu_parent_id = 0)
  order by menu_order
</cfquery>

 <cfoutput>
   <table cellspacing=0 cellpadding=0 border=0 width=100% height=50 bgcolor="000000">
 </cfoutput>

	  <tr>
			  <td width=10>&nbsp;</td>

			  <cfoutput>

				  <td width=15>&nbsp;</td>
				  <td class="hub_header"><font color="ffffff">Preview</font></td>

			  </cfoutput>

			  <td align=right>

				<!--- Types

				1 - Nothing
				2 - URL
				3 - App
				4 - Embed
				5 - Custom Path --->

				<cfoutput><div id="cssmenu" style="background: 000000"></cfoutput>

				  <ul>
					 <li><a href="##"><i class="fa fa-fw fa-home"></i> &nbsp;Home</a></li>

                     <cfloop query="parent_items">
						 <cfoutput>
						 <li>
						 <a href="##" style="padding-right: 17px;"><cfif parent_items.menu_icon is not "">#parent_items.menu_icon#</cfif> &nbsp;#parent_items.menu_name#</a>
						 </cfoutput>

						<cfquery name="child_items" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
						  select * from menu
						  left join app on app_id = menu_app_id
						  where menu_role_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
								menu_hub_id = #session.hub# and
								menu_active = 1 and
								menu_parent_id = #parent_items.menu_id#
						  order by menu_order
						</cfquery>

						<cfif child_items.recordcount GT 0>

							<ul style="background-color: 000000;">

                           <cfloop query="child_items">

							<cfquery name="grandchild_items" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
							  select * from menu
							  left join app on app_id = menu_app_id
							  where menu_role_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
									menu_hub_id = #session.hub# and
									menu_active = 1 and
									menu_parent_id = #child_items.menu_id#
							  order by menu_order
							</cfquery>

                           <cfoutput>

							 <li>
							 <a href="##" style="padding-right: 17px; background-color: 000000;"><cfif child_items.menu_icon is not "">#child_items.menu_icon#</cfif> &nbsp;#child_items.menu_name#

                             <cfif grandchild_items.recordcount is 0>
                             </a></li>

                             <cfelse>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>>></b></a>

							  <ul style="background-color: 000000;">

	                           <cfloop query="grandchild_items">

	                           <cfoutput>

										<li><a href="##" style="padding-right: 17px; background-color: 000000;"><cfif grandchild_items.menu_icon is not "">#grandchild_items.menu_icon#</cfif> &nbsp;#grandchild_items.menu_name#</a></li>
							    </cfoutput>

							    </cfloop>

								  </ul>

							 </li>

                             </cfif>

                            </cfoutput>

                            </cfloop>

                            </ul>

						</cfif>

                     </li>

                     </cfloop>

				</div>

			  </td><td width=20>&nbsp;</td>
	  </tr>

</table>