<cfinclude template="/exchange/security/check.cfm">

<cftransaction>

	<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 insert into person_intel
	 (
	  person_intel_person_id,
	  person_intel_usr_id,
	  person_intel_hub_id,
	  person_intel_title,
	  person_intel_comments,
	  person_intel_created,
	  person_intel_updated
	 )
	 values
	 (
	 #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#,
	 #session.usr_id#,
	 #session.hub#,
	'#person_intel_title#',
	'#person_intel_comments#',
	 #now()#,
	 #now()#
	 )
	 </cfquery>

</cftransaction>

<cflocation URL="comments.cfm?i=#i#&u=1" addtoken="no">