<cfif isdefined("button")>
	 <cfset StructDelete(Session,"alumni")>
	 <cfset StructDelete(Session,"filter_list")>
<cfelse>

	<cfif isdefined("rtype_id")>
	 <cfset session.filter_list = #rtype_id#>
	<cfelse>
	 <cfset StructDelete(Session,"filter_list")>
	</cfif>

	<cfif isdefined("alumni")>
	 <cfset session.alumni = 1>
	<cfelse>
	 <cfset StructDelete(Session,"alumni")>
	</cfif>

</cfif>

<cflocation URL="results.cfm" addtoken="no">
