<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update portfolio
 set portfolio_company_access = #l#
 where portfolio_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
</cfquery>

<cfif l is 1>
 <cflocation URL="index.cfm?u=1" addtoken="no">
<cfelse>
 <cflocation URL="index.cfm?u=2" addtoken="no">
</cfif>
