<cfinclude template="/exchange/security/check.cfm">

<cfquery name="comp" datasource="#lake_datasource#" username="#client_username#" password="#client_password#">
 select company_id from company
 where company_duns = '#duns#'
</cfquery>

<cflocation URL="/exchange/include/save_company.cfm?id=#comp.company_id#" addtoken="no">

