<cfset app_id = "SBANALYZE">
<cfinclude template="/exchange/security/check.cfm">

<cfset session.eighta_from = #eighta_from#>
<cfset session.eighta_to = #eighta_to#>

<cflocation URL="8a_results.cfm" addtoken="no">
