<cfquery name="sourced" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select count(need_comp_id) as total from need_comp
 where need_comp_challenge_id = #session.challenge_id#
</cfquery>

<div class="left_box">

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td class="feed_header">CHALLANGE STATUS</td>
	      <td align=right></td></tr>
	  <tr><td colspan=2><hr></td></tr>
      </table>

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>

      <cfoutput>

		  <tr>
			  <td class="feed_header" style="font-size: 24px;">

			  <cfif info.challenge_status is 0>
			   NOT LAUNCHED
			  <cfelseif info.challenge_status is 1>
			   LAUNCHED
			  <cfelse>
			   CLOSED
			  </cfif>

			  </td>
		  </tr>


	  </cfoutput>

	  </table>
	  </center>

</div>


