<form action="set_search.cfm" method="post">

<cfquery name="communities" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select * from hub
 where hub_id = #session.hub# or
 hub_parent_hub_id = #session.hub#
 order by hub_name
</cfquery>

<table cellspacing=0 cellpadding=0 border=0 width=100%>

 <tr>
    <td class="feed_sub_header" width=90>Search for</td>
    <td class="feed_option" width=370><input type="text" class="input_text" name="challenge_search_keyword" style="width: 350px;" placeholder="keyword (i.e., machine learning)"

    <cfif isdefined("session.challenge_search_keyword")>value="<cfoutput>#session.challenge_search_keyword#</cfoutput>"></cfif></td>
    <td class="feed_sub_header" width=40>In</td>
    <td class="feed_option" width=270>
		<select name="challenge_search_community" class="input_select" style="width: 250px;">
		<option value=0>All Sources
		<cfoutput query="communities">
		 <option value=#hub_id# <cfif isdefined("session.challenge_search_community") and session.challenge_search_community is hub_id>selected</cfif>>#hub_name#
		</cfoutput>
	</td>

    <td class="feed_option">
	<input class="button_blue" type="submit" name="button" value="Search">&nbsp;
	<input class="button_blue" type="submit" name="button" value="Clear">
	</td>
  </tr>

</table>

</form>