<cfset session.challenge_sourcing = #challenge_sourcing#>

<cfif isdefined("l")>
 <cflocation URL="/exchange/challenges/sourcing/find_companies.cfm?start=#start#" addtoken="no">
<cfelse>
 <cflocation URL="/exchange/challenges/sourcing/index.cfm" addtoken="no">
</cfif>