<cfif button is "Clear">
 <cfset StructDelete(Session,"challenge_search_keyword")>
 <cfset StructDelete(Session,"challenge_search_community")>
 <cflocation URL="index.cfm" addtoken="no">>
</cfif>

<cfset session.challenge_search_keyword = "#challenge_search_keyword#">
<cfset session.challenge_search_community = #challenge_search_community#>

<cflocation URL="results.cfm" addtoken="no">

