<cfinclude template="/exchange/security/check.cfm">

<cfif button is "Create Assessment">

	<cfquery name="area" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	  select * from impact_area
	  order by impact_area_name
	</cfquery>

    <cftransaction>

		<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		  insert impact_assessment
		  (impact_assessment_risk_id, impact_assessment_date, impact_assessment_scored_by, impact_assessment_comments, impact_assessment_name)
		  values
		  (#session.risk_id#,#now()#,#session.usr_id#,'#impact_assessment_comments#','#impact_assessment_name#')
		</cfquery>

		<cfquery name="max" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		 select max(impact_assessment_id) as id from impact_assessment
		</cfquery>

		<cfloop query="area">

	    <cfset assessment_impact = "form." & #area.impact_area_id# & "impact_assessment_score_impact">
	    <cfset assessment_like = "form." & #area.impact_area_id# & "impact_assessment_score_like">

		<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		  insert impact_assessment_score
		  (impact_assessment_score_assessment_id,
		   impact_assessment_score_date,
		   impact_assessment_score_risk_id,
		   impact_assessment_score_area_id,
		   impact_assessment_score_impact,
		   impact_assessment_score_like
		  )
		  values
		  (
		   #max.id#,
		   #now()#,
		   #session.risk_id#,
		   #area.impact_area_id#,
		   #evaluate(assessment_impact)#,
		   #evaluate(assessment_like)#
		  )
        </cfquery>

		</cfloop>

	</cftransaction>

	<cflocation URL="/exchange/sourcing/risks/risk_assessment.cfm?u=1" addtoken="no">

<cfelseif button is "Update Risk">

	<cflocation URL="/exchange/sourcing/risks/risk_open.cfm?u=2" addtoken="no">

<cfelseif button is "Delete Risk">

    <cflocation URL="/exchange/sourcing/risks/index.cfm?u=3" addtoken="no">

</cfif>