<cfif button is "clear">
	 <cfset StructDelete(Session,"risk_keyword")>
<cfelse>
	<cfif trim(risk_keyword) is not "">
	 <cfset session.risk_keyword = #risk_keyword#>
	<cfelse>
	 <cfset StructDelete(Session,"risk_keyword")>
	</cfif>
</cfif>
<cflocation URL="index.cfm" addtoken="no">