<div class="left_box">

  <cfquery name="port" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="5">
   select * from person_portfolio
   where person_portfolio_usr_id = #session.usr_id#
   order by person_portfolio_name
  </cfquery>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="feed_header" valign=bottom><b>People Portfolios</b></td>
	   <td align=right valign=top></td></tr>
   <tr><td><hr></td></tr>
  </table>

  <cfif recent_list is 0>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="feed_sub_header" style="font-weight: normal;">You have not created any Portfolios.</td></tr>
  </table>

  <cfelse>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>

         <cfset count = 1>

		 <cfoutput query="port">

			<cfif #port.person_portfolio_image# is "">
			  <tr><td width=40><a href="/exchange/pportfolio/refresh.cfm?i=#encrypt(port.person_portfolio_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#"><img src="/images/icon_portfolio_company.png" height=30 width=30 border=0 alt="Open" title="Open"></a></td>
			<cfelse>
			  <tr><td><a href="/exchange/pportfolio/refresh.cfm?i=#encrypt(port.person_portfolio_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#"><img src="#media_virtual#/#port.person_portfolio_image#" height=30 width=30 border=0 alt="Open" title="Open"></a></td>
			</cfif>

             </td><td class="feed_sub_header" style="font-weight: normal;" width=150><a href="/exchange/pportfolio/refresh.cfm?i=#encrypt(port.person_portfolio_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#">#port.person_portfolio_name#</a></td>
         </tr>

         <cfif count LT port.recordcount>
          <tr><td colspan=2><hr></td></tr>
         </cfif>

         <cfset count = count + 1>



         </cfoutput>

  </table>

 </cfif>


</div>