<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update usr_notification
 set usr_notification_active = #u#
 where usr_notification_usr_id = #session.usr_id# and
       usr_notification_id = #i# and
       usr_notification_hub_id = #session.hub#
</cfquery>

<cflocation URL="index.cfm?l=3&u=4" addtoken="no">

