<cfinclude template="/exchange/security/check.cfm">

	<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	  update usr
	  set usr_setting_notification = #usr_setting_notification#
	  where usr_id = #session.usr_id#
	</cfquery>

<cflocation URL="/exchange/profile/notifications.cfm?u=1&l=3" addtoken="no">


