<cfinclude template="/exchange/security/check.cfm">

<cfif usr_notification_type is "Open Opportunities">
 <cflocation URL="add_new_opportunities.cfm?l=3" addtoken="no">
<cfelseif usr_notification_type is "Award Notification">
 <cflocation URL="add_award_notification.cfm?l=3" addtoken="no">
<cfelseif usr_notification_type is "Company">
 <cflocation URL="add_company_notification.cfm?l=3" addtoken="no">
</cfif>