<cfif f is 1>
  <cflocation URL="/exchange/opps/forecast/views/view01.cfm" addtoken="no">
<cfelseif f is 2>
  <cflocation URL="/exchange/opps/forecast/views/view02.cfm" addtoken="no">
<cfelseif f is 3>
  <cflocation URL="/exchange/opps/forecast/views/view03.cfm" addtoken="no">
<cfelseif f is 4>
  <cflocation URL="/exchange/opps/forecast/views/view04.cfm" addtoken="no">
</cfif>