<cfinclude template="/exchange/security/check.cfm">

<cftransaction>

	<cfquery name="delete1" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete feed
	 where feed_id = #feed_id# and
		   feed_created_usr_id = #session.usr_id#
	</cfquery>

	<cfquery name="delete2" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete feed_align
	 where feed_align_feed_id = #feed_id#
	</cfquery>

	<cfquery name="delete3" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete feed_interest
	 where feed_interest_feed_id = #feed_id#
	</cfquery>

</cftransaction>

<cflocation URL="index.cfm?u=5" addtoken="no">
