<cfinclude template="/exchange/security/check.cfm">


<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
    <link rel="shortcut icon" type="image/png" href="/images/exchange.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

<cfinclude template = "/exchange/include/header.cfm">

  <cfquery name="feed" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
   select * from feed
   where feed_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
  </cfquery>

  <cfquery name="lens" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
   select * from lens
   where lens_hub_id = #session.hub#
   order by lens_order
  </cfquery>

<style>
.tab_active {
	height: auto;
	z-index: 100;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	display: inline-block;
	margin-left: 0px;
	width: auto;
	margin-right: -4px;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-right: 20px;
	align: bottom;
	border-color: #b0b0b0;
	border-width: thin;
	border-style: solid;
	border-radius: 2px;
	background-color: #ffffff;
	border-bottom: 0px;
}
.tab_not_active {
	height: auto;
	z-index: 100;
	padding-top: 7px;
	padding-left: 20px;
	padding-bottom: 7px;
	padding-right: 20px;
	display: inline-block;
	margin-left: 0px;
	width: auto;
	margin-right: -4px;
	margin-top: 20px;
	margin-bottom: 0px;
	vertical-align: bottom;
	border-color: #b0b0b0;
	border-width: thin;
	border-style: solid;
	border-radius: 2px;
	background-color: #e0e0e0;
	border-bottom: 0px;
}
.main_box_2 {
	width: auto;
	height: auto;
	z-index: 100;
	box-shadow: 0 1px 2px 0 #a0a0a0, 0 1px 2px 0 #a0a0a0;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 20px;
	border-radius: 2px;
	border-color: #b0b0b0;
	border-width: thin;
	border-style: solid;
	border-radius: 2px;
	background-color: #ffffff;
	border-top: 0px;
}
</style>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>

	  <tr><td valign=top width=185>

      <cfinclude template="/exchange/components/my_profile/profile.cfm">

      </td><td valign=top width=100%>

          <div class="tab_not_active" style="margin-left: 20px;">
           <span class="feed_sub_header"><img src="/images/icon_home2.png" width=15 valign=absmiddle>&nbsp;&nbsp;<a href="/exchange/">Welcome</a></span>
          </div>

          <div class="tab_active">
           <span class="feed_header"><img src="/images/icon_feed2.png" width=20 valign=absmiddle>&nbsp;&nbsp;<a href="/exchange/my_feeds.cfm">Newswire</a></span>
          </div>

		  <div class="main_box_2">

          <table cellspacing=0 cellpadding=0 border=0 width=100%>
				   <tr><td class="feed_header">Edit Post</td><td align=right class="feed_option"><a href="/exchange/my_feeds.cfm"><img src="/images/delete.png" border=0 width=20></a></td></tr>
				   <tr><td colspan=2><hr></td></tr>
				   <tr><td class="feed_sub_header" style="font-weight: normal;" colspan=3>Please update your post below.</td></tr>
          </table>

          <form action="post_db.cfm" method="post" enctype="multipart/form-data" >

          <table cellspacing=0 cellpadding=0 border=0 width=100%>

          <tr><td valign=top>

          <cfoutput>

			  <table cellspacing=0 cellpadding=0 border=0 width=100%>
				   <tr><td class="feed_sub_header"><b>Title</b></td></tr>
				   <tr><td colspan=2><input type="text" class="input_text" name="feed_title" style="width: 750px;" value="#feed.feed_title#" required maxlength="100"></td></tr>
				   <tr><td class="feed_sub_header"><b>Message</b></td></tr>
				   <tr><td colspan=2><textarea name="feed_desc" class="input_textarea" style="width: 750px;" rows=5>#feed.feed_desc#</textarea></td></tr>
				   <tr><td class="feed_sub_header"><b>URL Reference</b></td></tr>
				   <tr><td colspan=2><input type="url" name="feed_URL" class="input_text" style="width: 750px;" value="#feed.feed_url#" maxlength="200"></td></tr>
                   <tr><td class="feed_sub_header" valign=top>Picture / Image</td></tr>
                   <tr><td class="feed_sub_header" style="font-weight: normal;">

                   <cfif #feed.feed_pic# is "">
					  <input type="file" name="feed_pic">
					<cfelse>
					  <img src="#media_virtual#/#feed.feed_pic#" width=150><br><br>
					  <input type="file" name="feed_pic"><br><br>
					  <input type="checkbox" name="remove_attachment" style="width: 20px; height: 20px;">&nbsp;or, check to remove image
					 </cfif>

                   </td></tr>

                   <tr><td class="link_small_gray">Image will be auto scaled to 900px (width) by 250px (height)</td></tr>

          </cfoutput>

  			       <tr><td class="feed_sub_header">Post Category</td>
  			           <td class="feed_sub_header">Tags or Keywords</td></tr>
			       <tr><td width=400>
					  <select class="input_select" name="feed_category_id" style="width: 350px;" required>
					   <cfoutput query="lens">
						<option value=#lens_id# <cfif feed.feed_category_id is lens_id>selected</cfif>>#lens_name#
					   </cfoutput>
					  </select>

           <cfoutput>

					  </td><td><input type="text" class="input_text" name="feed_keywords" style="width: 350px;" value="#feed.feed_keywords#" required maxlength="100"></td>

           <input type="hidden" name="i" value="#i#">

           </cfoutput>

					  </tr>

                   <tr><td height=20></td></tr>
				   <tr><td colspan=2><input type="submit" name="button" value="Save" class="button_blue_large"></td></tr>

			  </table>

		  </td></tr>

          </table>

 		  </form>



	      </div>

      </td><td valign=top>

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>
	   <tr><td height=40></td></tr>
	  </table>

      <cfif usr.hub_xref_role_id is 1>

      <cfinclude template="/exchange/components/my_communities/index.cfm">
      <cfelse>

      <div class="right_box">
	    <cfinclude template="/exchange/members.cfm">
      </div>

      <cfinclude template="/exchange/components/my_communities/index.cfm">
      </cfif>
      </td>

	  </div>

	  </td></tr>

  </table>

  <cfinclude template="/exchange/include/footer.cfm">

</body>
</html>