<cfinclude template="/exchange/security/check.cfm">

<cfquery name="ignore" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert into strength_ignore
 (strength_ignore_area_id, strength_ignore_usr_id, strength_ignore_company_id)
 values
 (#area_id#,#session.usr_id#, #session.company_id#)
</cfquery>

<cflocation URL="/exchange/my_assistant.cfm?u=1" addtoken="no">

