<cfinclude template="/exchange/security/check.cfm">

<cfif #button# is "Cancel">

     <cflocation URL="/exchange/" addtoken="no">

<cfelseif #button# is "Connect">

	<cfquery name="email" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 select usr_first_name, usr_last_name, usr_email from usr
	 where usr_id = #session.usr_id#
	</cfquery>

<cfmail from="Exchange <noreply@ratio.exchange>"
		  to="#email.usr_email#"
  username="noreply@ratio.exchange"
  password="Gofus107!"
	  port="25"
	useSSL="false"
	type="html"
	server="mail.ratio.exchange"
   subject="Exchange - Advisor Meeting">
<html>
<head>
<title>RATIO Exchange</title>
</head><div class="center">
<body class="body">

<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="ffffff">
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 20px; font-weight: bold; padding-top: 20px; padding-bottom: 10px;"><cfoutput>#email.usr_first_name#,</cfoutput></td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">Thanks for reaching out to us.   Look for an email or call within the next 24 hours to setup a meeting to talk about you, your company, and how to maximize the value of the Exchange.   This will be a brief meeting and focused on understanding what you need so we can recommend the right advisor.</td></tr>
 <tr><td>&nbsp;</td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;"><b>Thank You</b></td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">Exchange Suppport Team</td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">support@ratio.exchange</td></tr>

</table>
<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="000000">
 <tr><td height=75 valign=middle><img src="#image_virtual#/exchange_logo.png" width=160 hspace=10></td></tr>
</table>
</body>
</html>
</cfmail>

<cfmail from="Exchange <noreply@ratio.exchange?"
		  to="support@ratio.exchange"
  username="noreply@ratio.exchange"
  password="Gofus107!"
	  port="25"
	useSSL="false"
	type="html"
	server="mail.ratio.exchange"
   subject="Exchange - Advisor Requested">
<html>
<head>
<title>RATIO Exchange</title>
</head><div class="center">
<body class="body">

<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="ffffff">
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 20px; font-weight: bold; padding-top: 20px; padding-bottom: 10px;">Request Details</td></tr>
 <tr><td>&nbsp;</td></tr>
 <cfoutput>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">Name: #email.usr_first_name# #email.usr_last_name#</td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">Email: #email.usr_email#</td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">Background: #connect_background#</td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">Value: #connect_value#</td></tr>
 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">Time: #connect_time#</td></tr>
 </cfoutput>
</table>
<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="000000">
 <tr><td height=75 valign=middle><img src="#image_virtual#/exchange_logo.png" width=160 hspace=10></td></tr>
</table>

</body>
</html>
</cfmail>

     <cflocation URL="/exchange/index.cfm?u=8" addtoken="no">

</cfif>