<!--- Company Profile --->

	<cfquery name="followers" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	  select count(follow_id) as total from follow
	  where follow_company_id = #session.company_id#
	</cfquery>

	<div class="left_box" style="margin-top: 25px;">

	  <center>
	  <table cellspacing=0 cellpadding=0 border=0 width=100%>

	  <tr><td class="feed_header">STATS</td></tr>

	  <cfoutput>

	  <tr><td><hr></td></tr>

	  <tr><td align=center>

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>

	  <tr><td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/views.cfm">New Messages</a></td>
		  <td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;" align=center><b>#followers.total#</b></td></tr>

	  <tr><td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/views.cfm">Profile Views</a></td>
		  <td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;" align=center><b>#followers.total#</b></td></tr>

	  <tr><td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/followers.cfm">Followers</a></td>
		  <td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;" align=center><b>#followers.total#</b></td></tr>

		</table>
	  </td></tr>

	   </cfoutput>

	  </table>
	  </center>

	</div>
