<cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert eupdate(eupdate_update_id, eupdate_usr_id)
 values(#update_id#,#session.usr_id#)
</cfquery>

<cflocation URL="/exchange/index.cfm?u=0" addtoken="no">