<cfset StructDelete(Session,"feed_time")>
<cfset StructDelete(Session,"feed_category_id")>
<cfset StructDelete(Session,"feed_keyword")>

<cfif button is "Filter">

	<cfif isdefined("time")>
	 <cfset session.feed_time = #time#>
	</cfif>

	<cfif isdefined("feed_category_id")>
	 <cfset session.feed_category_id = #feed_category_id#>
	</cfif>

	<cfif isdefined("keyword")>
	 <cfset session.feed_keyword = #keyword#>
	</cfif>

</cfif>

<cflocation URL="/exchange/my_feeds.cfm" addtoken="no">