<cfinclude template="/exchange/security/check.cfm">

<cfif a is 1>

<cfquery name="add" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert into hub_app
 (
  hub_app_app_id,
  hub_app_hub_id,
  hub_app_installed_by_usr_id,
  hub_app_installed
  )
  values
  (
  #app_id#,
  #session.hub#,
  #session.usr_id#,
  #now()#
  )
</cfquery>

<cflocation URL="apps.cfm?u=1" addtoken="no">

<cfelse>

<cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete hub_app
 where hub_app_app_id = #app_id# and
       hub_app_hub_id = #session.hub#
</cfquery>

<cflocation URL="apps.cfm?u=2" addtoken="no">

</cfif>

