<div class="left_box">

<cfquery name="cats" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from app_category
 order by app_category_name
</cfquery>

<cfquery name="apps_all" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select count(app_id) as total from app
 where app_active = 1
</cfquery>

<cfquery name="apps_new" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select count(app_id) as total from app
 where app_active = 1 and
       app_new = 1
</cfquery>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header">App Categories</td>
  <tr><td><hr></td></tr>
</table>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
    <tr><td height=10></td></tr>

    <cfoutput>

	<tr><td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;"><img src="/images/icon_bluebox.png" height=10 width=10>&nbsp;&nbsp;&nbsp;<a href="/exchange/apps/">All Apps</a></td>
		    <td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;" align=right>#apps_all.total#</td></tr>

	<tr><td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;"><img src="/images/icon_bluebox.png" height=10 width=10>&nbsp;&nbsp;&nbsp;<a href="/exchange/apps/new_apps.cfm">New Apps</a></td>
	    <td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;" align=right>#apps_new.total#</td></tr>

	</tr>

	</cfoutput>

    <tr><td height=10></td></tr>
    <tr><td colspan=2><hr></td></tr>
    <tr><td height=10></td></tr>



	<cfloop query="cats">

		<cfquery name="apps" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		 select count(app_id) as total from app
		 where app_category_id = #cats.app_category_id# and
		 app_active = 1
		</cfquery>

	<cfoutput>
	<tr><td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;"><img src="/images/icon_bluebox.png" height=10 width=10>&nbsp;&nbsp;&nbsp;<a href="/exchange/apps/app_cat.cfm?i=#cats.app_category_id#">#cats.app_category_name#</a></td>
	    <td class="feed_sub_header" style="padding-top: 2px; padding-bottom: 2px;" align=right>#apps.total#</td></tr>
	</cfoutput>
	</cfloop>

    <tr><td height=10></td></tr>

</table>

</div>
