<cfinclude template="/exchange/security/check.cfm">

<cfquery name="support" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from ss
 where ss_hub_id = #session.hub# and
       ss_id = #i#
</cfquery>

<cfif isdefined("test_email")>
 <cfset to = #test_email#>
<cfelse>
 <cfset to = #decrypt(support.ss_email,session.key, "AES/CBC/PKCS5Padding", "HEX")#>
</cfif>

<cfmail from="BPN <noreply@ratio.exchange>"
		  to="#to#"
  username="noreply@ratio.exchange"
  password="Gofus107!"
	  port="25"
	useSSL="false"
	type="html"
	server="mail.ratio.exchange"
   subject="BPN Support Request - #support.ss_name#">
<html>
<head>
<title><cfoutput>#session.network_name#</cfoutput></title>
</head>
<body class="body">

<cfoutput>

<table cellspacing=0 cellpadding=0 border=0 width=675 bgcolor="ffffff">
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 20px;"><b>An administrative support request was received through the Booz Allen Partner Exchange.</b></td></tr>
 <tr><td height=20></td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>User: </b>#support_name#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Email:</b>#support_email#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Support Need:</b>#support.ss_name#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Partner Name:</b>#support_partner#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Client or Account:</b>#support_client#</td></tr>
 <tr><td height=20></td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>More Information</b></td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;">#support_message#</td></tr>
 <tr><td>&nbsp;</td></tr>
</table>
</cfoutput>

</body>
</html>

</cfmail>

<cflocation URL="index.cfm?u=1" addtoken="no">
