<cfinclude template="/exchange/security/check.cfm">

<cfif isdefined("test_email")>
 <cfset to = #test_email#>
<cfelse>
 <cfset to = "mediarelations@bah.com">
</cfif>

<cfmail from="BPN <noreply@ratio.exchange>"
		  to="#to#"
  username="noreply@ratio.exchange"
  password="Gofus107!"
	  port="25"
	useSSL="false"
	type="html"
	server="mail.ratio.exchange"
   subject="BPN Support Request - Explore Media Engagement">
<html>
<head>
<title><cfoutput>#session.network_name#</cfoutput></title>
</head>
<body class="body">

<cfoutput>

<table cellspacing=0 cellpadding=0 border=0 width=675 bgcolor="ffffff">
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 20px;"><b>An administrative support request was received through the Booz Allen Partner Exchange.</b></td></tr>
 <tr><td height=20></td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>User: </b>#support_name#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Email:</b>#support_email#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Support Need:</b>Explore Media Engagement</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Partner Name:</b>#support_partner#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Partner Media Contact:</b>#support_media_contact#</td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>Client or Account:</b>#support_client#</td></tr>
 <tr><td height=20></td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;"><b>About the Partnership/Why is it Newsworthy</b></td></tr>
 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;">#support_message#</td></tr>
 <tr><td>&nbsp;</td></tr>
</table>
</cfoutput>

</body>
</html>

</cfmail>

<cflocation URL="index.cfm?u=1" addtoken="no">
