<div class="left_box">

 <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="feed_header">Interview Progress</td>
       <td class="feed_header" align=right><img src="/images/icon_post.png" width=20></td></tr>
   <tr><td height=10></td></tr>
   <tr><td colspan=2><img src="/images/progress.png" width=210></td></tr>
   <tr><td height=5></td></tr>
   <tr><td colspan=2 class="link_small_gray">Great job, you're almost done!</td></tr>
 </table>

</div>