<cfinclude template="/exchange/security/check.cfm">

 <cfif filter is "" or button is "Clear">
  <cfset StructDelete(Session,"filter_keyword")>
 <cfelse>
 	<cfset session.filter_keyword = #filter#>
 </cfif>

<cfif location is 1>

	<cfif isdefined("sv")>
		<cflocation URL="vawards.cfm?i=#i#&contract_no=#contract_no#&duns=#duns#&sv=#sv#" addtoken="no">
	<cfelse>
		<cflocation URL="vawards.cfm?i=#i#&contract_no=#contract_no#&duns=#duns#" addtoken="no">
	</cfif>

<cfelse>

	<cfif isdefined("sv")>
		<cflocation URL="evawards.cfm?i=#i#&contract_no=#contract_no#&duns=#duns#&sv=#sv#" addtoken="no">
	<cfelse>
		<cflocation URL="evawards.cfm?i=#i#&contract_no=#contract_no#&duns=#duns#" addtoken="no">
	</cfif>


</cfif>