<cfinclude template="/exchange/security/check.cfm">

 <cfif filter is "">
  <cfset StructDelete(Session,"filter_keyword")>
 <cfelse>
 	<cfset session.filter_keyword = #filter#>
 </cfif>

<cfif isdefined("sv")>
	<cflocation URL="/exchange/vehicles/vendor_awards.cfm?duns=#duns#&contract_number=#contract_number#&sv=#sv#" addtoken="no">
<cfelse>

    <cflocation URL="/exchange/vehicles/vendor_awards.cfm?duns=#duns#&contract_number=#contract_number#" addtoken="no">
</cfif>