<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 update feed_interest
 set feed_interest_decision = 0
 where feed_interest_feed_id = #feed_id# and
       feed_interest_usr_id = #session.usr_id#
</cfquery>

<cflocation URL="index.cfm?u=1" addtoken="no">



