<cfif choice is 1>
 <cflocation URL="new.cfm" addtoken="no">
<cfelse>
 <cfif choice is 2>
  <cfif need_id is 0>
    <cflocation URL="add.cfm?u=1" addtoken="no">
  <cfelse>
    <cflocation URL="new_import.cfm?need_id=#need_id#" addtoken="no">
  </cfif>
 </cfif>
</cfif>