<cfquery name="universities" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select distinct(organization) from autm
 order by organization
</cfquery>

 <cfoutput>
	 <table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td class="feed_header"><img src="/images/icon_lab.png" width=18 align=absmiddle>&nbsp;&nbsp;&nbsp;Search University Innovations</td>
		  <td align=right></td></tr>
	   <tr><td colspan=2><hr></td></tr>
	 </table>
 </cfoutput>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>

  <form action="set.cfm" method="post">

   <tr>
	  <td class="feed_option"><b>Keyword</b></td>
	  <td class="feed_option"><b>Universities</b></td>
	  <td>&nbsp;</td>
   </tr>

   <tr>

		<cfoutput>

	    <td class="feed_option" width=300>
		  <input type="text" class="input_text" name="u_keyword" size=30 placeholder="i.e., machine learning" required <cfif isdefined("session.u_keyword")> value='#replaceNoCase(session.u_keyword,'"','',"all")#'></cfif>
		</td>

		</cfoutput>

	   <td class="feed_option" width=350>
		<select name="u_name" class="input_select" style="width: 300px;">
		<option value=0>ALL UNIVERSITIES
		<cfoutput query="universities">
		 <option value="#organization#" <cfif isdefined("session.u_name") and #session.u_name# is "#organization#">selected</cfif>><cfif #organization# is "">UNKNOWN<cfelse>#ucase(organization)#</cfif>
		</cfoutput>
		</td>

	   <td class="feed_option"><input class="button_blue" type="submit" name="button" value="Search">&nbsp;&nbsp;<input class="button_blue" type="submit" name="button" value="Clear"></td>

   </tr>

   <tr><td height=5></td></tr>
  </form>

  </table>

