<cfinclude template="/exchange/security/check.cfm">
<cfset session.check = 1>

<cfif option is 1>
	<cfif not isdefined("comp_id")>
	 <cflocation URL="results.cfm?u=1" addtoken="no">
	</cfif>
	<cflocation URL="associate.cfm?i=#comp_id#" addtoken="no">
<cfelseif option is 2>
	<cflocation URL="add.cfm" addtoken="no">
</cfif>