<cfquery name="id" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#" maxrows="100">
 select company_id from company
 where company_cb_id = '#id#'
</cfquery>

<cfset session.company_profile_id=#id.company_id#>

<cflocation URL="/exchange/include/company_profile.cfm?id=#session.company_profile_id#">