<cfset session.people_location = 1>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
<form action="people_set.cfm" method="post" onsubmit="javascript:document.getElementById('page-loader').style.display='block';">

<tr>
	<td class="feed_sub_header" style="padding-top: 0px;">Name</td>
	<td class="feed_sub_header" style="padding-top: 0px;">Title</td>
	<td class="feed_sub_header" style="padding-top: 0px;">Company</td>
	<td class="feed_sub_header" style="padding-top: 0px;">Market / Capability</td>
</tr>

<cfoutput>
	<tr>
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_name">
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_title">
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_company">
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_capability">
	   <td><input class="button_blue" type="submit" name="button" value="Search"></td>
	</tr>
</cfoutput>

<cfif isdefined("e")>
 <tr><td colspan=4 class="feed_sub_header" style="color: red; padding-bottom: 0px;">You must enter keywords for at least one of the fields above to search.</td></tr>
</cfif>

</form>

</table>

