<cfset session.people_location = 2>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
<form action="people_set.cfm" method="post" onsubmit="javascript:document.getElementById('page-loader').style.display='block';">

<tr>
	<td class="feed_sub_header" style="padding-top: 0px;">Name</td>
	<td class="feed_sub_header" style="padding-top: 0px;">Title</td>
	<td class="feed_sub_header" style="padding-top: 0px;">Company</td>
	<td class="feed_sub_header" style="padding-top: 0px;">Market / Capability</td>
</tr>

<cfoutput>
	<tr>
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_name" <cfif isdefined("session.people_search_name")>value="#replace(session.people_search_name,'"','','all')#"</cfif> onfocus="clearThis(this)"><cfif isdefined("session.people_search_name")><a href="remove.cfm?i=name"><img src="#image_virtual#/delete.png" width=15 hspace=5 alt="Clear" title="Clear"></a></cfif>
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_title" <cfif isdefined("session.people_search_title")>value="#replace(session.people_search_title,'"','','all')#"</cfif> onfocus="clearThis(this)"><cfif isdefined("session.people_search_title")><a href="remove.cfm?i=title"><img src="#image_virtual#/delete.png" width=15 hspace=5 alt="Clear" title="Clear"></a></cfif>
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_company" <cfif isdefined("session.people_search_company")>value="#replace(session.people_search_company,'"','','all')#"</cfif> onfocus="clearThis(this)"><cfif isdefined("session.people_search_company")><a href="remove.cfm?i=company"><img src="#image_virtual#/delete.png" width=15 hspace=5 alt="Clear" title="Clear"></a></cfif>
	   <td width=260><input class="input_text" type="text" style="width: 225px;" placeholder = "keyword" name="people_search_capability" <cfif isdefined("session.people_search_capability")>value="#replace(session.people_search_capability,'"','','all')#"</cfif> onfocus="clearThis(this)"><cfif isdefined("session.people_search_capability")><a href="remove.cfm?i=capability"><img src="#image_virtual#/delete.png" width=15 hspace=5 alt="Clear" title="Clear"></a></cfif>
	   <td><input class="button_blue" type="submit" name="button" value="Search"></td>
	</tr>
</cfoutput>

<cfif isdefined("e")>
 <tr><td colspan=4 class="feed_sub_header" style="color: red; padding-bottom: 0px;">You must enter keywords for at least one of the fields above to search.</td></tr>
</cfif>

</form>

</table>

