<cfoutput>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>
	<tr><td height=10></td></tr>

	 <tr><td valign=top width=110>

		 <table cellspacing=0 cellpadding=0 border=0 width=100%>

		  <tr><td align=center valign=top><a href="profile.cfm?i=#encrypt(list.person_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#"><img style="border-radius: 2px;" src="#list.person_photo#" width=120 height=120></tr>

	    <tr><td height=10></td></tr>

		 <tr><td align=center>

		 <cfif list.person_linkedin is not "">&nbsp;<a href="#list.person_linkedin#" target="_blank" rel="noopener"><img src="/images/icon_linkedin.png" width=20 alt="LinkedIn" title="LinkedIn"></a>&nbsp;</cfif>
		 <cfif list.person_facebook is not "">&nbsp;<a href="#list.person_facebook#" target="_blank" rel="noopener"><img src="/images/icon_facebook.png" width=20 alt="Facebook" title="Facebook"></a>&nbsp;</cfif>
		 <cfif list.person_facebook is not "">&nbsp;<a href="#list.person_twitter#" target="_blank" rel="noopener"><img src="/images/icon_twitter.png" width=20 alt="Twitter" title="Twitter"></a>&nbsp;</cfif>


		 </td><tr>

		 </table>

	 <td width=20>&nbsp;</td><td valign=top>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	 <tr><td class="feed_sub_header" style="padding-top: 0px; padding-bottom: 0px;"><a href="profile.cfm?i=#encrypt(list.person_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#" style="padding-top: 0px;">#list.person_full_name#</a></td>
		 <td align=right valign=top>
		 </td></tr>

		<tr><td class="feed_option" style="font-size: 16px; padding-top: 5px; padding-bottom: 0px;" colspan=2><b>#list.person_company#</b></td></tr>

	 <cfif #list.person_title# is not "">
		<tr><td class="feed_option" style="padding-top: 5px; padding-bottom: 8px;" colspan=2>#list.person_title#</td></tr>
	 <cfelse>
		<tr><td class="feed_option" style="padding-top: 5px; padding-bottom: 8px;" colspan=2>No Title Provided</td></tr>
	 </cfif>

	<tr><td class="feed_option" style="font-weight: normal;" colspan=2><img src="/images/icon-email_2.png" alt="Email Address" title="Email Address" width=20 valign=middle>&nbsp;&nbsp;<cfif list.person_email is not "">#list.person_email#<cfelse>Not Provided</cfif></td></tr>
	<tr><td class="feed_option" style="font-weight: normal;" colspan=2><img src="/images/icon-phone_2.png" alt="Work Phone" title="Work Phone" width=20 valign=middle>&nbsp;&nbsp;<cfif #list.person_phone# is not "">#list.person_phone#<cfelse>Not Provided</cfif></td></tr>
	<tr><td class="feed_option" style="font-weight: normal;" colspan=2><img src="/images/icon_cell_phone.png" alt="Cell Phone" title="Cell Phone" width=20 valign=middle>&nbsp;&nbsp;<cfif #list.person_cell# is not "">#list.person_cell#<cfelse>Not Provided</cfif></td></tr>

	<tr><td height=10></td></tr>

	</table>

	</td></tr>

	</table>

</cfoutput>
