<cfinclude template="/exchange/security/check.cfm">

<cfset count = 0>

<cfif isdefined("session.people_search_name")>
 <cfset count = count + 1>
</cfif>

<cfif isdefined("session.people_search_title")>
 <cfset count = count + 1>
</cfif>

<cfif isdefined("session.people_search_company")>
 <cfset count = count + 1>
</cfif>

<cfif isdefined("session.people_search_capability")>
 <cfset count = count + 1>
</cfif>

<cfif count is 1>

  <cflocation URL="results.cfm?e=1" addtoken="no">

<cfelse>

 <cfif i is "name">
 	<cfset StructDelete(Session,"people_search_name")>
 <cfelseif i is "title">
    <cfset StructDelete(Session,"people_search_title")>
 <cfelseif i is "company">
    <cfset StructDelete(Session,"people_search_company")>
 <cfelse>
	<cfset StructDelete(Session,"people_search_capability")>
 </cfif>

	<cflocation URL="results.cfm" addtoken="no">

</cfif>



