<cfinclude template="/exchange/security/check.cfm">

<cfquery name="info" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select * from person
 where person_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
</cfquery>

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
    <link rel="shortcut icon" type="image/png" href="/images/exchange.png">
	<link href="/include/exchange_style.css?v=4" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body" style="background-color: FFFFFF">

<script language="javascript" type="text/javascript">
function windowClose() {
window.open('','_parent','');
window.close();
}
</script>

<center>
<table cellspacing=0 cellpadding=0 border=0 width=100%>

         <tr><td height=20></td></tr>
         <tr><td class="feed_header">Add to Contacts</td>
             <td class="feed_header" align=right><img src="/images/delete.png" width=20 border=0 style="cursor: pointer;" onclick="windowClose();"></td></tr>
         <tr><td colspan=2><hr></td></tr>

</table>

</center>

</body>
</html>
