<cfset search_string = #replace(keyword,chr(34),'',"all")#>
<cfset search_string = #replace(search_string,'''','',"all")#>
<cfset search_string = #replace(search_string,')','',"all")#>
<cfset search_string = #replace(search_string,'(','',"all")#>
<cfset search_string = #replace(search_string,',','',"all")#>
<cfset search_string = #replace(search_string,':','',"all")#>
<cfset search_string = '"' & #search_string#>
<cfset search_string = #search_string# & '"'>
<cfset search_string = #replace(search_string,' or ','" or "',"all")#>
<cfset search_string = #replace(search_string,' and ','" and "',"all")#>
<cfset search_string = #replace(search_string,' and "not ',' and not "',"all")#>

<cfset session.sbir_search_keyword = #search_string#>
<cfset session.sbir_search_department = #department#>
<cfset session.sbir_search_state = #state#>
<cfset session.sbir_search_program = #program#>
<cfset session.sbir_search_phase = #phase#>
<cfset session.sbir_search_award_year = #award_year#>

<cflocation URL="search.cfm" addtoken="no">


