<!--- Portfolios --->

<div class="right_box">

	<center>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		  <tr><td class="feed_header" valign=bottom><b>Challenge Providers</b></td>
		      <td align=right valign=top></td></tr>
		  <tr><td colspan=2><hr></td></tr>
		  </table>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

           <tr><td height=10></td></tr>

           <tr>
              <td align=center><a href="set_provider.cfm?id=Kaggle"><img src="/images/logo_kaggle.png" width=80 border=0 alt="Kaggle" title="Kaggle"></a></td>
              <td align=center><a href="set_provider.cfm?id=Innocentive"><img src="/images/logo_innocentive.png" width=80 border=0 alt="Innocentive" title="Innocentive"></a></td>
           </tr>

           <tr><td colspan=3 height=20></td></tr>

           <tr>
              <td align=center><a href="set_provider.cfm?id=Ideaconnection"><img src="/images/logo_ideaconnection.png" width=80 border=0 alt="Ideaconnection" title="Ideaconnection"></a></td>
              <td align=center><a href="set_provider.cfm?id=Challenge.gov"><img src="/images/logo_challenge.png" width=80 border=0 alt="Challenge.gov" title="Challenge.gov"></a></td>
           </tr>

          </table>

	</center>

</div>



