<cfinclude template="/exchange/security/check.cfm">

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

<cfquery name="agency" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select distinct(fbo_agency) from fbo
 order by fbo_agency
</cfquery>

<cfquery name="type" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select distinct(fbo_type) from fbo
 order by fbo_type
</cfquery>

<cfquery name="setaside" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select distinct(fbo_setaside) from fbo
 order by fbo_setaside
</cfquery>

  <cfinclude template="/exchange/include/header.cfm">

      <div class="main_box">

        <table cellspacing=0 cellpadding=0 border=0 width=100%>
	     <tr><td class="feed_header">Add Search</td><td class="feed_option" align=right><a href="index.cfm">Return</a></td></tr>
         <tr><td height=10></td></tr>
        </table>

         <form action="edit_db.cfm" method="post">

         <table cellspacing=0 cellpadding=0 border=0 width=100%>

         <tr><td class="feed_option"><b>Search Name</b></td>
             <td class="feed_option"><input type="text" name="opp_search_name" style="width:300px;" required></td>
             </td></tr>

         <tr><td class="feed_option" valign=top><b>Description</b></td>
             <td class="feed_option"><textarea name="opp_search_desc" cols=70 rows=5></textarea></td>
             </td></tr>

         <tr><td class="feed_option"><b>Type</b></td>
             <td class="feed_option">
                  <select name="opp_search_type" style="width:100px;">
                   <option value=0>All
                   <cfoutput query="type">
                    <option value="#fbo_type#">#fbo_type#
                   </cfoutput>
                  </select>
              </td></tr>

         <tr><td class="feed_option"><b>Agency</b></td>
             <td class="feed_option">
                <select name="opp_search_dept" style="width:400px;">
                 <option value=0>All
                   <cfoutput query="agency">
                     <option value="#fbo_agency#">#fbo_agency#
                   </cfoutput>
                 </select>
              </td></tr>

          <tr><td class="feed_option"><b>From</b></td>
              <td class="feed_option"><input type="date" name="opp_search_posted_from" required></td>
              </td></tr>

          <tr><td class="feed_option"><b>To</b></td>
              <td class="feed_option"><input type="date" name="opp_search_posted_to" required></td>
              </td></tr>

          <tr><td class="feed_option"><b>NAICS Code(s) *</b></td>
              <td class="feed_option"><input type="text" name="opp_search_naics" style="width:250px;" maxlength="299"></td>
              </td></tr>

          <tr><td class="feed_option"><b>Product or Service *</b></td>
              <td class="feed_option"><input type="text" name="opp_search_psc" style="width: 250px;" maxlength="299"></td>
              </td></tr>

          <tr><td class="feed_option"><b>Small Business</b></td>
              <td class="feed_option">
				<select name="opp_search_setaside" style="width:300px;">
				 <option value=0>No Preference
				 <cfoutput query="setaside">
				 <option value="#fbo_setaside#">#fbo_setaside#
				 </cfoutput>
                </select></td></tr>

           <tr><td class="feed_option"><b>Keyword</b></td>
               <td class="feed_option"><input type="text" name="opp_search_keyword" style="width:400px;">
               </td></tr>

          <tr><td height=5></td></tr>
          <tr><td></td><td class="text_xsmall">* - Entering nothing will return all.  To search multiple values, seperate codes with a commma and no spaces.  For a complete code list, click here - <a href="https://www.census.gov/cgi-bin/sssd/naics/naicsrch?chart=2017" target="_blank" rel="noopener" rel="noreferrer">NAICS Code list</a>, or <a href="https://www.PROCUREMENTS/index?s=getstart&mode=list&tab=list&tabmode=list&static=faqs#q4" target="_blank" rel="noopener" rel="noreferrer">Product or Service Code list</a>.</td></tr>

          <tr><td height=10></td></tr>
          <tr><td></td><td>

          <input class="button_blue" style="font-size: 11px; height: 25px; width: 100px;" type="submit" name="button" value="Add">

          </td></tr>



        </table>

        </form>

	  </div>

<cfinclude template="/exchange/include/footer.cfm">

 </body>
</html>