<cfquery name="follow" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select follow_id from follow
 where follow_challenge_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
       follow_by_usr_id = #session.usr_id#
</cfquery>

<div class="left_box">

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="feed_sub_header" style="font-weight: normal;"><b>Interested in this Challenge?</b></td></tr>
   <tr><td><hr></td></tr>

   <tr><td height=10></td></tr>
   <tr><td align=center>

   <cfoutput>

	<cfif follow.recordcount is 0>
	  <a href="challenge_follow.cfm?i=#i#&f=y"><img src="/images/icon_interest_yes.png" width=100></a>&nbsp;&nbsp;
	  <img src="/images/icon_interest_no_selected.png" width=100>
	<cfelse>
	  <img src="/images/icon_interest_yes_selected.png" width=100>&nbsp;&nbsp;
	  <a href="challenge_follow.cfm?i=#i#&f=n"><img src="/images/icon_interest_no.png" width=100></a>
	</cfif>

	</cfoutput>

   </td></tr>

  </table>

</div>