<div class="left_box">

  <center>
  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header"><a href="/exchange/opps/">OPPORTUNITIES</a></td></tr>
  <tr><td><hr></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_fed.png" width=14 align=absmiddle>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/opps/">PROCUREMENTS</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_grants3.png" width=14 align=absmiddle>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/opps/grants.cfm">GRANTS</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_light.png" width=14 align=absmiddle>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/opps/sbir.cfm">SBIR/STTRs</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_info.png" width=14 align=absmiddle>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/opps/needs.cfm">NEEDS</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_challenge.png" width=14 align=absmiddle>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/opps/challenges.cfm">CHALLENGES</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_forecast2.png" width=15 align=absmiddle>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/opps/forecast/">OPPORTUNITY FORECAST</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_dashboard.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/compete/">COMPETITOR ANALYSIS</a></td></tr>
 </table>
  </center>

</div>

