<div class="left_box">

	<table cellspacing=0 cellpadding=0 border=0 width=100%>
	    <tr><td class="feed_header" colspan=2>Contract Quick Views</td>
	        <td align=right></td></tr>
	    <tr><td colspan=2><hr></td></tr>
	    <tr><td width=20><img src="/images/icon_box_gray.png" width=10></td>
	        <td class="feed_sub_header" style="padding-bottom: 2px; padding-top: 2px;"><a href="quick_results.cfm?kw=Industry Days">Industry Days</a></td>
	    </tr>

	    <tr><td width=20><img src="/images/icon_box_gray.png" width=10></td>
	        <td class="feed_sub_header" style="padding-bottom: 2px; padding-top: 2px;"><a href="opp_summary.cfm">By Product & Services</a></td>
	    </tr>

	    <tr><td height=20></td></tr>

	    <tr><td class="feed_header" colspan=2>Hot Topics</td>
	        <td align=right></td></tr>
	    <tr><td colspan=2><hr></td></tr>


	    <tr><td width=20><img src="/images/icon_box_gray.png" width=10></td>
	        <td class="feed_sub_header" style="padding-bottom: 2px; padding-top: 2px;"><a href="quick_results.cfm?kw=Covid-19 or Coronavirus">COVID-19, Coronavirus</a></td>
	    </tr>

	</table>
</div>

