 <cfquery name="agency" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
  select distinct(agency) from opp_sbir
  order by agency
 </cfquery>

 <cfquery name="updated" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
  select max(posteddate) as updated from opp_sbir
 </cfquery>

 <cfoutput>
	 <table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td class="feed_header" height=24>Search SBIR/STTRs</td>
	      <td class="feed_sub_header" align=right></td></tr>
	  <tr><td colspan=2 class="feed_sub_header" style="font-weight: normal;">SBIR/STTRs are needs from the Federal Government that provide companies and organizations with non-dillutive capital to solve.</td></tr>
	  <tr><td colspan=2><hr></td></tr>

	 </table>
 </cfoutput>

         <table cellspacing=0 cellpadding=0 border=0 width=100%>

         <form action="/exchange/opps/set_sbir.cfm" method="post">

          <tr>

			<cfoutput>
			<td class="feed_sub_header" width=75><b>Keyword</b></td>
 		    <td class="feed_option" width=375><input type="text" name="sbir_keyword" class="input_text" style="width: 350px;" maxlength="100" placeholder="Keyword" <cfif isdefined("session.sbir_keyword")>value="#session.sbir_keyword#"</cfif>></td>
            </cfoutput>
            <td class="feed_sub_header" width=75><b>Source</b></td>
            <td class="feed_option" width=125>

                  <select name="sbir_agency" class="input_select" style="width: 250px;">
                   <option value=0>ALL
                   <cfoutput query="agency">
                   <option value="#agency#" <cfif isdefined("session.sbir_agency") and #session.sbir_agency# is '#agency#'>selected</cfif>><cfif #agency# is "">NOT SPECIFIED<cfelse>#ucase(agency)#</cfif>
                   </cfoutput>
                  </select>

              </td>
			  <td>
			  <td class="feed_sub_header" width=50><b>Status</b></td>
  			  <td class="feed_option" width=160>

				<select name="sbir_status" class="input_select" style="width:140px">
				 <option value=1 <cfif isdefined("session.sbir_status") and #session.sbir_status# is 1>selected</cfif>>All SBIR/STTR's
				 <option value=2 <cfif isdefined("session.sbir_status") and #session.sbir_status# is 2>selected</cfif> <cfif not isdefined("session.sbir_status")>selected</cfif>>OPEN
				 <option value=3 <cfif isdefined("session.sbir_status") and #session.sbir_status# is 3>selected</cfif>>CLOSED
				</select>

			  </td>

		      <td><input class="button_blue" type="submit" name="button" value="Search"></td>

           </tr>

          </form>

         </table>

