  <cfquery name="total" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
  select count(fbo_id) as total from fbo
 </cfquery>

 <table cellspacing=0 cellpadding=0 border=0 width=100%>

  <cfoutput>

  <form action="set.cfm" method="post">

  <tr><td class="feed_header" valign=top>SEARCH OPPORTUNITIES (#ltrim(numberformat(total.total,'999,999'))#)</td>

      <td align=right valign=top><img src="/images/icon_search.png" height=24 hspace=10>

			<select name="opp_status" class="input_select" style="width:85px">
				<option value=1 <cfif isdefined("session.opp_status") and session.opp_status is 1>selected</cfif>>All
				<option value=2 <cfif isdefined("session.opp_status") and session.opp_status is 2>selected</cfif>>Active
				<option value=3 <cfif isdefined("session.opp_status") and session.opp_status is 3>selected</cfif>>Archived
			</select></td>

	  <td align=right width=260><input type="text" name="opp_keyword" class="input_text" maxlength="100" size="40" placeholder="Keyword" required <cfif isdefined("session.opp_keyword")>value="#session.opp_keyword#"</cfif>></td>
      <td align=right width=75 valign=top><input class="button_blue" type="submit" name="button" value="Search"></td></tr>
      <tr><td class="feed_option"><td colspan=3 class="feed_option" align=right><a href="/exchange/opps/advanced.cfm?i=2" style="font-size: 12"><b>Advanced Search</b></a></td><td></td></tr>

  </table>

  </form>
  </cfoutput>


