<cfset #session.challenge_outside_status# = #challenge_outside_status#>
<cfset #session.challenge_provider# = #challenge_provider#>
<cfset #session.challenge_sort# = #challenge_sort#>

<cflocation URL="/exchange/opps/challenges_outside.cfm" addtoken="no">
