<cfif button is "Filter">
 <cfif trim(opp_filter) is not "">
 	<cfset session.opp_filter = '#opp_filter#'>
 <cfelse>
	 <cfset StructDelete(Session,"opp_filter")>
 </cfif>
<cfelse>
 <cfset StructDelete(Session,"opp_filter")>
</cfif>

<cflocation URL="opp_summary.cfm" addtoken="no">


