<cfset #session.challenge_exchange_status# = #challenge_exchange_status#>
<cfset #session.exchange_id# = #exchange_id#>
<cfset #session.challenge_sort# = #challenge_sort#>

<cflocation URL="/exchange/opps/challenges_exchange.cfm" addtoken="no">
