  <cfset #session.sbir_agency# = #sbir_agency#>
  <cfset #session.sbir_status# = #sbir_status#>

  <cfset search_string = #replace(sbir_keyword,chr(34),'',"all")#>
  <cfset search_string = #replace(search_string,'''','',"all")#>
  <cfset search_string = #replace(search_string,')','',"all")#>
  <cfset search_string = #replace(search_string,'(','',"all")#>
  <cfset search_string = #replace(search_string,',','',"all")#>
  <cfset search_string = #replace(search_string,':','',"all")#>
  <cfset search_string = '"' & #search_string#>
  <cfset search_string = #search_string# & '"'>
  <cfset search_string = #replaceNoCase(search_string,' or ','" or "',"all")#>
  <cfset search_string = #replaceNoCase(search_string,' and ','" and "',"all")#>

  <cfset #session.sbir_keyword# = #search_string#>

 <cfquery name="insert" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
  insert into keyword_search
  (
   keyword_search_usr_id,
   keyword_search_company_id,
   keyword_search_hub_id,
   keyword_search_keyword,
   keyword_search_date,
   keyword_search_area
   )
   values
   (
   #session.usr_id#,
   #session.company_id#,
   <cfif isdefined("session.hub")>#session.hub#<cfelse>null</cfif>,
  '#sbir_keyword#',
   #now()#,
   10
   )
 </cfquery>

<cflocation URL="/exchange/opps/results_sbir.cfm" addtoken="no">
