  <cfset search_area = 11>

  <!--- Remove Invalid Characters --->

  <cfset need_k1 = #replace(need_keyword,"'","","all")#>
  <cfset need_k2 = #replace(need_keyword,"#chr(34)#","","all")#>

  <cfset #session.need_keyword# = #need_k2#>
  <cfset #session.need_status# = #need_status#>

 <cfquery name="insert" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
  insert into keyword_search
  (
   keyword_search_usr_id,
   keyword_search_company_id,
   keyword_search_hub_id,
   keyword_search_keyword,
   keyword_search_date,
   keyword_search_area
   )
   values
   (
   #session.usr_id#,
   #session.company_id#,
   <cfif isdefined("session.hub")>#session.hub#<cfelse>null</cfif>,
  '#session.need_keyword#',
   #now()#,
   #search_area#
   )
 </cfquery>

<cflocation URL="/exchange/opps/needs_results.cfm" addtoken="no">
