<cfquery name="list" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select * from class_code
 where class_code_source = 'beta.sam.gov'
</cfquery>

<cfloop query="list">
 <cfset new_name = #replace(list.class_code_name,'(','','all')#>
 <cfset new_name = #replace(new_name,')','','all')#>
 <cfset new_name = #replace(new_name,'-',' -','all')#>

 <cfset length = len(new_name)>
 <cfset new_name = mid(new_name,5,length)>

<cfquery name="update" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 update class_code
 set class_code_name = '#new_name#'
 where id = #list.id#
</cfquery>


</cfloop>

