 <cfsetting RequestTimeout = "900000">

 <!--- Update records to reflect 8a Status --->

 <cfquery name="update" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
  update sams
  set iseighta = 1
  where sba_bus_type_string like '%A6%'
 </cfquery>

 Done