<cfinclude template="/exchange/security/check.cfm">

<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete resource_category
 where resource_category_id = #resource_category_id#
</cfquery>

<cflocation URL="index.cfm" addtoken="no">
