r<cfinclude template="/exchange/security/check.cfm">

<cfif #button# is "Search">
 <cflocation URL="search_results.cfm?psc_search=#psc_search#" addtoken="no">
<cfelse>
 <cflocation URL="analyze.cfm?psc_code=#psc_search#" addtoken="no">
</cfif>