<cfquery name="dept" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select distinct(department) from labs
 where department is not null
 order by department
</cfquery>

 <cfoutput>
	 <table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td class="feed_header"><img src="/images/icon_lab.png" width=18 align=absmiddle>&nbsp;&nbsp;&nbsp;<a href="index.cfm">LAB TECHNOLOGIES</a></td>
		  <td align=right></td></tr>
	   <tr><td colspan=2><hr></td></tr>
	 </table>
 </cfoutput>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>

  <form action="set.cfm" method="post">

   <tr>
	  <td class="feed_option"><b>Department</b></td>
	  <td class="feed_option"><b>Keyword</b></td>
	  <td>&nbsp;</td>
   </tr>

   <tr>

	   <td class="feed_option" width=350>
		<select name="lab_department" class="input_select" style="width: 300px;">
		<option value=0>All Departments
		<cfoutput query="dept">
		 <option value="#department#" <cfif isdefined("session.lab_department") and #session.lab_department# is "#department#">selected</cfif>>#department#
		</cfoutput>
		</td>

		<cfoutput>

	   <td class="feed_option" width=300>
		<input type="text" class="input_text" name="lab_keyword" size=30 placeholder="keyword" required <cfif isdefined("session.lab_keyword")>value=#session.lab_keyword#</cfif>>
		</td>

		</cfoutput>

	   <td class="feed_option">
		<input class="button_blue" type="submit" name="button" value="Search">
		</td>

   </tr>

   <tr><td height=5></td></tr>
  </form>

  </table>

