<cfinclude template="/exchange/security/check.cfm">

<cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete feed_usr
 where feed_usr_feed_id = #feed_id# and
       feed_usr_usr_id = #session.usr_id#
</cfquery>

<cflocation URL="/exchange/my_feeds.cfm?u=1" addtoken="no">

