<cfinclude template="/exchange/security/check.cfm">

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title><link rel="shortcut icon" type="image/png" href="/images/exchange.png">
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

<!--- Build Query --->

   <cfquery name="awards" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	select count(id) as total, sum(base_and_all_options_value) as amount from award_data

	  where (awarding_agency_code = '#session.award_dept#' and
            ((action_date >= '#session.award_from#') and (action_date <= '#session.award_to#')) and
            (base_and_all_options_value >= 0 and federal_action_obligation >= 0 )

     		<cfif #session.award_state# is not 0>
     			and primary_place_of_performance_state_code = '#session.award_state#'
     		</cfif>

		 <cfif #session.award_state# is not 0>
			and primary_place_of_performance_state_code = '#session.award_state#'
		 </cfif>

		 <cfif #session.award_setaside# is not 0>
		   and type_of_set_aside_code = '#session.award_setaside#'
		 </cfif>

		 <cfif #listlen(session.award_naics)# GT 0>
			<cfif #listlen(session.award_naics)# GT 1>
			<cfset ncounter = 1>
			and (
			 <cfloop index="nc" list="#session.award_naics#">
			   (naics_code = '#nc#')
			   <cfif ncounter LT #listlen(session.award_naics)#> or</cfif>
			   <cfset ncounter = ncounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and naics_code = '#session.award_naics#'
			</cfif>
		 </cfif>

		 <cfif #listlen(session.award_psc)# GT 0>
			<cfif #listlen(session.award_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.award_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.award_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.award_psc#'
			</cfif>
		 </cfif>
            )
      <cfif #session.award_keyword# is not "">
	  and contains((award_description),'#session.award_keyword#')
	  </cfif>

   </cfquery>

  <!--- NAICS --->

  <cfquery name="naics_total" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	select naics_code, naics_description, count(id) as total, sum(federal_action_obligation) as obligated, sum(base_and_all_options_value) as amount from award_data

	  where (awarding_agency_code = '#session.award_dept#' and
            ((action_date >= '#session.award_from#') and (action_date <= '#session.award_to#')) and
            (base_and_all_options_value >= 0 and federal_action_obligation >= 0)

     		<cfif #session.award_state# is not 0>
     			and primary_place_of_performance_state_code = '#session.award_state#'
     		</cfif>

		 <cfif #session.award_state# is not 0>
			and primary_place_of_performance_state_code = '#session.award_state#'
		 </cfif>

		 <cfif #session.award_setaside# is not 0>
		   and type_of_set_aside_code = '#session.award_setaside#'
		 </cfif>

		 <cfif #listlen(session.award_naics)# GT 0>
			<cfif #listlen(session.award_naics)# GT 1>
			<cfset ncounter = 1>
			and (
			 <cfloop index="nc" list="#session.award_naics#">
			   (naics_code = '#nc#')
			   <cfif ncounter LT #listlen(session.award_naics)#> or</cfif>
			   <cfset ncounter = ncounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and naics_code = '#session.award_naics#'
			</cfif>
		 </cfif>

		 <cfif #listlen(session.award_psc)# GT 0>
			<cfif #listlen(session.award_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.award_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.award_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.award_psc#'
			</cfif>
		 </cfif>
            )
      <cfif #session.award_keyword# is not "">
	  and contains((award_description),'#session.award_keyword#')
	  </cfif>

     group by naics_code, naics_description
     order by amount DESC

   </cfquery>

  <!--- PSC --->

  <cfquery name="psc_total" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	select top(25) product_or_service_code, product_or_service_code_description, count(id) as total, sum(federal_action_obligation) as obligated, sum(base_and_all_options_value) as amount from award_data

	  where (awarding_agency_code = '#session.award_dept#' and
            ((action_date >= '#session.award_from#') and (action_date <= '#session.award_to#'))

     		<cfif #session.award_state# is not 0>
     			and primary_place_of_performance_state_code = '#session.award_state#'
     		</cfif>

		 <cfif #session.award_state# is not 0>
			and primary_place_of_performance_state_code = '#session.award_state#'
		 </cfif>

		 <cfif #session.award_setaside# is not 0>
		   and type_of_set_aside_code = '#session.award_setaside#'
		 </cfif>

		 <cfif #listlen(session.award_naics)# GT 0>
			<cfif #listlen(session.award_naics)# GT 1>
			<cfset ncounter = 1>
			and (
			 <cfloop index="nc" list="#session.award_naics#">
			   (naics_code = '#nc#')
			   <cfif ncounter LT #listlen(session.award_naics)#> or</cfif>
			   <cfset ncounter = ncounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and naics_code = '#session.award_naics#'
			</cfif>
		 </cfif>

		 <cfif #listlen(session.award_psc)# GT 0>
			<cfif #listlen(session.award_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.award_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.award_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.award_psc#'
			</cfif>
		 </cfif>
            )
      <cfif #session.award_keyword# is not "">
	  and contains((award_description),'#session.award_keyword#')
	  </cfif>

     group by product_or_service_code, product_or_service_code_description
     order by amount DESC

   </cfquery>

  <!--- Sub Agency --->

  <cfquery name="sub_agency" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	select awarding_sub_agency_code, awarding_sub_agency_name, count(id) as total, sum(federal_action_obligation) as obligated, sum(base_and_all_options_value) as amount from award_data

	  where (awarding_agency_code = '#session.award_dept#' and
            ((action_date >= '#session.award_from#') and (action_date <= '#session.award_to#')) and
            (base_and_all_options_value >= 0 and
            federal_action_obligation >= 0 )

     		<cfif #session.award_state# is not 0>
     			and primary_place_of_performance_state_code = '#session.award_state#'
     		</cfif>

		 <cfif #session.award_state# is not 0>
			and primary_place_of_performance_state_code = '#session.award_state#'
		 </cfif>

		 <cfif #session.award_setaside# is not 0>
		   and type_of_set_aside_code = '#session.award_setaside#'
		 </cfif>

		 <cfif #listlen(session.award_naics)# GT 0>
			<cfif #listlen(session.award_naics)# GT 1>
			<cfset ncounter = 1>
			and (
			 <cfloop index="nc" list="#session.award_naics#">
			   (naics_code = '#nc#')
			   <cfif ncounter LT #listlen(session.award_naics)#> or</cfif>
			   <cfset ncounter = ncounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and naics_code = '#session.award_naics#'
			</cfif>
		 </cfif>

		 <cfif #listlen(session.award_psc)# GT 0>
			<cfif #listlen(session.award_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.award_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.award_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.award_psc#'
			</cfif>
		 </cfif>
            )
      <cfif #session.award_keyword# is not "">
	  and contains((award_description),'#session.award_keyword#')
	  </cfif>

     group by awarding_sub_agency_code, awarding_sub_agency_name
     order by amount DESC

   </cfquery>

  <!--- Recipient --->

  <cfquery name="duns" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	select top(25) recipient_duns, recipient_name, count(id) as total, sum(federal_action_obligation) as obligated, sum(base_and_all_options_value) as amount from award_data

	  where (awarding_agency_code = '#session.award_dept#' and
            ((action_date >= '#session.award_from#') and (action_date <= '#session.award_to#'))

     		<cfif #session.award_state# is not 0>
     			and primary_place_of_performance_state_code = '#session.award_state#'
     		</cfif>

		 <cfif #session.award_state# is not 0>
			and primary_place_of_performance_state_code = '#session.award_state#'
		 </cfif>

		 <cfif #session.award_setaside# is not 0>
		   and type_of_set_aside_code = '#session.award_setaside#'
		 </cfif>

		 <cfif #listlen(session.award_naics)# GT 0>
			<cfif #listlen(session.award_naics)# GT 1>
			<cfset ncounter = 1>
			and (
			 <cfloop index="nc" list="#session.award_naics#">
			   (naics_code = '#nc#')
			   <cfif ncounter LT #listlen(session.award_naics)#> or</cfif>
			   <cfset ncounter = ncounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and naics_code = '#session.award_naics#'
			</cfif>
		 </cfif>

		 <cfif #listlen(session.award_psc)# GT 0>
			<cfif #listlen(session.award_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.award_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.award_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.award_psc#'
			</cfif>
		 </cfif>
            )
      <cfif #session.award_keyword# is not "">
	  and contains((award_description),'#session.award_keyword#')
	  </cfif>

     group by recipient_duns, recipient_name
     order by amount DESC

   </cfquery>


  <cfinclude template="/exchange/include/header.cfm">

      <div class="main_box">

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

          <cfif isdefined("session.award_search_name")>

		  <cfoutput>

           <tr><td class="feed_header">#ucase(session.award_search_name)#</td>
                <td class="feed_option" align=right><a href="/exchange/awards/award_search.cfm"><img src="/images/delete.png" border=0 width=20 alt="Close" title="Close"></a></td></tr>
           <tr><td colspan=2><hr></td></tr>
           <tr><td height=5></td></tr>
           <tr><td class="feed_sub_header">TOTAL ADDRESSABLE MARKET (TAM) DASHBOARD - BY ALLOCATIONS</td>
               <td class="feed_sub_header" align=right></td></tr>
           <tr><td class="feed_sub_header"><b><a href="/exchange/awards/award_search_dashboard_agency.cfm">By Total Obligations</a>&nbsp;|&nbsp;<a href="/exchange/awards/award_search_dashboard_value.cfm"><u>By Total Allocations</u></a></td></tr>

          </cfoutput>

          <cfelse>

           <tr><td class="feed_header">TOTAL ADDRESSABLE MARKET (TAM) DASHBOARD - BY ALLOCATIONS</td>
               <td class="feed_sub_header" align=right><a href="/exchange/awards/award_search.cfm"><img src="/images/delete.png" border=0 width=20 alt="Close" title="Close"></a></td></tr>
           <tr><td colspan=2><hr></td></tr>
           <tr><td class="feed_sub_header"><b><a href="/exchange/awards/award_search_dashboard_agency.cfm">By Total Obligations</a>&nbsp;|&nbsp;<a href="/exchange/awards/award_search_dashboard_value.cfm"><u>By Total Allocations</u></a></td></tr>

          </cfif>

          </table>

          <cfoutput>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
            <tr><td class="feed_sub_header">Total Allocations: #numberformat(awards.total,'999,999')#</td></tr>
            <tr><td class="feed_sub_header">Total Allocation Value: #numberformat(awards.amount,'$999,999,999')#</td></tr>
            <tr><td><hr></td></tr>

          </table>

          </cfoutput>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

           <tr>
              <td class="feed_sub_header" align=center>By NAICS Code</td>
              <td class="feed_sub_header" align=center>By Product or Service Code (Top 25)</td>
           </tr>

           <tr><td valign=top align=center width=49%>

 					<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 					<script type="text/javascript">
 					  google.charts.load('current', {'packages':['corechart']});
 					  google.charts.setOnLoadCallback(drawChart);

 					  function drawChart() {

 						var data = new google.visualization.DataTable();
 					    var chart = new google.visualization.PieChart(document.getElementById('naics_graph'));

 						data.addColumn('string','PSC');
 						data.addColumn('number','Awards');
 						data.addColumn('string','Code');

                        <cfset counter = 0>
 						data.addRows([
 						  <cfoutput query="naics_total">
 						  <cfif #amount# GTE 0>
							  <cfif counter LTE 25>
							   <cfset description = #replace(naics_description,"'","","all")#>
							   ['#description#',#round(amount)#,'/exchange/awards/award_search_detail_naics.cfm?val=#naics_code#'],
							  </cfif>
 						  </cfif>
 						  <cfset counter = counter + 1>
 						  </cfoutput>
 						]);

						var options = {
						legend: 'labeled',
						title: '',
			            chartArea:{left: 0, right: 0, top:20,width:'93%',height:'75%'},
						pieHole: 0.4,
						height: 425,
						fontSize: 12,
						};

 				 google.visualization.events.addListener(chart, 'select', function () {
 					var selection = chart.getSelection();
 					if (selection.length > 0) {
 					  window.open(data.getValue(selection[0].row, 2), '_blank');
 					  console.log(data.getValue(selection[0].row, 2));
 					}
 				  });

 				  function drawChart1() {
 					chart.draw(data, options);
 				  }
 				  drawChart1();

 					  }

 					</script>

				    <div id="naics_graph" style="width: 95%;"></div>


                 </td><td valign=top align=center width=49%>


  					<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  					<script type="text/javascript">
  					  google.charts.load('current', {'packages':['corechart']});
  					  google.charts.setOnLoadCallback(drawChart);

  					  function drawChart() {

  						var data = new google.visualization.DataTable();
  					    var chart = new google.visualization.PieChart(document.getElementById('psc_graph'));

  						data.addColumn('string','PSC');
  						data.addColumn('number','Awards');
  						data.addColumn('string','Code');

                         <cfset counter = 0>
  						data.addRows([

  						  <cfoutput query="psc_total">
  						  <cfif #amount# GTE 0>
 							  <cfif counter LTE 25>
 							   ['#product_or_service_code_description#',#round(amount)#,'/exchange/awards/award_search_detail_psc.cfm?val=#product_or_service_code#'],
 							  </cfif>
  						  </cfif>
  						  <cfset counter = counter + 1>
  						  </cfoutput>
  						]);

 						var options = {
 						legend: 'labeled',
 						title: '',
 			            chartArea:{left: 0, right: 0, top:20,width:'93%',height:'75%'},
 						pieHole: 0.4,
 						height: 425,
 						fontSize: 12,
 						};

  				 google.visualization.events.addListener(chart, 'select', function () {
  					var selection = chart.getSelection();
  					if (selection.length > 0) {
  					  window.open(data.getValue(selection[0].row, 2), '_blank');
  					  console.log(data.getValue(selection[0].row, 2));
  					}
  				  });

  				  function drawChart1() {
  					chart.draw(data, options);
  				  }
  				  drawChart1();

  					  }

  					</script>

				    <div id="psc_graph" style="width: 95%;"></div>

				    </td></tr>


           <tr>
           		<td class="feed_sub_header" align=center>By Agency</td>
           		<td class="feed_sub_header" align=center>By Vendor (Top 25)</td>
           </tr>

           <tr><td>&nbsp;</td></tr>

				    <tr><td valign=top align=center>

 					<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 					<script type="text/javascript">
 					  google.charts.load('current', {'packages':['corechart']});
 					  google.charts.setOnLoadCallback(drawChart);

 					  function drawChart() {

 						var data = new google.visualization.DataTable();
 					    var chart = new google.visualization.PieChart(document.getElementById('agency'));

 						data.addColumn('string','Agency');
 						data.addColumn('number','Award Value');
 						data.addColumn('string','Code');

                        <cfset counter = 0>
 						data.addRows([
 						  <cfoutput query="sub_agency">
 						  <cfif #amount# GTE 0>
							  <cfif counter LTE 25>
							   <cfset description = #replace(awarding_sub_agency_name,"'","","all")#>
							   ['#description#',#round(amount)#,'/exchange/awards/award_search_detail_agency.cfm?val=#awarding_sub_agency_code#'],
							  </cfif>
 						  </cfif>
 						  <cfset counter = counter + 1>
 						  </cfoutput>
 						]);

						var options = {
						legend: 'labeled',
						title: '',
			            chartArea:{left: 0, right: 0, top:20,width:'93%',height:'75%'},
						pieHole: 0.4,
						height: 425,
						fontSize: 12,
						};

 				 google.visualization.events.addListener(chart, 'select', function () {
 					var selection = chart.getSelection();
 					if (selection.length > 0) {
 					  window.open(data.getValue(selection[0].row, 2), '_blank');
 					  console.log(data.getValue(selection[0].row, 2));
 					}
 				  });

 				  function drawChart1() {
 					chart.draw(data, options);
 				  }
 				  drawChart1();

 					  }

 					</script>

				    <div id="agency" style="width: 95%;"></div>

				    </td><td valign=top align=center>


 					<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 					<script type="text/javascript">
 					  google.charts.load('current', {'packages':['corechart']});
 					  google.charts.setOnLoadCallback(drawChart);

 					  function drawChart() {

 						var data = new google.visualization.DataTable();
 					    var chart = new google.visualization.PieChart(document.getElementById('duns'));

 						data.addColumn('string','Vendor');
 						data.addColumn('number','Award Value');
 						data.addColumn('string','Code');

                        <cfset counter = 0>
 						data.addRows([
 						  <cfoutput query="duns">
 						  <cfif #amount# GTE 0>
							  <cfif counter LTE 25>
							   <cfset description = #replace(recipient_name,"'","","all")#>
							   ['#description#',#round(amount)#,'/exchange/awards/award_search_detail_vendor.cfm?val=#recipient_duns#'],
							  </cfif>
 						  </cfif>
 						  <cfset counter = counter + 1>
 						  </cfoutput>
 						]);

						var options = {
						legend: 'labeled',
						title: '',
			            chartArea:{left: 0, right: 0, top:20,width:'93%',height:'75%'},
						pieHole: 0.4,
						height: 425,
						fontSize: 12,
						};

 				 google.visualization.events.addListener(chart, 'select', function () {
 					var selection = chart.getSelection();
 					if (selection.length > 0) {
 					  window.open(data.getValue(selection[0].row, 2), '_blank');
 					  console.log(data.getValue(selection[0].row, 2));
 					}
 				  });

 				  function drawChart1() {
 					chart.draw(data, options);
 				  }
 				  drawChart1();

 					  }

 					</script>

				    <div id="duns" style="width: 95%;"></div>
				    </td></tr>
             </table>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

          <tr><td colspan=2 class="feed_sub_header"><b>Award Data</b></td></tr>
          <tr><td>&nbsp;</td></tr>

		  <tr><td valign=top>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

		   <tr><td class="feed_option"><b>NAICS</b></td>
		       <td class="feed_option"><b>Description</b></td>
		       <td class="feed_option" align=center><b>Awards *</b></td>
		       <td class="feed_option" align=right><b>Awarded</b></td>
		       <td class="feed_option" align=right><b>Allocated</b></td>
		       <td class="feed_option" align=right><b>Available</b></td>

		       </tr>

		  <cfoutput query="naics_total">
		   <tr><td class="feed_option" width=75 valign=top><a href="award_search_detail_naics.cfm?val=#naics_code#" target="_blank" rel="noopener" rel="noreferrer"><b>#naics_code#</b></a></td>
		       <td class="feed_option" valign=top><a href="award_search_detail_naics.cfm?val=#naics_code#" target="_blank" rel="noopener" rel="noreferrer"><b>#naics_description#</b></a></td>
		       <td class="feed_option" valign=top align=center width=75>#total#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(obligated,'$999,999,999')#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(amount,'$999,999,999')#</td>

               <td class="feed_option" align=right width=60 valign=top>

               <cfif evaluate(amount-obligated) LTE 0>
                <a href="award_search_detail_naics.cfm?val=#naics_code#" target="_blank" rel="noopener" rel="noreferrer"><progress value="10" max="10" alt="$0.00" title="$0.00" style="width:40px;"></progress></a>
               <cfelse>
                <a href="award_search_detail_naics.cfm?val=#naics_code#" target="_blank" rel="noopener" rel="noreferrer"><progress value="#obligated#" max="#amount#" alt="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" title="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" style="width:40px;"></progress></a>
               </cfif>
               </td>

		       </tr>

		  </cfoutput>

		  <tr><td>&nbsp;</td></tr>

		   <tr><td class="feed_option" colspan=2><b>Agency</b></td>
		       <td class="feed_option" align=center><b>Awards *</b></td>
		       <td class="feed_option" align=right><b>Awarded</b></td>
		       <td class="feed_option" align=right><b>Allocated</b></td>
		       <td class="feed_option" align=right><b>Available</b></td>
		   </tr>

		  <cfoutput query="sub_agency">
		   <tr><td class="feed_option" colspan=2><a href="award_search_detail_agency.cfm?val=#awarding_sub_agency_code#" target="_blank" rel="noopener" rel="noreferrer"><b>#awarding_sub_agency_name#</b></a></td>
		       <td class="feed_option" align=center width=75>#total#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(obligated,'$999,999,999')#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(amount,'$999,999,999')#</td>


               <td class="feed_option" align=right width=60 valign=top>

               <cfif evaluate(amount-obligated) LTE 0>
                <a href="award_search_detail_agency.cfm?val=#awarding_sub_agency_code#" target="_blank" rel="noopener" rel="noreferrer"><progress value="10" max="10" alt="$0.00" title="$0.00" style="width:40px;"></progress></a>
               <cfelse>
                <a href="award_search_detail_agency.cfm?val=#awarding_sub_agency_code#" target="_blank" rel="noopener" rel="noreferrer"><progress value="#obligated#" max="#amount#" alt="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" title="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" style="width:40px;"></progress></a>
               </cfif>
               </td>
           </tr>
		  </cfoutput>

		  <tr><td>&nbsp;</td></tr>

		   <tr><td class="feed_option" colspan=2><b>Vendor</b></td>
		       <td class="feed_option" align=center><b>Awards *</b></td>
		       <td class="feed_option" align=right><b>Awarded</b></td>
		       <td class="feed_option" align=right><b>Allocated</b></td>
		       <td class="feed_option" align=right><b>Available</b></td>
           </tr>

		  <cfoutput query="duns">
		   <tr><td class="feed_option" colspan=2><a href="award_search_detail_vendor.cfm?val=#recipient_duns#" target="_blank" rel="noopener" rel="noreferrer"><b>#recipient_name#</b></a></td>
		       <td class="feed_option" align=center width=75>#total#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(obligated,'$999,999,999')#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(amount,'$999,999,999')#</td>


               <td class="feed_option" align=right width=60 valign=top>

               <cfif evaluate(amount-obligated) LTE 0>
                <a href="award_search_detail_vendor.cfm?val=#recipient_duns#" target="_blank" rel="noopener" rel="noreferrer"><progress value="10" max="10" alt="$0.00" title="$0.00" style="width:40px;"></progress></a>
               <cfelse>
                <a href="award_search_detail_vendor.cfm?val=#recipient_duns#" target="_blank" rel="noopener" rel="noreferrer"><progress value="#obligated#" max="#amount#" alt="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" title="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" style="width:40px;"></progress></a>
               </cfif>
               </td>


           </tr>
		  </cfoutput>

          </table>

		      </td><td width=50>&nbsp;</td><td valign=top>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

		   <tr><td class="feed_option"><b>PSC</b></td>
		       <td class="feed_option"><b>Description</b></td>
		       <td class="feed_option" align=center><b>Awards *</b></td>
		       <td class="feed_option" align=right><b>Awarded</b></td>
		       <td class="feed_option" align=right><b>Obligated</b></td>
		       <td class="feed_option" align=right><b>Available</b></td>
           </tr>

		  <cfoutput query="psc_total">
		   <tr><td class="feed_option" valign=top width=50 valign=top><a href="award_search_detail_psc.cfm?val=#product_or_service_code#" target="_blank" rel="noopener" rel="noreferrer"><b>#product_or_service_code#</b></a></td>
		       <td class="feed_option" valign=top><a href="award_search_detail_psc.cfm?val=#product_or_service_code#" target="_blank" rel="noopener" rel="noreferrer"><b>#product_or_service_code_description#</b></a></td>
		       <td class="feed_option" align=center valign=top width=75>#total#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(obligated,'$999,999,999')#</td>
		       <td class="feed_option" valign=top align=right width=100>#numberformat(amount,'$999,999,999')#</td>


               <td class="feed_option" align=right width=60 valign=top>

               <cfif evaluate(amount-obligated) LTE 0>
                <a href="award_search_detail_psc.cfm?val=#product_or_service_code#" target="_blank" rel="noopener" rel="noreferrer"><progress value="10" max="10" alt="$0.00" title="$0.00" style="width:40px;"></progress></a>
               <cfelse>
                <a href="award_search_detail_psc.cfm?val=#product_or_service_code#" target="_blank" rel="noopener" rel="noreferrer"><a href="award_search_detail_psc.cfm?val=#product_or_service_code#" target="_blank" rel="noopener" rel="noreferrer"><progress value="#obligated#" max="#amount#" alt="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" title="#numberformat(evaluate(amount-obligated),'$999,999,999,999')#" style="width:40px;"></progress></a>
               </cfif>
               </td>




           </tr>
		  </cfoutput>

		  </table>

		     </td><td width=30>&nbsp;</td></tr>

          <tr><td>&nbsp;</td></tr>
		  <tr><td class="text_xsmall" colspan=3><i>* - Award totals do not include actions that do not have dollars allocated.   To view all awards for a naics, psc, agency, or vendor click on the appropriate area to return ALL actions.</i></td></tr>


		  </table>

  	  </div>

<cfinclude template="/exchange/include/footer.cfm">

 </body>
</html>