<div class="left_box">

  <center>
  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header"><a href="/exchange/awards/">RESEARCH</a></td></tr>
  <tr><td height=5></td></tr>
  <tr><td><hr></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_fed.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/awards/">FEDERAL AWARDS</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_grants3.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/grants/" onclick="javascript:document.getElementById('page-loader').style.display='block';">FEDERAL GRANTS</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_light.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/sbir/" onclick="javascript:document.getElementById('page-loader').style.display='block';">FEDERAL SBIR/STTRs</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_vehicle2.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/vehicles/" onclick="javascript:document.getElementById('page-loader').style.display='block';">CONTRACT VEHICLES</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_broker.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/opps/poc/" onclick="javascript:document.getElementById('page-loader').style.display='block';">CONTRACTING POCs</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_search.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/source/" onclick="javascript:document.getElementById('page-loader').style.display='block';">SOURCING</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_patent.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/patents/" onclick="javascript:document.getElementById('page-loader').style.display='block';">PATENTS</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/icon_lab.png" width=15>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/research/labs/">LAB TECHNOLOGIES</a></td></tr>
  <tr><td height=20></td></tr>
 </table>


  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header" valign=absmiddle>AWARD SNAPSHOTS</td></tr>
  <tr><td><hr></td></tr>
  <tr><td height=5></td></tr>
  </table>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <form action="/exchange/awards/jump_set.cfm" method="post">
  <tr><td>

              <select name="jump" class="input_select" style="width: 220px;" onchange='if(this.value != 0) { this.form.submit(); }'>
               <option value=0>SELECT VIEW
               <option value=1>BY DEPARTMENT
               <option value=2>BY STATE
               <option value=3>BY NAICS CODE
               <option value=4>BY PSC CODE
               <option value=5>BY SET ASIDES
              </select>

  </td></tr>
  </form>

 </table>


  </center>



</div>

