<cfinclude template="/exchange/security/check.cfm">

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title><link rel="shortcut icon" type="image/png" href="/images/exchange.png">
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

<!--- Build Query --->

<cfif not isdefined("sv")>
 <cfset sv = 1>
</cfif>

<cfif isdefined("award_view_id")>

<cfquery name="view" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from award_view
 where award_view_usr_id = #session.usr_id# and
       award_view_id = #award_view_id#
</cfquery>

  <cfquery name="agencies" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	  select action_date, award_id_piid, modification_number, recipient_name, recipient_duns, recipient_city_name, recipient_state_code, awarding_agency_name, awarding_sub_agency_name, awarding_office_name, award_description, primary_place_of_performance_city_name, primary_place_of_performance_state_code, naics_code, product_or_service_code, product_or_service_code_description, type_of_contract_pricing, type_of_set_aside, period_of_performance_start_date, period_of_performance_current_end_date, federal_action_obligation, base_and_all_options_value, id from award_data

    where (action_date between '#session.view_from#' and '#session.view_to#'

		 <cfif #session.view_dept# is not 0>
		   and awarding_agency_code = '#session.view_dept#'
		 </cfif>

         <cfif session.location_type is 1>
          <cfif #session.view_state# is not 0>
		   and recipient_state_code = '#session.view_state#'
		  </cfif>
		 <cfelse>
          <cfif #session.view_state# is not 0>
		   and primary_place_of_performance_state_code = '#session.view_state#'
		  </cfif>
		 </cfif>

		 <cfif #session.view_setaside# is not 0>
		   and type_of_set_aside_code = '#session.view_setaside#'
		 </cfif>

		 <cfif #listlen(session.view_duns)# GT 0>
			<cfif #listlen(session.view_duns)# GT 1>
			<cfset dcounter = 1>
			and (
			 <cfloop index="dc" list="#session.view_duns#">
			   (recipient_duns = '#dc#')
			   <cfif dcounter LT #listlen(session.view_duns)#> or</cfif>
			   <cfset dcounter = dcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and recipient_duns = '#session.view_duns#'
			</cfif>
		 </cfif>

		 and naics_code = '#val#'

		 <cfif #listlen(session.view_psc)# GT 0>
			<cfif #listlen(session.view_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.view_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.view_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.view_psc#'
			</cfif>
		 </cfif> )

      <cfif #session.award_keyword# is not "">
	   and contains((award_description),'#session.award_keyword#')
	  </cfif>

	<cfif #sv# is 1>
	 order by action_date DESC
	<cfelseif #sv# is 10>
	 order by action_date ASC
	<cfelseif #sv# is 2>
	 order by award_id_piid ASC, modification_number ASC
	<cfelseif #sv# is 20>
	 order by award_id_piid DESC, modification_number ASC
	<cfelseif #sv# is 4>
	 order by recipient_name ASC
	<cfelseif #sv# is 40>
	 order by recipient_name DESC
	<cfelseif #sv# is 5>
	 order by recipient_state_code ASC, recipient_city_name ASC
	<cfelseif #sv# is 50>
	 order by recipient_state_code ASC, recipient_city_name DESC
	<cfelseif #sv# is 6>
	 order by recipient_state_code ASC
	<cfelseif #sv# is 60>
	 order by recipient_state_code DESC
	<cfelseif #sv# is 7>
	 order by awarding_office_name ASC
	<cfelseif #sv# is 70>
	 order by awarding_office_name DESC
	<cfelseif #sv# is 8>
	 order by naics_code ASC
	<cfelseif #sv# is 80>
	 order by naics_code DESC
	<cfelseif #sv# is 9>
	 order by product_or_service_code ASC
	<cfelseif #sv# is 90>
	 order by product_or_service_code DESC
	<cfelseif #sv# is 10>
	 order by period_of_performance_state_date DESC
	<cfelseif #sv# is 100>
	 order by period_of_performance_start_date ASC
	<cfelseif #sv# is 11>
	 order by period_of_performance_current_end_date DESC
	<cfelseif #sv# is 110>
	 order by period_of_performance_current_end_date ASC
	<cfelseif #sv# is 12>
	 order by federal_action_obligation DESC
	<cfelseif #sv# is 120>
	 order by federal_action_obligation ASC
	<cfelseif #sv# is 13>
	 order by type_of_set_aside ASC
	<cfelseif #sv# is 130>
	 order by type_of_set_aside DESC
	<cfelseif #sv# is 14>
	 order by type_of_contract_pricing ASC
	<cfelseif #sv# is 140>
	 order by type_of_contract_pricing DESC
	<cfelseif #sv# is 15>
	 order by awarding_sub_agency_name ASC
	<cfelseif #sv# is 150>
	 order by awarding_sub_agency_name DESC
	<cfelseif #sv# is 16>
	 order by bsae_and_all_options_value DESC
	<cfelseif #sv# is 160>
	 order by base_and_all_options_value ASC
	</cfif>

   </cfquery>

<cfelse>

   <cfquery name="agencies" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	  select action_date, award_id_piid, modification_number, recipient_name, recipient_duns, recipient_city_name, recipient_state_code, awarding_agency_name, awarding_sub_agency_name, awarding_office_name, award_description, primary_place_of_performance_city_name, primary_place_of_performance_state_code, naics_code, product_or_service_code, product_or_service_code_description, type_of_contract_pricing, type_of_set_aside, period_of_performance_start_date, period_of_performance_current_end_date, federal_action_obligation, base_and_all_options_value, id from award_data
      where (awarding_agency_code = '#session.award_dept#' and
            ((action_date >= '#session.award_from#') and (action_date <= '#session.award_to#'))

     		<cfif #session.award_state# is not 0>
     			and primary_place_of_performance_state_code = '#session.award_state#'
     		</cfif>

		 <cfif #session.award_state# is not 0>
			and primary_place_of_performance_state_code = '#session.award_state#'
		 </cfif>

		 <cfif #session.award_setaside# is not 0>
		   and type_of_set_aside_code = '#session.award_setaside#'
		 </cfif>

		 and naics_code = '#val#'

		 <cfif #listlen(session.award_psc)# GT 0>
			<cfif #listlen(session.award_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.award_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.award_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.award_psc#'
			</cfif>
		 </cfif>
            )

      <cfif #session.award_keyword# is not "">
	   and contains((award_description),'#session.award_keyword#')
	  </cfif>

	<cfif #sv# is 1>
	 order by action_date DESC
	<cfelseif #sv# is 10>
	 order by action_date ASC
	<cfelseif #sv# is 2>
	 order by award_id_piid ASC, modification_number ASC
	<cfelseif #sv# is 20>
	 order by award_id_piid DESC, modification_number ASC
	<cfelseif #sv# is 4>
	 order by recipient_name ASC
	<cfelseif #sv# is 40>
	 order by recipient_name DESC
	<cfelseif #sv# is 5>
	 order by recipient_state_code ASC, recipient_city_name ASC
	<cfelseif #sv# is 50>
	 order by recipient_state_code ASC, recipient_city_name DESC
	<cfelseif #sv# is 6>
	 order by recipient_state_code ASC
	<cfelseif #sv# is 60>
	 order by recipient_state_code DESC
	<cfelseif #sv# is 7>
	 order by awarding_office_name ASC
	<cfelseif #sv# is 70>
	 order by awarding_office_name DESC
	<cfelseif #sv# is 8>
	 order by naics_code ASC
	<cfelseif #sv# is 80>
	 order by naics_code DESC
	<cfelseif #sv# is 9>
	 order by product_or_service_code ASC
	<cfelseif #sv# is 90>
	 order by product_or_service_code DESC
	<cfelseif #sv# is 10>
	 order by period_of_performance_state_date DESC
	<cfelseif #sv# is 100>
	 order by period_of_performance_start_date ASC
	<cfelseif #sv# is 11>
	 order by period_of_performance_current_end_date DESC
	<cfelseif #sv# is 110>
	 order by period_of_performance_current_end_date ASC
	<cfelseif #sv# is 12>
	 order by federal_action_obligation DESC
	<cfelseif #sv# is 120>
	 order by federal_action_obligation ASC
	<cfelseif #sv# is 13>
	 order by type_of_set_aside ASC
	<cfelseif #sv# is 130>
	 order by type_of_set_aside DESC
	<cfelseif #sv# is 14>
	 order by type_of_contract_pricing ASC
	<cfelseif #sv# is 140>
	 order by type_of_contract_pricing DESC
	<cfelseif #sv# is 15>
	 order by awarding_sub_agency_name ASC
	<cfelseif #sv# is 150>
	 order by awarding_sub_agency_name DESC
	<cfelseif #sv# is 16>
	 order by base_and_all_options_value DESC
	<cfelseif #sv# is 160>
	 order by base_and_all_options_value ASC
	</cfif>

   </cfquery>

</cfif>

   <cfif isdefined("export")>

	 <cfinclude template="/exchange/include/export_to_excel.cfm">

	</cfif>

<cfflush interval=100>

<cfparam name="URL.PageId" default="0">
<cfset RecordsPerPage = 250>
<cfset TotalPages = (agencies.Recordcount/RecordsPerPage)>
<cfset StartRow = (URL.PageId*RecordsPerPage)+1>
<cfset EndRow = StartRow+RecordsPerPage-1>

  <cfinclude template="/exchange/include/header.cfm">

      <div class="main_box">

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
          <cfoutput>
           <tr><td class="feed_header"><b>Detail Awards - By NAICS Code</b></td>
              <td class="feed_sub_header" align=right></td></tr>
          </cfoutput>
           <tr><td colspan=2><hr></td></tr>

           <tr><td colspan=2 class="feed_sub_header" align=right>

              <cfoutput>
              <a href="award_search_detail_naics.cfm?export=1&val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif><cfif isdefined("sv")>&sv=#sv#</cfif>"><img src="/images/icon_export_excel.png" hspace=10 align=absmiddle width=20 border=0 alt="Export to Excel" title="Export to Excel"></a>

              <a href="award_search_detail_naics.cfm?export=1&val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif><cfif isdefined("sv")>&sv=#sv#</cfif>">Export to Excel</a>


              </cfoutput>
           </td></tr>


          </table>

          <table cellspacing=0 cellpadding=0 border=0 width=100%>

          <cfif agencies.recordcount is 0>
           <tr><td class="feed_option">No awards or mods were found with the information you entered.</td></tr>
          <cfelse>

           <tr><td class="feed_option" colspan=4 align=right>

				  <cfif agencies.recordcount GT #RecordsPerPage#>
					  <b>Page: </b>&nbsp;|
					  <cfloop index="Pages" from="0" to="#TotalPages#">
					   <cfoutput>
					   <cfset DisplayPgNo = Pages+1>
						  <cfif URL.PageId eq pages>
							 <b>#DisplayPgNo#</b>&nbsp;|&nbsp;
						  <cfelse>
							 <a href="?pageid=#pages#&val=#val#&<cfif isdefined("sv")>sv=#sv#</cfif>">#DisplayPgNo#</a>&nbsp;|&nbsp;
						  </cfif>
					   </cfoutput>
					  </cfloop>
				   </cfif>
           </td></tr>

           <tr><td height=10></td></tr>

          <cfoutput>

			  <tr>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=1<cfelse><cfif #sv# is 1>sv=10<cfelse>sv=1</cfif></cfif>"><b>Action Date</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=2<cfelse><cfif #sv# is 2>sv=20<cfelse>sv=2</cfif></cfif>"><b>Contract ##</b></a></td>
				 <td class="text_xsmall"><b>Mod</b></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=4<cfelse><cfif #sv# is 4>sv=40<cfelse>sv=4</cfif></cfif>"><b>Vendor</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=5<cfelse><cfif #sv# is 5>sv=50<cfelse>sv=5</cfif></cfif>"><b>City</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=6<cfelse><cfif #sv# is 6>sv=60<cfelse>sv=6</cfif></cfif>"><b>State</b></a></td>
				 <td class="text_xsmall"><b>Award Description</b></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=15<cfelse><cfif #sv# is 15>sv=150<cfelse>sv=15</cfif></cfif>"><b>Agency</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=7<cfelse><cfif #sv# is 7>sv=70<cfelse>sv=7</cfif></cfif>"><b>Office</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=8<cfelse><cfif #sv# is 8>sv=80<cfelse>sv=8</cfif></cfif>"><b>NAICS</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=9<cfelse><cfif #sv# is 9>sv=90<cfelse>sv=9</cfif></cfif>"><b>PSC</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=13<cfelse><cfif #sv# is 13>sv=130<cfelse>sv=13</cfif></cfif>"><b>Set Aside</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=14<cfelse><cfif #sv# is 14>sv=140<cfelse>sv=14</cfif></cfif>"><b>Pricing</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=10<cfelse><cfif #sv# is 10>sv=100<cfelse>sv=10</cfif></cfif>"><b>PoP Start</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=11<cfelse><cfif #sv# is 11>sv=110<cfelse>sv=11</cfif></cfif>"><b>PoP End</b></a></td>
				 <td class="text_xsmall" align=right><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=12<cfelse><cfif #sv# is 12>sv=120<cfelse>sv=12</cfif></cfif>"><b>Obligation</b></a></td>
				 <td class="text_xsmall" align=right><a href="award_search_detail_naics.cfm?val=#val#<cfif isdefined("award_view_id")>&award_view_id=#award_view_id#</cfif>&<cfif not isdefined("sv")>sv=12<cfelse><cfif #sv# is 16>sv=160<cfelse>sv=16</cfif></cfif>"><b>Allocated</b></a></td>

			  </tr>

          </cfoutput>

          <cfset counter = 0>
          <cfset tot = 0>
          <cfset tot2 = 0>

           <cfloop query="agencies">

		        <cfif CurrentRow gte StartRow >

			   <cfif counter is 0>
				<tr bgcolor="ffffff">
			   <cfelse>
				<tr bgcolor="e0e0e0">

			   </cfif>

			   <cfoutput>

				   <td class="text_xsmall" valign=top width=75>#dateformat(agencies.action_date,'mm/dd/yyyy')#</td>
				   <td class="text_xsmall" valign=top><a href="/exchange/include/award_information.cfm?id=#agencies.id#" target="_blank" rel="noopener" rel="noreferrer"><b>#agencies.award_id_piid#</b></a></td>
				   <td class="text_xsmall" valign=top>#agencies.modification_number#</td>
				   <td class="text_xsmall" valign=top><a href="/exchange/include/federal_profile.cfm?duns=#recipient_duns#" target="_blank" rel="noopener" rel="noreferrer"><b>#agencies.recipient_name#</b></a></td>
					   <td class="text_xsmall" valign=top>#agencies.primary_place_of_performance_city_name#</td>
					   <td class="text_xsmall" valign=top>#agencies.primary_place_of_performance_state_code#</td>
				   <td class="text_xsmall" valign=top width=300>#agencies.award_description#</td>
				   <td class="text_xsmall" valign=top>#agencies.awarding_sub_agency_name#</td>
				   <td class="text_xsmall" valign=top>#agencies.awarding_office_name#</td>
				   <td class="text_xsmall" valign=top width=75>#agencies.naics_code#</td>
				   <td class="text_xsmall" valign=top width=50>#agencies.product_or_service_code#</td>
				   <td class="text_xsmall" valign=top width=50>#agencies.type_of_set_aside#</td>
				   <td class="text_xsmall" valign=top width=100>#agencies.type_of_contract_pricing#</td>
				   <td class="text_xsmall" valign=top width=75>#dateformat(agencies.period_of_performance_start_date,'mm/dd/yyyy')#</td>
				   <td class="text_xsmall" valign=top width=75>#dateformat(agencies.period_of_performance_current_end_date,'mm/dd/yyyy')#</td>
				   <td class="text_xsmall" valign=top align=right width=75>#numberformat(agencies.federal_action_obligation,'$999,999,999')#</td>
				   <td class="text_xsmall" valign=top align=right width=75>#numberformat(agencies.base_and_all_options_value,'$999,999,999')#</td>

				</cfoutput>

				</tr>

			  <cfif counter is 0>
			   <cfset counter = 1>
			  <cfelse>
			   <cfset counter = 0>
			  </cfif>

		  <cfset tot = tot + #federal_action_obligation#>
		  <cfset tot2 = tot2 + #base_and_all_options_value#>

 </cfif>

								  <cfif CurrentRow eq EndRow>
								   <cfbreak>
								  </cfif>

          </cfloop>

          <tr><td colspan=17><hr></td></tr>
          <tr>
             <td class="feed_option"><b>Total</b></td>
             <td class="feed_option" colspan=15 align=right><b><cfoutput>#numberformat(tot,'$999,999,999')#</cfoutput></b></td>
             <td class="feed_option" align=right><b><cfoutput>#numberformat(tot2,'$999,999,999')#</cfoutput></b></td>
          </tr>

          </cfif>

          <tr><td>&nbsp;</td></tr>

		  </table>

	  </div>

<cfinclude template="/exchange/include/footer.cfm">

 </body>
</html>