<cfinclude template="/exchange/security/check.cfm">

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
    <link rel="shortcut icon" type="image/png" href="/images/exchange.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="/include/exchange_style.css?v=6" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

<cfif not isdefined("sv")>
 <cfset sv = 1>
</cfif>

<!--- Build Query --->

   <cfquery name="info" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
    select top(1) awarding_agency_name from award_data
    where awarding_agency_code = '#val#'
   </cfquery>

   <cfquery name="agencies" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
	  select action_date, award_id_piid, modification_number, recipient_name, recipient_duns, recipient_city_name, recipient_state_code, awarding_agency_name, awarding_sub_agency_name, awarding_office_name, award_description, primary_place_of_performance_city_name, primary_place_of_performance_state_code, naics_code, product_or_service_code, product_or_service_code_description, type_of_contract_pricing, type_of_set_aside, period_of_performance_start_date, period_of_performance_current_end_date, federal_action_obligation, base_and_exercised_options_value, base_and_all_options_value, id from award_data
      where (
             awarding_agency_code = '#val#' and
            ((action_date >= '#session.award_from#') and (action_date <= '#session.award_to#'))

     		<cfif #session.award_state# is not 0>
     			and primary_place_of_performance_state_code = '#session.award_state#'
     		</cfif>

		 <cfif #session.award_state# is not 0>
			and primary_place_of_performance_state_code = '#session.award_state#'
		 </cfif>

		 <cfif #session.award_setaside# is not 0>
		   and type_of_set_aside_code = '#session.award_setaside#'
		 </cfif>

		 <cfif #listlen(session.award_naics)# GT 0>
			<cfif #listlen(session.award_naics)# GT 1>
			<cfset ncounter = 1>
			and (
			 <cfloop index="nc" list="#session.award_naics#">
			   (naics_code = '#nc#')
			   <cfif ncounter LT #listlen(session.award_naics)#> or</cfif>
			   <cfset ncounter = ncounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and naics_code = '#session.award_naics#'
			</cfif>
		 </cfif>

		 <cfif #listlen(session.award_psc)# GT 0>
			<cfif #listlen(session.award_psc)# GT 1>
			<cfset pcounter = 1>
			and (
			 <cfloop index="pc" list="#session.award_psc#">
			   (product_or_service_code = '#pc#')
			   <cfif pcounter LT #listlen(session.award_psc)#> or</cfif>
			   <cfset pcounter = pcounter + 1>
			 </cfloop>
			 )
			<cfelse>
			 and product_or_service_code = '#session.award_psc#'
			</cfif>
		 </cfif>
            )
      <cfif #session.award_keyword# is not "">
	   and contains((award_description),'#session.award_keyword#')
	  </cfif>

	<cfif #sv# is 1>
	 order by action_date DESC
	<cfelseif #sv# is 10>
	 order by action_date ASC
	<cfelseif #sv# is 2>
	 order by award_id_piid ASC, modification_number ASC
	<cfelseif #sv# is 20>
	 order by award_id_piid DESC, modification_number ASC
	<cfelseif #sv# is 4>
	 order by recipient_name ASC
	<cfelseif #sv# is 40>
	 order by recipient_name DESC
	<cfelseif #sv# is 5>
	 order by recipient_state_code ASC, recipient_city_name ASC
	<cfelseif #sv# is 50>
	 order by recipient_state_code ASC, recipient_city_name DESC
	<cfelseif #sv# is 6>
	 order by recipient_state_code ASC
	<cfelseif #sv# is 60>
	 order by recipient_state_code DESC
	<cfelseif #sv# is 7>
	 order by awarding_office_name ASC
	<cfelseif #sv# is 70>
	 order by awarding_office_name DESC
	<cfelseif #sv# is 8>
	 order by naics_code ASC
	<cfelseif #sv# is 80>
	 order by naics_code DESC
	<cfelseif #sv# is 9>
	 order by product_or_service_code ASC
	<cfelseif #sv# is 90>
	 order by product_or_service_code DESC
	<cfelseif #sv# is 10>
	 order by period_of_performance_state_date DESC
	<cfelseif #sv# is 100>
	 order by period_of_performance_start_date ASC
	<cfelseif #sv# is 11>
	 order by period_of_performance_current_end_date DESC
	<cfelseif #sv# is 110>
	 order by period_of_performance_current_end_date ASC
	<cfelseif #sv# is 12>
	 order by federal_action_obligation DESC
	<cfelseif #sv# is 120>
	 order by federal_action_obligation ASC
	<cfelseif #sv# is 13>
	 order by type_of_set_aside ASC
	<cfelseif #sv# is 130>
	 order by type_of_set_aside DESC
	<cfelseif #sv# is 14>
	 order by type_of_contract_pricing ASC
	<cfelseif #sv# is 140>
	 order by type_of_contract_pricing DESC
	<cfelseif #sv# is 15>
	 order by awarding_agency_name ASC
	<cfelseif #sv# is 150>
	 order by awarding_agency_name DESC
	<cfelseif #sv# is 16>
	 order by awarding_sub_agency_name ASC
	<cfelseif #sv# is 160>
	 order by awarding_sub_agency_name DESC
	<cfelseif #sv# is 17>
	 order by base_and_exercised_options_value DESC
	<cfelseif #sv# is 170>
	 order by base_and_exercised_options_value ASC
	<cfelseif #sv# is 18>
	 order by base_and_all_options_value DESC
	<cfelseif #sv# is 180>
	 order by base_and_all_options_value ASC

	</cfif>

   </cfquery>

   <cfif isdefined("export")>

	 <cfinclude template="/exchange/include/export_to_excel.cfm">

	</cfif>

<cfflush interval=100>

<cfparam name="URL.PageId" default="0">
<cfset RecordsPerPage = 250>
<cfset TotalPages = (agencies.Recordcount/RecordsPerPage)>
<cfset StartRow = (URL.PageId*RecordsPerPage)+1>
<cfset EndRow = StartRow+RecordsPerPage-1>

  <cfinclude template="/exchange/include/header.cfm">

      <div class="main_box">

          <cfoutput>
		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
           <tr><td class="feed_header"><b>#ucase(info.awarding_agency_name)#</b></td>
               <td class="feed_sub_header" align=right></td></tr>
           <tr><td colspan=2><hr></td></tr>
          </table>
          </cfoutput>

          <table cellspacing=0 cellpadding=0 border=0 width=100%>

          <cfif agencies.recordcount is 0>
           <tr><td class="feed_option">No awards or mods were found with the information you entered.</td></tr>
          <cfelse>

           <tr><td class="feed_option" colspan=15>

				  <cfif agencies.recordcount GT #RecordsPerPage#>
					  <b>Page: </b>&nbsp;|
					  <cfloop index="Pages" from="0" to="#TotalPages#">
					   <cfoutput>
					   <cfset DisplayPgNo = Pages+1>
						  <cfif URL.PageId eq pages>
							 <b>#DisplayPgNo#</b>&nbsp;|&nbsp;
						  <cfelse>
							 <a href="?pageid=#pages#&val=#val#&<cfif isdefined("sv")>sv=#sv#</cfif>">#DisplayPgNo#</a>&nbsp;|&nbsp;
						  </cfif>
					   </cfoutput>
					  </cfloop>
				   </cfif>
           </td>

           <td class="feed_sub_header" colspan=3 align=right>
		                 <cfoutput>
		                 <a href="award_search_detail_agency_dept.cfm?export=1&val=#val#<cfif isdefined("sv")>&sv=#sv#</cfif>"><img src="/images/icon_export_excel.png" border=0 width=20 hspace=10 alt="Export to Excel" title="Export to Excel" align=absmiddle></a>
		                 <a href="award_search_detail_agency_dept.cfm?export=1&val=#val#<cfif isdefined("sv")>&sv=#sv#</cfif>">Export to Excel</a></td>

		                 </cfoutput>

           </td>

           </tr>

           <tr><td height=20></td></tr>

          <cfoutput>

			  <tr>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=1<cfelse><cfif #sv# is 1>sv=10<cfelse>sv=1</cfif></cfif>"><b>Action Date</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=2<cfelse><cfif #sv# is 2>sv=20<cfelse>sv=2</cfif></cfif>"><b>Contract ##</b></a></td>
				 <td class="text_xsmall" align=center><b>Mod</b></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=4<cfelse><cfif #sv# is 4>sv=40<cfelse>sv=4</cfif></cfif>"><b>Vendor</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=5<cfelse><cfif #sv# is 5>sv=50<cfelse>sv=5</cfif></cfif>"><b>City</b></a></td>
				 <td class="text_xsmall" align=center><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=6<cfelse><cfif #sv# is 6>sv=60<cfelse>sv=6</cfif></cfif>"><b>State</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=16<cfelse><cfif #sv# is 16>sv=160<cfelse>sv=16</cfif></cfif>"><b>Department</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=15<cfelse><cfif #sv# is 15>sv=150<cfelse>sv=15</cfif></cfif>"><b>Agency</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=7<cfelse><cfif #sv# is 7>sv=70<cfelse>sv=7</cfif></cfif>"><b>Office</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=8<cfelse><cfif #sv# is 8>sv=80<cfelse>sv=8</cfif></cfif>"><b>NAICS</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=9<cfelse><cfif #sv# is 9>sv=90<cfelse>sv=9</cfif></cfif>"><b>PSC</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=13<cfelse><cfif #sv# is 13>sv=130<cfelse>sv=13</cfif></cfif>"><b>Set Aside</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=14<cfelse><cfif #sv# is 14>sv=140<cfelse>sv=14</cfif></cfif>"><b>Pricing</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=10<cfelse><cfif #sv# is 10>sv=100<cfelse>sv=10</cfif></cfif>"><b>PoP Start</b></a></td>
				 <td class="text_xsmall"><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=11<cfelse><cfif #sv# is 11>sv=110<cfelse>sv=11</cfif></cfif>"><b>PoP End</b></a></td>
				 <td class="text_xsmall" align=right><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=12<cfelse><cfif #sv# is 12>sv=120<cfelse>sv=12</cfif></cfif>"><b>Obligation</b></a></td>
				 <td class="text_xsmall" align=right><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=17<cfelse><cfif #sv# is 17>sv=170<cfelse>sv=17</cfif></cfif>"><b>Base & Options</b></a></td>
				 <td class="text_xsmall" align=right><a href="award_search_detail_agency_dept.cfm?val=#val#&<cfif not isdefined("sv")>sv=18<cfelse><cfif #sv# is 18>sv=180<cfelse>sv=18</cfif></cfif>"><b>Base & All Options</b></a></td>
			  </tr>

          </cfoutput>

          <cfset counter = 0>
          <cfset tot1 = 0>
          <cfset tot2 = 0>
          <cfset tot3 = 0>

           <cfloop query="agencies">

		        <cfif CurrentRow gte StartRow >

			   <cfoutput>

			   <cfif counter is 0>
			   	<cfset bgc = "ffffff">
			   <cfelse>
			   	<cfset bgc = "e0e0e0">
			   </cfif>
			   <tr bgcolor="#bgc#">
				   <td class="text_xsmall" valign=top width=100>#dateformat(agencies.action_date,'mm/dd/yyyy')#</td>
				   <td class="text_xsmall" valign=top><a href="/exchange/include/award_information.cfm?id=#agencies.id#" target="_blank" rel="noopener" rel="noreferrer"><b>#agencies.award_id_piid#</b></a></td>
				   <td class="text_xsmall" valign=top align=center>#agencies.modification_number#</td>
				   <td class="text_xsmall" valign=top><a href="/exchange/include/federal_profile.cfm?duns=#recipient_duns#" target="_blank" rel="noopener" rel="noreferrer"><b>#agencies.recipient_name#</b></a></td>
				   <td class="text_xsmall" valign=top>#agencies.primary_place_of_performance_city_name#</td>
				   <td class="text_xsmall" valign=top width=50 align=center>#agencies.primary_place_of_performance_state_code#</td>
				   <td class="text_xsmall" valign=top>#agencies.awarding_agency_name#</td>
				   <td class="text_xsmall" valign=top>#agencies.awarding_sub_agency_name#</td>
				   <td class="text_xsmall" valign=top>#agencies.awarding_office_name#</td>
				   <td class="text_xsmall" valign=top>#agencies.naics_code#</td>
				   <td class="text_xsmall" valign=top>#agencies.product_or_service_code#</td>
				   <td class="text_xsmall" valign=top>#agencies.type_of_set_aside#</td>
				   <td class="text_xsmall" valign=top>#agencies.type_of_contract_pricing#</td>
				   <td class="text_xsmall" valign=top>#dateformat(agencies.period_of_performance_start_date,'mm/dd/yyyy')#</td>
				   <td class="text_xsmall" valign=top>#dateformat(agencies.period_of_performance_current_end_date,'mm/dd/yyyy')#</td>
				   <td class="text_xsmall" valign=top align=right width=100>#numberformat(agencies.federal_action_obligation,'$999,999,999')#</td>
				   <td class="text_xsmall" valign=top align=right width=100>#numberformat(agencies.base_and_exercised_options_value,'$999,999,999')#</td>
				   <td class="text_xsmall" valign=top align=right width=100>#numberformat(agencies.base_and_all_options_value,'$999,999,999')#</td>
				</tr>

				<tr bgcolor = "#bgc#"><td height=5 colspan=18></td></tr>

				<tr bgcolor = "#bgc#">
				    <td colspan=6>&nbsp;</td>
				    <td class="text_xsmall" colspan=12><b>Award Description</b></td></tr>

				<tr bgcolor = "#bgc#">
				    <td colspan=6>&nbsp;</td>
				    <td class="text_xsmall" colspan=12>#award_description#</b></td></tr>
				<tr bgcolor = "#bgc#"><td height=10 colspan=18></td></tr>

				  <cfif counter is 0>
				   <cfset counter = 1>
				  <cfelse>
				   <cfset counter = 0>
				  </cfif>

				</cfoutput>


		  <cfif #federal_action_obligation# is "">
		   <cfset fab = 0>
		  <cfelse>
		   <cfset fab = #federal_action_obligation#>
		  </cfif>

          <cfif #base_and_exercised_options_value# is "">
           <cfset bae = 0>
          <cfelse>
           <cfset bae = #base_and_exercised_options_value#>
          </cfif>

          <cfif #base_and_all_options_value# is "">
           <cfset baa = 0>
          <cfelse>
           <cfset baa = #base_and_all_options_value#>
          </cfif>


		  <cfset tot1 = tot1 + #fab#>
		  <cfset tot2 = tot2 + #bae#>
		  <cfset tot3 = tot3 + #baa#>
          </cfif>

								  <cfif CurrentRow eq EndRow>
								   <cfbreak>
								  </cfif>

          </cfloop>

          <tr><td colspan=18><hr></td></tr>
          <cfoutput>
			  <tr>
				 <td class="feed_option" colspan=15><b>Total</b></td>
				 <td class="feed_option" align=right><b>#numberformat(tot1,'$999,999,999')#</b></td>
				 <td class="feed_option" align=right><b>#numberformat(tot2,'$999,999,999')#</b></td>
				 <td class="feed_option" align=right><b>#numberformat(tot3,'$999,999,999')#</b></td>
			  </tr>
          </cfoutput>
          </cfif>

          <tr><td>&nbsp;</td></tr>

		  </table>

	  </div>

<cfinclude template="/exchange/include/footer.cfm">

 </body>
</html>