<cfset session.jump = #jump#>
<cfif jump is 1>
 <cflocation URL="/exchange/awards/agency/" addtoken="no">
<cfelseif jump is 2>
 <cflocation URL="/exchange/awards/state/" addtoken="no">
<cfelseif jump is 3>
 <cflocation URL="/exchange/awards/naics/" addtoken="no">
<cfelseif jump is 4>
 <cflocation URL="/exchange/awards/product/" addtoken="no">
<cfelseif jump is 5>
 <cflocation URL="/exchange/awards/sb/" addtoken="no">
</cfif>
