<cfinclude template="/exchange/security/check.cfm">

<table cellspacing=0 cellpadding=0 border=0 width=100%>

    <tr>
        <td class="feed_header"><b>Awards</b></td>
        <td class="feed_option" align=right><b>Quick Views:</b>&nbsp;

        <a href="/exchange/awards/agency/">By Agency</a>&nbsp;|&nbsp;
        <a href="/exchange/awards/naics/">By NAICS</a>&nbsp;|&nbsp;
        <a href="/exchange/awards/state/">By State</a>

    </tr>

</table>