<cfif button is "Go">
<cflocation URL="/exchange/awards/award_search_run.cfm?award_view_id=#award_view_id#" addtoken="no">
<cfelseif button is "New">
<cflocation URL="/exchange/awards/create_view.cfm" addtoken="no">
</cfif>