<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update challenge
 set challenge_email_list_1 = <cfif isdefined("email")>'#email#'<cfelse>null</cfif>,
     challenge_email_list_2 = '#additional_email#'
 where challenge_need_id = #session.need_id#
</cfquery>
<cflocation URL="step_4.cfm" addtoken="no">