<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete feed
 where feed_id = #feed_id#
</cfquery>

<cflocation URL="index.cfm?u=3" addtoken="no">
