<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 insert into challenge_process_xref
 (
  challenge_process_xref_company_id,
  challenge_process_xref_challenge_id,
  challenge_process_xref_process_id,
  challenge_process_xref_updated,
  challenge_process_xref_hub_id,
  challenge_process_xref_updated_by_usr_id
  )
  values
  (
  #company_id#,
  #session.challenge_id#,
  #next_id#,
  #now()#,
  <cfif isdefined("session.hub")>#session.hub#<cfelse>null</cfif>,
  #session.usr_id#
  )
</cfquery>

<cflocation URL="index.cfm?u=5" addtoken="no">