<div class="left_box">

<center>

	 <table cellspacing=0 cellpadding=0 border=0 width=100%>
      <tr><td colspan=2 class="feed_header">Sourcing Channels</td></tr>
	  <tr><td colspan=2><hr></td></tr>
    </table>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	 <form action="set2.cfm" method="post" onsubmit="javascript:document.getElementById('page-loader').style.display='block';">
		 <tr>
			<td width=35 height=30><input type="checkbox" name="non" onChange="this.form.submit(); javascript:document.getElementById('page-loader').style.display='block';" <cfif isdefined("session.non") and session.non is 1>checked</cfif> style="width: 20px; height: 20px;"</td>
			<td class="link_med_blue">All Companies</td></tr>
		 <tr>
			<td height=30><input type="checkbox" name="awards" onChange="this.form.submit(); javascript:document.getElementById('page-loader').style.display='block';" <cfif isdefined("session.awards") and session.awards is 1>checked</cfif> style="width: 20px; height: 20px;"</td>
			<td class="link_med_blue">Won Federal Contracts</td>
		 <tr>
			<td height=30><input type="checkbox" name="sbirs" onChange="this.form.submit(); javascript:document.getElementById('page-loader').style.display='block';"  <cfif isdefined("session.sbirs") and session.sbirs is 1>checked</cfif> style="width: 20px; height: 20px;"</td>
			<td class="link_med_blue">Won SBIR/STTRs</td>
		 <tr>
			<td height=30><input type="checkbox" name="grants" onChange="this.form.submit(); javascript:document.getElementById('page-loader').style.display='block';" <cfif isdefined("session.grants") and session.grants is 1>checked</cfif> style="width: 20px; height: 20px;"</td>
			<td class="link_med_blue">Won Grants</td>
		 <tr>
			<td height=30><input type="checkbox" name="patents" onChange="this.form.submit(); javascript:document.getElementById('page-loader').style.display='block';"  <cfif isdefined("session.patents") and session.patents is 1>checked</cfif> style="width: 20px; height: 20px;"</td>
			<td class="link_med_blue">Received Patents</td>
		 </tr>

		 <tr>
			<td height=30><input type="checkbox" name="university" onChange="this.form.submit(); javascript:document.getElementById('page-loader').style.display='block';"  <cfif isdefined("session.university") and session.university is 1>checked</cfif> style="width: 20px; height: 20px;"</td>
			<td class="link_med_blue">Universities</td>
		 </tr>

		 <tr>
			<td height=30><input type="checkbox" name="labs" onChange="this.form.submit(); javascript:document.getElementById('page-loader').style.display='block';"  <cfif isdefined("session.labs") and session.labs is 1>checked</cfif> style="width: 20px; height: 20px;"</td>
			<td class="link_med_blue">National Labs</td>
		 </tr>

	 </form>

           <tr><td colspan=2><hr></td></tr>


		   <tr>
		       <td width=18><a href="import_portfolio.cfm"><img src="/images/icon_portfolio_black.png" width=18 border=0></a></td>
		       <td class="link_med_blue" height=30 style="padding-right: 0px;"><a href="import_portfolio.cfm" onclick="javascript:document.getElementById('page-loader').style.display='block';">Import from Portfolios</a></td></tr>


	 <form action="set_filter.cfm" method="post" onsubmit="javascript:document.getElementById('page-loader').style.display='block';">
		 <tr><td colspan=2><hr></td></tr>
		 <cfoutput>
		 <tr><td colspan=2 class="feed_sub_header">Apply Filters</td></tr>
		 <tr><td colspan=2><input type="text" class="input_text" name="add_filter" style="width: 145px;" placeholder="add filter">&nbsp;<input type="submit" name="button" value="Add" class="button_blue"></td></tr>
		 <tr><td height=10></td></tr>
     </form>

	<cfif isdefined("session.add_filter")>

		 <cfloop index="i" list="#session.add_filter#">
			<tr><td clsss="feed_option" colspan=2>
			<cfset size = evaluate(10*len(i))>
			<input class="button_blue" style="font-size: 11px; height: 25px; width: auto; margin-top: 5px; margin-bottom: 5px;" type="submit" name="button" value="X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#ucase(i)#&nbsp;&nbsp;" onclick="location.href = 'remove.cfm?i=#i#'">&nbsp;&nbsp;
			</td></tr>
		 </cfloop>

	</cfif>

	 </cfoutput>

	</table>

</center>

</div>