<div class="left_box">

<center>

	 <table cellspacing=0 cellpadding=0 border=0 width=100%>
      <tr><td colspan=2 class="feed_header">SEARCH COMPANIES</td></tr>
	  <tr><td colspan=2><hr></td></tr>
	  <form action="set3.cfm" method="post">
		  <tr><td colspan=2><input type="text" class="input_text" style="width: 145px;" <cfif isdefined("session.auto_keywords")>value="<cfoutput>#session.auto_keywords#</cfoutput>"</cfif> name="auto_keyword" placeholder="name or capability">
		  <input type="submit" name="button" value="Go" class="button_blue"></td></tr>
		  <tr><td height=10></td></tr>
	  </form>
	  <tr><td colspan=2><hr></td></tr>
    </table>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	 <form action="set2.cfm" method="post" onsubmit="javascript:document.getElementById('page-loader').style.display='block';">
		 <tr>
			<td width=35 height=30><input type="checkbox" name="non" style="width: 20px; height: 20px;" checked></td>
			<td class="link_med_blue">All Companies</td></tr>
		 <tr>
			<td height=30><input type="checkbox" name="awards" style="width: 20px; height: 20px;" checked></td>
			<td class="link_med_blue">Won Federal Contracts</td>
		 <tr>
			<td height=30><input type="checkbox" name="sbirs" style="width: 20px; height: 20px;" checked></td>
			<td class="link_med_blue">Won SBIR/STTRs</td>
		 <tr>
			<td height=30><input type="checkbox" name="grants" style="width: 20px; height: 20px;" checked></td>
			<td class="link_med_blue">Won Grants</td>
		 <tr>
			<td height=30><input type="checkbox" name="patents" style="width: 20px; height: 20px;" checked></td>
			<td class="link_med_blue">Received Patents</td>
		 </tr>

           <tr><td colspan=2><hr></td></tr>

		   <tr>
		       <td width=18><a href="import_portfolio.cfm"><img src="/images/icon_portfolio_black.png" width=18 border=0></a></td>
		       <td class="link_med_blue" height=30 style="padding-right: 0px;"><a href="import_portfolio.cfm">Import from Portfolios</a></td></tr>


	 </form>

	</table>

</center>

</div>