<!--- Portfolios --->

<div class="left_box">

	<center>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		  <tr><td class="feed_header" valign=bottom><b>CHOOSE COMPANIES</b></a></td>
		      <td align=right valign=top></td></tr>
		  <tr><td colspan=2><hr></td></tr>
		  </table>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		  <tr><td class="link_med_blue" colspan=2>Search for ...</td></tr>
		  <tr><td height=10></td></tr>

          <form action="set3.cfm" method="post">

             <tr><td colspan=2><input type="text" class="input_text" style="width: 145px;" <cfif isdefined("session.auto_keywords")>value="<cfoutput>#session.auto_keywords#</cfoutput>"</cfif> name="auto_keyword" placeholder="name or capability">
             <input type="submit" name="button" value="Go" class="button_blue"></td></tr>
             <tr><td height=10></td></tr>

             </form>

           <tr><td colspan=2><hr></td></tr>

		   <tr>
		       <td width=30><a href="import_portfolio.cfm"><img src="/images/icon_portfolio_black.png" width=18 align=absmiddle border=0></a></td>
		       <td class="link_med_blue" height=30><a href="import_portfolio.cfm">IMPORT FROM PORTFOLIOS</a></td></tr>

		  </table>

	</center>


</div>



