<cfinclude template="/exchange/security/check.cfm">

	<cfif isdefined("selected_company")>

		<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
		 delete challenge_process_xref
		 where challenge_process_xref_challenge_id = #session.challenge_id# and
		       challenge_process_xref_company_id in (#selected_company#) and
		       challenge_process_xref_process_id = #session.challenge_sourcing#
		</cfquery>

      <cflocation URL="index.cfm" addtoken="no">

	</cfif>

<cflocation URL="index.cfm?u=2" addtoken="no">