<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
  delete challenge_process_xref
  where challenge_process_xref_challenge_id = #session.challenge_id# and
		challenge_process_xref_hub_id = #session.hub# and
		challenge_process_xref_process_id = #session.challenge_sourcing# and
		challenge_process_xref_company_id = #id#
</cfquery>

<cflocation URL="index.cfm?u=2" addtoken="no">



