<cfif u is 1>

		<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
		 insert into challenge_process_xref
		 (
		  challenge_process_xref_company_id,
		  challenge_process_xref_challenge_id,
		  challenge_process_xref_process_id,
		  challenge_process_xref_updated,
		  challenge_process_xref_hub_id,
		  challenge_process_xref_updated_by_usr_id
		  )
          values
          (
          #id#,
          #session.challenge_id#,
          #session.challenge_sourcing#,
		  #now()#,
		  #session.hub#,
  		  #session.usr_id#
		  )
		</cfquery>

	    <cflocation URL="profile.cfm?id=#id#&u=1" addtoken="no">

<cfelse>

	<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
      delete challenge_process_xref
      where challenge_process_xref_challenge_id = #session.challenge_id# and
            challenge_process_xref_hub_id = #session.hub# and
            challenge_process_xref_process_id = #session.challenge_sourcing# and
            challenge_process_xref_company_id = #id#
	</cfquery>

	    <cflocation URL="profile.cfm?id=#id#&u=2" addtoken="no">

</cfif>
