<cfset search_string = #replace(auto_keyword,chr(34),'',"all")#>
<cfset search_string = #replace(search_string,'(','',"all")#>
<cfset search_string = #replace(search_string,')','',"all")#>
<cfset search_string = #replace(search_string,'''','',"all")#>
<cfset search_string = #replace(search_string,',','',"all")#>
<cfset search_string = #replace(search_string,':','',"all")#>
<cfset search_string = '"' & #search_string#>
<cfset search_string = #search_string# & '"'>
<cfset search_string = #replace(search_string,' or ','" or "',"all")#>
<cfset search_string = #replace(search_string,' and ','" and "',"all")#>
<cfset search_string = #replace(search_string,' and "not ',' and not "',"all")#>
<cfset search_string = #replace(search_string,'"(','("',"all")#>
<cfset search_string = #replace(search_string,')"','")',"all")#>

<cfset session.auto_keywords = #search_string#>

<cfif not isdefined("session.non")>
	<cfset session.non = 0>
</cfif>

<cfif not isdefined("session.awards")>
	<cfset session.awards = 1>
</cfif>

<cfif not isdefined("session.sbris")>
	<cfset session.sbirs = 0>
</cfif>

<cfif not isdefined("session.grants")>
	<cfset session.grants = 0>
</cfif>

<cfif not isdefined("session.patents")>
	<cfset session.patents = 0>
</cfif>

<cfif not isdefined("session.university")>
	<cfset session.university = 0>
</cfif>

<cfif not isdefined("session.labs")>
	<cfset session.labs = 0>
</cfif>

<cfif not isdefined("session.challenges")>
	<cfset session.challenges = 0>
</cfif>

<cflocation URL="find_companies.cfm" addtoken="no">