<cfoutput>

		<table cellspacing=0 cellpadding=0 border=0 width=100%>

		 <tr><td valign=top width=130>

			 <table cellspacing=0 cellpadding=0 border=0 width=100%>

			 <tr><td valign=top width=110 align=center>

			 <cfif #apps.app_image# is "">
			  <a href="app_info.cfm?i=#encrypt(app_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#"><img src="#image_virtual#app.png" height=110 width=110 border=0 vspace=15></a>
			 <cfelse>
			  <a href="app_info.cfm?i=#encrypt(app_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#"><img style="border-radius: 2px;" vspace=15 src="#image_virtual#/#apps.app_image#" height=110 width=110 border=0></a>
			 </cfif>

		     </td></tr>

             <tr><td align=center>

             <cfif listfind(install_list,apps.app_id)>
               <img src="/images/installed.png" height=30>
             </cfif>

             </td></tr>

			 </table>

		<td width=15>&nbsp;</td><td valign=top>

		<table cellspacing=0 cellpadding=0 border=0 width=100%>
		 <tr><td height=15></td></tr>
		 <tr><td class="feed_sub_header" style="padding-top: 0px; padding-bottom: 0px;"><a href="app_info.cfm?i=#encrypt(app_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#">#apps.app_name#</a></td>

		     <td align=right>

                       <cfif listfind(install_list,apps.app_id)>

		                   <cfif app_tools_path is not "">
			                <a href="#app_tools_path#"><img src="/images/icon_config.png" width=25 border=0 alt="Configure" title="Configure"></a>
			               </cfif>

                       </cfif>
             </td>

		 </tr>
		 <tr><td colspan=2 class="link_small_gray" style="padding-top: 0px; padding-bottom: 0px;">#apps.app_category_name#</td></tr>
		 <tr><td colspan=2 class="feed_sub_header" style="padding-top: 5px; padding-bottom: 0px; font-weight: normal;" >#apps.app_desc_short#</td></tr>
		</table>

		</td></tr>

		</table>

</cfoutput>