<cfinclude template="/exchange/security/check.cfm">

 <cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  update sharing
  set sharing_access = #a#
  where sharing_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
 </cfquery>

<cflocation URL="portfolio_sharing_groups.cfm?u=3" addtoken="no">