
<cfset count = myportfolio.recordcount>

<cfset location = "home">

<div class="main_box">

	<table cellspacing=0 cellpadding=0 border=0 width=100%>
    <form action="refresh.cfm" method="post">

	 <tr><td class="feed_header"><a href="index.cfm">PORTFOLIOS</a></td>
	     <td align=right>

         <cfif count GT 0>

			 <span class="feed_sub_header">Jump to Portfolio</span>&nbsp;&nbsp;

			 <select name="portfolio_id" class="input_select" onchange="form.submit()">

			 <cfif myportfolio.recordcount GT 0>
			  <option value=0>Select Portfolio
			  <cfoutput query="myportfolio">
			   <option value=#portfolio_id# <cfif isdefined("session.portfolio_id") and #portfolio_id# is #session.portfolio_id#>selected</cfif>>#portfolio_name#
			  </cfoutput>
			 </cfif>

			 </select>

         </cfif>

	     </td>

	     </tr>
	</form>

	</table>

</div>