<div class="main_box">

	<table cellspacing=0 cellpadding=0 border=0 width=100%>
    <form action="refresh.cfm" method="post">

	 <tr><td class="feed_header"><a href="index.cfm">Company Portfolios</a></td>
	     <td align=right class="feed_sub_header">
          <img src="/images/plus3.png" hspace=10 width=15 border=0><a href="create_portfolio.cfm">Create Portfolio</a>
          <cfif isdefined("page")>
           &nbsp;|&nbsp;<a href="index.cfm">All Portfolios</a>
          </cfif>

	     </td>

	     </tr>
	</form>

	</table>

</div>