<cfquery name="port_count" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
select count(portfolio_id) as total from portfolio
where portfolio_usr_id = #session.usr_id#
</cfquery>

<div class="left_box">

  <center>
  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header"><a href="/exchange/portfolio/">PORTFOLIOS</a></td>
      <td class="feed_header" align=right><a href="/exchange/portfolio/create_portfolio.cfm"><img src="/images/plus3.png" width=15 border=0 alt="Create Portfolio" title="Create Portfolio"></a></td></tr>
  <tr><td colspan=2><hr></td></tr>
  </table>
  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/portfolio/"><img src="/images/icon_home.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/portfolio/">PORTFOLIO HOME</a></td></tr>
  <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/portfolio/create_portfolio.cfm"><img src="/images/plus3.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/portfolio/create_portfolio.cfm">CREATE PORTFOLIO</a></td></tr>
 </table>
  </center>

</div>

