<cfinclude template="/exchange/security/check.cfm">
<cfset #session.source_keywords# = #keyword#>

 <cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  insert into keyword_search
  (
   keyword_search_usr_id,
   keyword_search_company_id,
   keyword_search_hub_id,
   keyword_search_keyword,
   keyword_search_date,
   keyword_search_area
   )
   values
   (
   #session.usr_id#,
   #session.company_id#,
   <cfif isdefined("session.hub")>#session.hub#<cfelse>null</cfif>,
  '#session.source_keywords#',
   #now()#,
   1
   )
 </cfquery>

<cflocation URL="/exchange/source/results.cfm" addtoken="no">