<cfinclude template="/exchange/security/check.cfm">

<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete support_cat
 where support_cat_id = #support_cat_id#
</cfquery>

<cflocation URL="index.cfm" addtoken="no">
