<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update hub
 set hub_welcome_message = '#hub_welcome_message#',
     hub_welcome_message_active = #hub_welcome_message_active#
 where hub_id = #session.hub#
</cfquery>

<cflocation URL="index.cfm?u=1" addtoken="no">

