<cfquery name="company" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select top(1) company_id from company
 where company_cb_id = '#i#'
</cfquery>

<cfif company.recordcount is 1>
 <cfset session.company_profile_id = #company.company_id#>
    <script type="text/javascript">
        window.open("/exchange/include/profile.cfm?l=35", '_blank');
        self.close();
    </script>
<cfelse>
 Not Found
</cfif>

