 <cfoutput>
	 <table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td class="feed_header"><a href="index.cfm">INVESTORS & INVESTMENTS</a></td>
		  <td align=right></td></tr>
	   <tr><td colspan=2><hr></td></tr>
	 </table>
 </cfoutput>

 <cfif not isdefined("session.invest_type")>
  <cfset session.invest_type = 1>
 </cfif>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>

  <form action="set.cfm" method="post">

   <cfoutput>
   <tr>
	  <td class="feed_sub_header" width=75><b>Search</b></td>

	   <td class="feed_option">

	   <select name="invest_type" class="input_select">
	    <option value=1 <cfif session.invest_type is 1>selected</cfif>>By Investor Name
	    <option value=2 <cfif session.invest_type is 2>selected</cfif>>By Company Name
	    <option value=3 <cfif session.invest_type is 3>selected</cfif>>By Topic Area
	   </select>
	   &nbsp;

		<input type="text" class="input_text" name="invest_keyword" size=30 placeholder="keyword" required <cfif isdefined("session.invest_keyword")>value=#session.invest_keyword#</cfif>>
        &nbsp;&nbsp;
		<input class="button_blue" type="submit" name="button" value="Search">
		</td>
   </tr>
   </cfoutput>

   <tr><td height=5></td></tr>
  </form>

  </table>

