<cfinclude template="/exchange/security/check.cfm">

<cfset session.invest_keyword = #trim(invest_keyword)#>
<cfset session.invest_type = #invest_type#>

<cfif invest_type is 1>
 <cflocation URL="results_name.cfm" addtoken="no">
<cfelseif invest_type is 2>
 <cflocation URL="results_company.cfm" addtoken="no">
<cfelseif invest_type is 3>
 <cflocation URL="results_topic.cfm" addtoken="no">
</cfif>