<cfinclude template="/exchange/security/check.cfm">

<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete topic
 where topic_id = #topic_id#
</cfquery>

<cflocation URL="index.cfm" addtoken="no">
