<div class="left_box">

  <center>

  <cfif isdefined("session.hub")>

      <cfoutput>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

			<tr><td class="feed_header" colspan=2><a href="/exchange/marketplace/hubs/hub_companies.cfm">MARKETPLACE</a></td></tr>
		    <tr><td colspan=2><hr></td></tr>
		    <tr><td height=5></td></tr>
		    <tr><td class="link_med_blue" height=25><img src="/images/comp.png" width=17 align=absmiddle></td><td class="link_med_blue"><a href="/exchange/marketplace/hubs/hub_companies.cfm">COMPANIES</a></td></tr>
		    <tr><td class="link_med_blue" height=25><img src="/images/icon_broker.png" width=15 align=absmiddle></td><td class="link_med_blue"><a href="/exchange/marketplace/hubs/hub_members.cfm">MEMBERS</a></td></tr>
		    <tr><td class="link_med_blue" height=25><img src="/images/icon_network.png" height=12 align=absmiddle></td><td class="link_med_blue"><a href="/exchange/marketplace/hubs/hub_nodes.cfm">NETWORKS</a></td></tr>
		    <tr><td class="link_med_blue" height=25><img src="/images/icon_broker2.png" height=15 align=absmiddle></td><td class="link_med_blue"><a href="/exchange/marketplace/brokers/">BROKERS</a></td></tr>
		    <tr><td colspan=2><hr></td></tr>

		    <cfquery name="check_parent" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		     select hub_parent_hub_id from hub
		     where hub_id = #session.hub#
		    </cfquery>

		    <cfif check_parent.hub_parent_hub_id is not "">

				<cfquery name="parent" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
				 select hub_id, hub_name from hub
				 where hub_id = #check_parent.hub_parent_hub_id#
				</cfquery>

		    <cfoutput>
		    <tr><td class="link_med_blue" height=25><img src="/images/dot_blue2.png" width=10></td><td class="link_med_blue"><a href="/exchange/hubs/select.cfm?i=#parent.hub_id#">#ucase(parent.hub_name)#</a></td></tr>
		    </cfoutput>

		    </cfif>

		    <tr><td class="link_med_blue" height=25><img src="/images/icon_network.png" height=12 align=absmiddle></td><td class="link_med_blue"><a href="/exchange/marketplace/hubs/index.cfm">MORE NETWORKS</a></td></tr>
		  </table>

	  </cfoutput>

  <cfelse>

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		  <tr><td class="feed_header" colspan=2><a href="/exchange/marketplace/">MARKETPLACE</a></td></tr>
		  <tr><td colspan=2><hr></td></tr>
		  <tr><td height=5></td></tr>
		  <tr><td class="link_med_blue" height=25 width=25><img src="/images/icon_featured.png" width=15></td><td class="link_med_blue"><a href="/exchange/marketplace/">FEATURED COMPANIES</a></td></tr>
		  <tr><td class="link_med_blue" height=25><img src="/images/small_follow.png" width=18></td><td class="link_med_blue"><a href="/exchange/marketplace/followed.cfm">COMPANIES I FOLLOW</a></td></tr>
		  <tr><td class="link_med_blue" height=25><img src="/images/icon_network.png" width=20></td><td class="link_med_blue"><a href="/exchange/marketplace/hubs/index.cfm">NETWORKS</a></td></tr>
		  <tr><td class="link_med_blue" height=25><img src="/images/icon_broker2.png" width=17></td><td class="link_med_blue"><a href="/exchange/marketplace/brokers/index.cfm">BROKERS</a></td></tr>
	  </table>

  </cfif>

  </center>

</div>

