<div class="left_box">

<cfquery name="comp_list" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="15">
 select distinct(recent_company_id), max(recent_date) from recent
 where recent_usr_id = #session.usr_id#
 group by recent_company_id
 order by max(recent_date) DESC
 </cfquery>

<cfif comp_list.recordcount is 0>
 <cfset #clist# = 0>
<cfelse>
 <cfset #clist# = #valuelist(comp_list.recent_company_id)#>
</cfif>

<cfset listcount = listlen(clist)>
<cfset counter = 1>

<cfquery name="viewed" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#" maxrows="25">
 select * from company
 where company_id in (#clist#)
 <cfif listlen(clist) GT 0>
 order by case company_id
 <cfloop index="i" list="#clist#">
  when <cfoutput>#i# then #counter#</cfoutput>
  <cfset counter = counter + 1>
 </cfloop>
 END
 </cfif>
</cfquery>




<!---


<cfquery name="viewed" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="5">
 select distinct(recent_company_id), company_name, max(recent_date), company_logo, company_website from recent
 join company on company_id = recent_company_id
 where recent_usr_id = #session.usr_id#
 group by recent_company_id, company_name, company_logo, company_website
 order by max(recent_date) DESC
</cfquery> --->

	  <center>
		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		  <tr><td class="feed_header">LAST VIEWED COMPANIES</td></tr>
		  <tr><td><hr></td></tr>
		  </table>
		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

          <cfif viewed.recordcount is 0>

          <tr><td class="feed_sub_header" style="font-weight: normal;">You have not viewed any Companies.</td></tr>

          <cfelse>

		  <cfset count = 1>
		  <cfoutput query="viewed">
			  <tr><td width=50 valign=middle>
						<a href="/exchange/include/company_profile.cfm?id=#viewed.company_id#" target="_blank" rel="noopener" rel="noreferrer">
						<cfif viewed.company_logo is "">
						  <img src="//logo.clearbit.com/#viewed.company_website#" width=40 border=0 onerror="this.src='/images/no_logo.png'">
						<cfelse>
						  <img src="#media_virtual#/#viewed.company_logo#" width=40 border=0>
						</cfif>
						</a>
				  </td>
				  <td class="link_med_blue" valign=middle><a href="/exchange/include/company_profile.cfm?id=#viewed.company_id#" target="_blank" rel="noopener" rel="noreferrer">#ucase(company_name)#</a></td>
				  </tr>
			  <cfif count is not viewed.recordcount>
			   <tr><td colspan=3><hr></td></tr>
			  </cfif>
			  <cfset count = count + 1>
		  </cfoutput>

		  </cfif>

		 </table>
	 </center>
</div>

