<cfinclude template="/exchange/security/check.cfm">

<table cellspacing=0 cellpadding=0 border=0 width=100%>

		<tr>
        <form action="/exchange/marketplace/set.cfm" method="post">
		<td class="feed_header">PEOPLE</td>
        <td align=right><span class="feed_sub_header">Find&nbsp;&nbsp;</span>

        <select name="staff" class="input_select">
         <option value=1>By Name
         <option value=2>By Expertise
        </select>

				<input class="input_text" type="text" style="width: 175px;" placeholder = "keyword" name="keyword" <cfif isdefined("session.keyword")>value="<cfoutput>#session.keyword#</cfoutput>"</cfif> required onfocus="clearThis(this)">
				&nbsp;<input class="button_blue" type="submit" name="button" value="Search">
		</td>
		</form>
        </tr>

</table>


