<cfinclude template="/exchange/security/check.cfm">

<script type="text/javascript">
    function clearThis(target){
        target.value= "";
    }
</script>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
    <form action="results.cfm" method="post">

		<tr><td class="feed_header"><b>Search Marketplace</b></td>

		    <td align=right class="feed_option"><b>Find Company</b>&nbsp;&nbsp;&nbsp;

		    <!---<select name="type" class="input_white" style="width: 150px;">
		     <option value=1>Companies
		     <option value=2>Capabilites
		    </select>

		    &nbsp;<b>keyword</b>&nbsp; --->

            <input class="input_white" type="text" style="width: 200px;" name="keyword" <cfif isdefined("session.keyword")>value="<cfoutput>#session.keyword#</cfoutput>"</cfif> required onfocus="clearThis(this)">

            &nbsp;&nbsp;<input class="button_blue" style="font-size: 11px; height: 20px; width: 50px;" type="submit" name="button" value="Search"></td>

		</tr>

   </form>
</table>

