<cfinclude template="/exchange/security/check.cfm">

<cfif isdefined("id")>

	<cfquery name="comp" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete follow
	 where follow_company_id = #id# and
	       follow_by_usr_id = #session.usr_id# and
	       follow_hub_id = #session.hub#
	</cfquery>

<cfelse>

	<cfquery name="comp" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete follow
	 where follow_company_id = #session.company_profile_id# and
	       follow_by_usr_id = #session.usr_id# and
	       follow_hub_id = #session.hub#
	</cfquery>

</cfif>

<cfif isdefined("l")>
 <cfif l is 1>
	<cflocation URL="/exchange/marketplace/" addtoken="no">
 <cfelseif l is 2>
	<cflocation URL="/exchange/marketplace/hubs/hub_companies.cfm" addtoken="no">
 <cfelseif l is 3>
	<cflocation URL="/exchange/include/profile.cfm?u=4" addtoken="no">
 </cfif>
</cfif>




