<cfquery name="get_import" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select company_id from sams
 join company on company_duns = duns
 where (SBA_Bus_Type_String like 'A6%' and
       biz_type_string like '%OY%')
</cfquery>

<cfloop query="get_import">

<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert into hub_comp
 (
  hub_comp_hub_id,
  hub_comp_company_id,
  hub_comp_added
 )
 values
 (
  63,
  #get_import.company_id#,
  #now()#
 )
</cfquery>

</cfloop>

Done