<cfquery name="private" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from media
 where media_company_id = #session.company_profile_id# and
       media_public = 1
 order by media_order
</cfquery>

<cfquery name="public" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select * from media
 where media_company_id = #session.company_profile_id# and
       media_public = 1
 order by media_order
</cfquery>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td colspan=3 class="feed_header" style="font-size: 30;">Press & Media</td></tr>
   <tr><td colspan=3><hr></td></tr>
   <tr><td height=10></td></tr>
</table>

<script>
function toggle_visibility(id) {
var e = document.getElementById(id);
e.style.display = ((e.style.display!='none') ? 'none' : 'block');
}
</script>

<table cellspacing=0 cellpadding=0 border=0 width=100%>

  <tr><td class="feed_sub_header" style="font-size: 20px; padding-bottom: 0px;">Local Information</td></tr>
  <tr><td class="feed_sub_header" style="font-weight: normal;">Information that has been approved by Companies for use on the <cfoutput>#session.network_name#</cfoutput>.</td></tr>
  <tr><td><hr></td></tr>
  <tr><td height=5></td></tr>

  <cfif private.recordcount is 0>
   <tr><td class="feed_sub_header">No information was found.</td></tr>
  <cfelse>

   <tr><td>

   <table cellspacing=0 cellpadding=0 border=0 width=100%>

     <cfoutput query="private">

      <tr><td valign=top width=120>
		   <cfif #private.media_image# is "">
		   <img src="/images/icon_product_stock.png" width=90 vspace=5 border=0>
		   <cfelse>
		   <img src="#media_virtual#/#private.media_image#" width=90 vspace=5 border=0>
		   </cfif>
           </td>

           <td valign=top>

			   <table cellspacing=0 cellpadding=0 border=0 width=100%>
			     <tr><td class="feed_sub_header" valign=top style="padding-top: 5px; padding-bottom: 0px;">#dateformat(private.media_date,'mmm dd, yyyy')# - #ucase(private.media_name)#</td></tr>
			     <tr><td class="feed_sub_header" style="font-weight: normal;" valign=top>#replace(private.media_desc,"#chr(10)#","<br>","all")#</td></tr>

			   </table>

           </td>

           <td align=right>

            <input type="submit" name="button" value="More..." class="button_blue_large" onclick="toggle_visibility('private#private.media_id#');">

           </td>

      </tr>

      <tr><td></td><td colspan=2>
        <div id="private#private.media_id#" style="display:none;">
         <table cellspacing=0 cellpadding=0 border=0 width=100%>

		   <tr><td><hr></td></tr>
		   <tr><td class="feed_sub_header" valign=top style="padding-bottom: 0px;">Full Article</td></tr>
		   <tr><td class="feed_sub_header" colspan=2 style="font-weight: normal;" valign=top>

		   <cfif #private.media_desc_long# is "">Not provided<cfelse>#replace(private.media_desc_long,"#chr(10)#","<br>","all")#</cfif></td></tr>

		   <tr><td colspan=2 class="feed_sub_header" style="padding-bottom: 0px;">Source</td></tr>
		   <tr><td colspan=2 class="feed_sub_header" style="font-weight: normal;">

		   <cfif private.media_source is "">
		    Not provided
		   <cfelse>
		     #private.media_source#
		   </cfif>
		   </td></tr>

		   <tr><td colspan=2 class="feed_sub_header" style="padding-bottom: 0px;">Link to Article</td></tr>
		   <tr><td colspan=2 class="feed_sub_header" style="font-weight: normal;">

		   <cfif private.media_url is "">
		    Not provided
		   <cfelse>
		     <a href="#private.media_url#" target="_blank" rel="noopener" style="font-weight: normal;"><u>#private.media_url#</u></a>
		   </cfif>
		   </td></tr>

         </table>
       </div>
       </td></tr>

      <tr><td colspan=3><hr></td></tr>
     </cfoutput>

   </table>

   </td></tr>

  </cfif>

  <tr><td height=10></td></tr>

  <tr><td class="feed_sub_header" style="font-size: 20px; padding-bottom: 0px;">Public Information</td></tr>
  <tr><td class="feed_sub_header" style="font-weight: normal;">Information that has been sourced from the Ratio Exchange.</td></tr>
  <tr><td><hr></td></tr>
  <tr><td height=5></td></tr>

  <tr><td height=5></td></tr>

  <cfif public.recordcount is 0>
   <tr><td class="feed_sub_header">No information has been sourced.</td></tr>
  <cfelse>

   <tr><td>

   <table cellspacing=0 cellpadding=0 border=0 width=100%>

     <cfoutput query="public">

      <tr><td valign=top width=120>
		   <cfif #public.media_image# is "">
		   <img src="/images/icon_product_stock.png" width=90 vspace=5 border=0>
		   <cfelse>
		   <img src="#media_virtual#/#public.media_image#" width=90 vspace=5 border=0>
		   </cfif>
           </td>

           <td valign=top>

			   <table cellspacing=0 cellpadding=0 border=0 width=100%>
			     <tr><td class="feed_sub_header" valign=top style="padding-top: 5px; padding-bottom: 0px;">#dateformat(public.media_date,'mmm dd, yyyy')# - #ucase(public.media_name)#</td></tr>
			     <tr><td class="feed_sub_header" style="font-weight: normal;" valign=top>#replace(public.media_desc,"#chr(10)#","<br>","all")#</td></tr>

			   </table>

           </td>

           <td align=right>

            <input type="submit" name="button" value="More..." class="button_blue_large" onclick="toggle_visibility('public#public.media_id#');">

           </td>

      </tr>

      <tr><td></td><td colspan=2>
        <div id="public#public.media_id#" style="display:none;">
         <table cellspacing=0 cellpadding=0 border=0 width=100%>

		   <tr><td><hr></td></tr>
		   <tr><td class="feed_sub_header" valign=top style="padding-bottom: 0px;">Full Article</td></tr>
		   <tr><td class="feed_sub_header" colspan=2 style="font-weight: normal;" valign=top>

		   <cfif #public.media_desc_long# is "">Not provided<cfelse>#replace(public.media_desc_long,"#chr(10)#","<br>","all")#</cfif></td></tr>

		   <tr><td colspan=2 class="feed_sub_header" style="padding-bottom: 0px;">Source</td></tr>
		   <tr><td colspan=2 class="feed_sub_header" style="font-weight: normal;">

		   <cfif public.media_source is "">
		    Not provided
		   <cfelse>
		     #public.media_source#
		   </cfif>
		   </td></tr>

		   <tr><td colspan=2 class="feed_sub_header" style="padding-bottom: 0px;">Link to Article</td></tr>
		   <tr><td colspan=2 class="feed_sub_header" style="font-weight: normal;">

		   <cfif public.media_url is "">
		    Not provided
		   <cfelse>
		     <a href="#public.media_url#" target="_blank" rel="noopener" style="font-weight: normal;"><u>#public.media_url#</u></a>
		   </cfif>
		   </td></tr>

         </table>
       </div>
       </td></tr>

      <tr><td colspan=3><hr></td></tr>
     </cfoutput>


   </table>

   </td></tr>

  </cfif>

</table>