<cfsetting RequestTimeout = "90000">

<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete webcontent
 where webcontent_url = '#company_website#'
</cfquery>

<cfset crawl_url = "#company_website#">
<cfhttp url= #crawl_url# result="Response" />
<cfset html = Response.FileContent />

<!---
<cfset start1 = find("<title>",html)>
<cfset end = find("</title>",html)>
<cfset start2 = evaluate(start1+7)>
<cfset count = evaluate(end-start2)>
<cfset title = #mid(html,start2,count)#>


<cfset mstart1 = find('meta name="description" content="',html)>
<cfset mstart2 = evaluate(mstart1+33)>
<cfset end1 = find('"',html, mstart2)>
<cfset count2 = evaluate(end1-mstart2)>
<cfset meta = mid(html,mstart2, count2)>
--->

<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert into webcontent(webcontent_content, webcontent_date, webcontent_url)
 values('#html#',#now()#,'#crawl_url#')
</cfquery>
