<cfinclude template="/exchange/security/check.cfm">

<cfif isdefined("id")>

	<cfquery name="company" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	  select company_duns from company
	  where company_id = #id#
	</cfquery>

    <cfset session.company_profile_id = #id#>
    <cfset session.company_profile_duns = #company.company_duns#>


<cfelse>

    <cfif left(duns,1) is 0>

     <cfset length = len(duns)>
     <cfset new_length = #evaluate(length - 1)#>
     <cfset new_duns = right(duns,new_length)>

		<cfif left(new_duns,1) is 0>

		 <cfset length = len(new_duns)>
		 <cfset new_length = #evaluate(length - 1)#>
		 <cfset new_duns_2 = right(new_duns,new_length)>

			<cfquery name="company" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
			  select company_website, company_registered, company_logo, company_id, company_duns, company_name from company
			  where company_duns = '#new_duns_2#'
			</cfquery>

			<cfset session.company_profile_id = #company.company_id#>
			<cfset session.company_profile_duns = #company.company_duns#>

		<cfelse>

			<cfquery name="company" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
			  select company_website, company_registered, company_logo, company_id, company_duns, company_name from company
			  where company_duns = '#new_duns#'
			</cfquery>

			<cfset session.company_profile_id = #company.company_id#>
			<cfset session.company_profile_duns = #company.company_duns#>

		</cfif>

    <cfelse>

		<cfquery name="company" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		  select company_id, company_duns company
		  where company_duns = '#duns#'
		</cfquery>

		<cfif company.recordcount is 0>
			<cfset session.company_profile_id = 0>
			<cfset session.company_profile_duns = #company.company_duns#>
		<cfelse>
			<cfset session.company_profile_id = #company.company_id#>
			<cfset session.company_profile_duns = #company.company_duns#>
		</cfif>

    </cfif>

</cfif>

<cfquery name="subscription" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from premium
 where premium_usr_id = #session.usr_id#
</cfquery>

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
    <link rel="shortcut icon" type="image/png" href="/images/exchange.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"></head><div class="center">
<body class="body">

<script language="javascript" type="text/javascript">
function windowClose() {
window.open('','_parent','');
window.close();
}
</script>

 <cfinclude template = "/exchange/include/header.cfm">

           <div class="main_box">

           <cfinclude template="/exchange/include/company_header.cfm">

		   <table cellspacing=0 cellpadding=0 border=0 width=100%>
		   <tr><td height=20></td></tr>

		   <tr><td valign=top width=225>

		   <cfinclude template="/exchange/include/company_menu.cfm">

           </td><td valign=top width=70>&nbsp;</td><td valign=top>

		       <table cellspacing=0 cellpadding=0 border=0 width=100%>

               </table>

           </td></tr>

           </table>

           </div>

<cfabort>































 <cfinclude template = "/exchange/include/header.cfm">

 <div class="main_box">
  <cfinclude template="profile_header.cfm">
 </div>

 <div class="main_box">
  <cfinclude template="sams_profile.cfm">
 </div>

<cfinclude template="/exchange/include/footer.cfm">

</body>
</html>

