<cfif button is "Apply">

<cfset search_string = #replace(filter,chr(34),'',"all")#>
<cfset search_string = #replace(search_string,'''','',"all")#>
<cfset search_string = #replace(search_string,')','',"all")#>
<cfset search_string = #replace(search_string,'(','',"all")#>
<cfset search_string = #replace(search_string,',','',"all")#>
<cfset search_string = #replace(search_string,':','',"all")#>
<cfset search_string = '"' & #search_string#>
<cfset search_string = #search_string# & '"'>
<cfset search_string = #replace(search_string,' or ','" or "',"all")#>
<cfset search_string = #replace(search_string,' and ','" and "',"all")#>
<cfset search_string = #replace(search_string,' and "not ',' and not "',"all")#>

<cfset session.profile_filter = #search_string#>

<cfelseif button is "Clear">
 <cfset StructDelete(Session,"profile_filter")>
</cfif>

<cfif location is "Awards">
 <cflocation URL="profile.cfm?l=10" addtoken="no">
<cfelseif location is "Grants">
 <cflocation URL="profile.cfm?l=13" addtoken="no">
<cfelseif location is "SBIR">
 <cflocation URL="profile.cfm?l=14" addtoken="no">
</cfif>