<cfquery name="find" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select top(1) id from award_data
 where award_id_piid = '#award_id#'
 order by action_date ASC
</cfquery>

<cflocation URL="/exchange/include/award_information.cfm?id=#find.id#" addtoken="no">
