	 <table cellspacing=0 cellpadding=0 border=0 width=100% height=50 bgcolor="022447">

 		  <tr><td class="hub_header" width=77%>

 		  <cfif isdefined("session.hub")>

			  <cfquery name="hub" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
			   select * from hub
			   where hub_id = #session.hub#
			  </cfquery>

			  <cfoutput>

			  <a href="/exchange/hub/index.cfm?i=#session.hub#"><font color="ffffff">#hub.hub_name#</font></a>

			  </cfoutput>

 		  <cfelse>

			  <a href="/exchange/"><img src="/images/exchange_logo.png" width=160 border=0 hspace=10></a>

 		  </cfif>

 		  </td>
	      <td align=right>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

			  <tr>

			      <td align=center><a href="/exchange/hub/index.cfm?i=<cfoutput>#session.hub#</cfoutput>"><img src="/images/feed.png" height=20 border=0></a></td>
                  <cfif isdefined("session.company_id")>
				    <td align=center><a href="/exchange/company/"><img src="/images/icon_pillar.png" height=20 border=0></a></td>
				  </cfif>

				  <td align=center><a href="/exchange/profile/"><img src="/images/icon_pic.png" height=20 border=0></a></td>
			      <td align=center><a href="/exchange/"><img src="/images/icon_exchange.png" height=20 border=0></a></td>
  			      <td align=center><a href="/exchange/logout.cfm"><img src="/images/icon_exit.png" height=20 border=0></a></td>
			  </tr>

			  <tr>
			      <td align=center class="header_link"><a href="/exchange/hub/index.cfm?i=<cfoutput>#session.hub#</cfoutput>">Feed</a></td>
                  <cfif isdefined("session.company_id")>
				    <td align=center class="header_link"><a href="/exchange/company/">My Company</a></td>
				  </cfif>

				  <td align=center class="header_link"><a href="/exchange/profile/">My Profile</a></td>
			      <td align=center class="header_link"><a href="/exchange/">Exchange</a></td>
				  <td align=center class="header_link"><a href="/exchange/logout.cfm/">Log Out</a></td>

			  </tr>

		  </table>

      <td width=20>&nbsp;</td>
  </tr>

  </table>