<cfif a is 1>

	<cfquery name="add_comp" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 insert hub_comp
	 (
	 hub_comp_hub_id,
	 hub_comp_company_id,
	 hub_comp_added_by_usr_id,
	 hub_comp_added_by_company_id,
	 hub_comp_added
	 )
	 values
	 (
	  #session.hub#,
	  #id#,
	  #session.usr_id#,
	  #session.company_id#,
	  #now()#
	 )
	</cfquery>

	<cflocation URL="/exchange/include/profile.cfm?u=1" addtoken="no">

<cfelse>

	<cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete hub_comp
	 where hub_comp_hub_id = #session.hub# and
	       hub_comp_company_id = #id#
	</cfquery>

    <cflocation URL="/exchange/include/profile.cfm?u=2" addtoken="no">

</cfif>



