<table cellspacing=0 cellpadding=0 border=0 width=100%>

  <cfoutput>

    <tr><td valign=top>

    <table cellspacing=0 cellpadding=0 width=0 width=100%>
     <cfif #profile.usr_photo# is "">
      <tr><td class="text_xsmall"><img src="/images/headshot.png" width=100 border=0></td></tr>
     <cfelse>
      <tr><td class="text_xsmall"><img style="border-radius: 2px;" src="#media_virtual#/#profile.usr_photo#" width=125></td></tr>
     </cfif>
      <tr><td>&nbsp;</td></tr>

      <cfif #profile.usr_linkedin# is not "">
      <tr><td align=center>
      <a href="#profile.usr_linkedin#" target="_blank" rel="noopener" rel="noreferrer"><img src="/images/linkedin.jpg" width=100 border=0></a>
      </td></tr>
      </cfif>

    </table>

    </td><td valign=top>

    </td></tr>

  </cfoutput>
</table>