<cfinclude template="/exchange/security/check.cfm">

<!---

1 - Company
2 - Award
3 - Opportunity

--->

	<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete portfolio_item
	 where portfolio_item_usr_id = #session.usr_id# and
	 portfolio_item_portfolio_id in (#remove_id#) and
	 portfolio_item_company_id = #id#
	</cfquery>

	<html>
	<head>
		<title><cfoutput>#session.network_name#</cfoutput></title>
		<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
	</head><div class="center">
	<body class="body" style="background-color: FFFFFF">

	<script language="javascript" type="text/javascript">
	function windowClose() {
	window.open('','_parent','');
	window.close();
	}
	</script>

	<center>
	<table cellspacing=0 cellpadding=0 border=0 width=95%>
	 <tr><td height=20></td></tr>
	 <tr><td class="feed_header">The selected Company has been removed from your Portfolio(s).</td></tr>
	 <tr><td>&nbsp;</td></tr>
	 <tr><td class="feed_header"><input class="button_blue_large" type="button" value="Close" onclick="windowClose();"></td></tr>
	 <tr><td height=10></td></tr>
	</table>

	</body>
	</html>