<cfquery name="record" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert into tracker
 (
  tracker_usr_id,
  tracker_category,
  tracker_company,
  tracker_date,
  tracker_url
  )
  values
  (
  #session.usr_id#,
 '#cat#',
  #session.company_id#,
  #now()#,
 '#ref#'
 )
</cfquery>

<cfoutput>
<script type="text/javascript">
  window.open('#ref#');
  window.history.back();
</script>

</cfoutput>

