<cfif button is "Apply">
 <cfset session.sub_profile_filter = #filter#>
<cfelseif button is "Clear">
 <cfset session.sub_profile_filter = 0>
</cfif>

<cflocation URL="profile.cfm?l=12" addtoken="no">
