<cfset duns="0265636">

<!--- Process 3 --->

<cfif left(duns,'3') is "000">
	<cfset duns_length = len(duns)>
	<cfset new_length = #evaluate(duns_length - 3)#>
	<cfset new_duns = right(duns,new_length)>
<cfelseif left(duns,'2') is "00">
	<cfset duns_length = len(duns)>
	<cfset new_length = #evaluate(duns_length - 2)#>
	<cfset new_duns = right(duns,new_length)>
<cfelseif left(duns,'1') is "0">
	<cfset duns_length = len(duns)>
	<cfset new_length = #evaluate(duns_length - 1)#>
	<cfset new_duns = right(duns,new_length)>
<cfelse>
    <cfset new_duns = '#duns#'>
</cfif>

<cfoutput>#new_duns#</cfoutput>