<cfinclude template="/exchange/security/check.cfm">

<cftransaction>

	<cfquery name="delete1" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete usr
	 where usr_id = #usr_id#
	</cfquery>

	<cfquery name="delete2" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete align
	 where align_usr_id = #usr_id#
	</cfquery>

	<cfquery name="delete3" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete hub_xref
	 where hub_xref_usr_id = #usr_id#
	</cfquery>

	<cfquery name="delete4" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete premium
	 where premium_usr_id = #usr_id#
	</cfquery>

</cftransaction>

<cflocation URL="index.cfm?u=3" addtoken="no">
