<cfinclude template="/exchange/security/check.cfm">

<cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete hub_xref
 where hub_xref_hub_id = #session.hub# and
       hub_xref_usr_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
</cfquery>

<cflocation URL="index.cfm?u=86" addtoken="no">