<cfif button is "Go">
 <cfif trim(user_keyword) is not "">
 	<cfset session.user_keyword = '#user_keyword#'>
 <cfelse>
	 <cfset StructDelete(Session,"user_keyword")>
 </cfif>
<cfelseif button is "All">
 <cfset StructDelete(Session,"user_keyword")>
</cfif>

<cflocation URL="index.cfm" addtoken="no">