<cfinclude template="/exchange/security/check.cfm">

<cfif listlen(challenge_email) GT 0>

<cfloop index="e" list="#challenge_email#">

	<cfmail from="EXCHANGE CHALLENGE <noreply@ratio.exchange>"
			  to="#e#"
	  username="noreply@ratio.exchange"
	  password="Gofus107!"
		  port="25"
		useSSL="false"
		type="html"
		server="mail.ratio.exchange"
	   subject="#challenge_subject#">
	<html>
	<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
	</head><div class="center">
	<body class="body">

	<cfoutput>

		<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="ffffff">
		 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;"><b>From: </b> #challenge_from#</td></tr>
		 <tr><td>&nbsp;</td></tr>
		 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">#challenge_email#</td></tr>
		 <tr><td><hr></td></tr>
		 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;"><b>About the Exchange</b></td></tr>
		 <tr><td style="font-family; color: 000000; calibri, arial; font-size: 14px;">The Exchange is the worlds most intelligent government marketplace focused on accelerating revenue and growth for companies with innovative products and services.</td></tr>
		 <tr><td>&nbsp;</td></tr>
		</table>

		<table cellspacing=0 cellpadding=0 border=0 width=100% bgcolor="000000">
		 <tr><td height=75 valign=middle><a href="https://www.ratio.exchange"><img src="http://go.ratio.exchange/images/exchange_logo.png" width=160 hspace=10 border=0></a></td></tr>
		</table>

	</cfoutput>

	</body>
	</html>

	</cfmail>

</cfloop>

</cfif>

<cflocation URL="index.cfm?u=1" addtoken="no">