<cfinclude template="/exchange/security/check.cfm">

<cfif isdefined("outcome_id")>

<cfloop index="i" list="#outcome_id#">

		<cfquery name="associate" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		 insert risk_ass
		 (risk_ass_risk_id, risk_ass_outcome_id, risk_ass_associated)
		 values(#session.risk_id#, #i#, #now()#)
		</cfquery>

</cfloop>

</cfif>

<cflocation URL="/exchange/sourcing/risks/risk_open.cfm" addtoken="no">
