<div class="left_box">

  <center>
  <table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header"><a href="/exchange/sourcing/risks/">RISK MANAGEMENT</a></td></tr>
  <tr><td><hr></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/dot_blue2.png" width=10>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/sourcing/risks/risk_add.cfm">ADD RISK</a></td></tr>
  <tr><td class="link_med_blue" height=25><img src="/images/dot_blue2.png" width=10>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/exchange/sourcing/risks/risk_dashboard.cfm">RISK DASHBOARD</a></td></tr>
 </table>
  </center>

</div>

