<div class="left_box">

  <center>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="feed_header"><a href="/exchange/sourcing/">FILTER RESULTS</a></td></tr>
   <tr><td colspan=2><hr></td></tr>
  </table>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/requirements/"><img src="/images/icon_info.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/requirements/">MY REQUIREMENTS</a></td></tr>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/challenges/"><img src="/images/requirement.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/challenges/">MARKET CHALLENGES</a></td></tr>
 </table>
  </center>

</div>

