<div class="left_box">

  <center>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="feed_header"><a href="/exchange/sourcing/">DEMAND</a></td></tr>
   <tr><td colspan=2><hr></td></tr>
  </table>

  <table cellspacing=0 cellpadding=0 border=0 width=100%>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/"><img src="/images/icon_home2.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/">DEMAND PORTFOLIO</a></td></tr>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/risks/"><img src="/images/icon_risk.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/risks/">RISKS</a></td></tr>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/needs/"><img src="/images/icon_info.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/needs/">NEEDS</a></td></tr>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/challenges/"><img src="/images/icon_challenge.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/challenges/">CHALLENGES</a></td></tr>
   <tr><td colspan=2><hr></td></tr>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/risks/risk_add.cfm"><img src="/images/plus3.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/risks/risk_add.cfm">ADD RISK</a></td></tr>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/needs/add.cfm"><img src="/images/plus3.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/needs/add.cfm">ADD NEED</a></td></tr>
   <tr><td class="link_med_blue" height=25 width=30><a href="/exchange/sourcing/challenges/add.cfm"><img src="/images/plus3.png" width=15 border=0></a></td><td class="link_med_blue"><a href="/exchange/sourcing/challenges/add.cfm">ADD CHALLENGE</a></td></tr>


 </table>
  </center>

</div>

