<cfquery name="sourced" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select count(need_comp_id) as total from need_comp
 where need_comp_need_id = #session.need_id#
</cfquery>

<cfquery name="views" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select count(recent_id) as total from recent
 where recent_need_id = #session.need_id#
</cfquery>

<cfquery name="follow" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select count(follow_id) as total from follow
 where follow_need_id = #session.need_id#
</cfquery>

<cfquery name="challenged" datasource="#client_datasource#" username="#client_username#" password="#client_password#" maxrows="100">
 select count(need_comp_id) as total from need_comp
 where need_comp_need_id = #session.need_id# and
       need_comp_contender = 1
</cfquery>

<div class="left_box">

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td class="feed_header">NEED STATS</td>
	      <td align=right></td></tr>
	  <tr><td colspan=2><hr></td></tr>
      </table>

	  <table cellspacing=0 cellpadding=0 border=0 width=100%>

      <cfoutput>

		  <tr>
			  <td class="feed_sub_header" align=center style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/" style="font-size: 28px;">#views.total#</a></span></td>
			  <td class="feed_sub_header" align=center style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/" style="font-size: 28px;">#follow.total#</a></span></td>
		  </tr>

		  <tr>
			  <td class="link_small_gray" align=center><a href="/exchange/">VIEWS</a></td>
			  <td class="link_small_gray" align=center><a href="/exchange/">FOLLOWERS</td>
		  </tr>

		  <tr><td height=5></td></tr>
		  <tr><td colspan=2><hr></td></tr>

		  <tr>
			  <td class="feed_sub_header" align=center style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/sourcing/needs/sourcing/" style="font-size: 28px;">#sourced.total#</a></td>
			  <td class="feed_sub_header" align=center style="padding-top: 2px; padding-bottom: 2px;"><a href="/exchange/sourcing/needs/challenge/" style="font-size: 28px;">#challenged.total#</a></span></td>
		  </tr>

		  <tr>
			  <td class="link_small_gray" align=center><a href="/exchange/opps/">SOURCED</td>
			  <td class="link_small_gray" align=center><a href="/exchange/opps/">CHALLENGED</a></td>
		  </tr>

	  </cfoutput>

	  </table>
	  </center>

</div>


