<table cellspacing=0 cellpadding=0 border=0 width=100%>
<form action="/exchange/sourcing/set_source.cfm" method="post">
<tr><td class="feed_header">SOURCING</td>
  <td align=right><span class="feed_sub_header"><b>Search for Capability</b></span>&nbsp;&nbsp;
  <cfoutput>
  <input type="text" name="keyword" <cfif isdefined("session.source_keywords")>value="#session.source_keywords#"</cfif> class="input_text" style="width: 235px;" placeholder="keyword" required maxlength="100">
  </cfoutput>
  &nbsp;&nbsp;
  <input class="button_blue" type="submit" name="button" value="Search">
  </td></tr>
</form>
</table>

