<cfinclude template="/exchange/security/check.cfm">

<cfset search_string = #replace(search,chr(34),'',"all")#>
<cfset search_string = #replace(search_string,'''','',"all")#>
<cfset search_string = #replace(search_string,')','',"all")#>
<cfset search_string = #replace(search_string,'(','',"all")#>
<cfset search_string = #replace(search_string,',','',"all")#>
<cfset search_string = #replace(search_string,':','',"all")#>
<cfset search_string = '"' & #search_string#>
<cfset search_string = #search_string# & '"'>
<cfset search_string = #replaceNoCase(search_string,' or ','" or "',"all")#>
<cfset search_string = #replaceNoCase(search_string,' and ','" and "',"all")#>

<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update market_report
 set market_report_keywords = '#search_string#'
 where market_report_id = #session.market_report_id#
</cfquery>

<cflocation URL="run_awards.cfm?u=1" addtoken="no">

