<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update market_report
 set market_report_keywords = '#search#'
 where market_report_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
</cfquery>

<cflocation URL="run_select.cfm?i=#i#&u=1" addtoken="no">

