<cfinclude template="/exchange/security/check.cfm">

<cfset #session.market_report_id# =  #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#>

<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 insert recent(recent_report_id, recent_usr_id, recent_usr_company_id, recent_hub_id, recent_date)
 values(#session.market_report_id#,#session.usr_id#,#session.company_id#,#session.hub#,#now()#)
</cfquery>

<cflocation URL="run_report.cfm" addtoken="no">