<cfoutput>

		<table cellspacing=0 cellpadding=0 border=0 width=100%>

		 <tr><td valign=top width=130>

			 <table cellspacing=0 cellpadding=0 border=0 width=100%>

			 <tr><td align=center valign=top style="padding-right: 20px;">

			 <cfif #apps.app_image# is "">
			  <img src="#image_virtual#app.png" height=110 width=110 border=0 vspace=15>
			 <cfelse>
			  <img style="border-radius: 2px;" vspace=15 src="#image_virtual#/#apps.app_image#" height=110 width=110 border=0>
			 </cfif>

		     </td></tr>

			 </table>

		 <td valign=top>

		<table cellspacing=0 cellpadding=0 border=0 width=100%>
		 <tr><td height=15></td></tr>
		 <tr><td class="feed_sub_header" style="padding-top: 0px; padding-bottom: 0px;">#apps.app_name#</td></tr>
		 <tr><td class="link_small_gray" style="padding-top: 0px; padding-bottom: 0px;">#apps.app_category_name#</td></tr>
		 <tr><td class="feed_sub_header" style="padding-top: 5px; padding-bottom: 0px; font-weight: normal;" >#apps.app_desc_short#</td></tr>
		</table>

		</td></tr>

		</table>

</cfoutput>