<cfoutput>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	 <tr><td valign=top width=130>

		 <table cellspacing=0 cellpadding=0 border=0 width=100%>

		 <cfif #services.service_image# is "">
		  <tr><td align=center valign=top width=110 style="padding-right: 20px;"><a href="service.cfm?i=#encrypt(service_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#"><img src="#image_virtual#/icon_services.png" height=110 width=110 border=0 vspace=15></td></tr>
		 <cfelse>
		  <tr><td align=center valign=top width=110 style="padding-right: 20px;"><a href="service.cfm?i=#encrypt(service_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#"><img style="border-radius: 180px;" vspace=15 src="#media_virtual#/#services.service_image#" height=110 width=110 border=0></td></tr>
		 </cfif>

		 <tr><tr>

		 <tr><td height=10></td></tr>
		 <tr><td align=center><input type="submit" name="button" class="button_blue" value="Learn More" style="margin-right: 20px;" onclick="location.href='service.cfm?i=#encrypt(service_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#';"></td></tr>
		 <tr><td height=10></td></tr>

		 </table>

    <td valign=top>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	 <tr><td height=15></td></tr>
	 <tr><td class="feed_header" style="padding-top: 0px; padding-bottom: 0px;"><a href="service.cfm?i=#encrypt(service_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#">#services.service_name#</a></td>
		 <td align=right valign=top></td></tr>

     <tr><td height=10></td></tr>

	 <tr><td class="feed_sub_header" style="padding-top: 0px; padding-bottom: 0px; font-weight: normal;" colspan=2>#services.service_short_desc#</td></tr>

	</table>

	</td></tr>

	</table>

</cfoutput>



