<cfquery name="cat" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select * from patent_cat
</cfquery>

         <table cellspacing=0 cellpadding=0 border=0 width=100%>
          <tr><td class="feed_header"><img src="/images/icon_patent.png" width=18 align=absmiddle>&nbsp;&nbsp;&nbsp;Search Patents</td>
              <td align=right></td></tr>
          <tr><td><hr></td></tr>
         </table>

         <table cellspacing=0 cellpadding=0 border=0 width=100%>

           <tr>
          <form action="/exchange/patents/set.cfm" method="post" onsubmit="javascript:document.getElementById('page-loader').style.display='block';">

              <td class="feed_sub_header" width=75>Find</td>

                   <td class="feed_option">

                   <select name="search_type" class="input_select" style="width: 200px;">
                    <option value=1>Patent # / Subject
                    <option value=2 <cfif isdefined("session.search_type") and session.search_type is 2>selected</cfif>>Company / Person
                   <select>
                   &nbsp;&nbsp;
                   <input type="text" name="search_keyword" class="input_text" style="width: 300px;" maxlength="100" required placeholder="keyword" <cfif isdefined("session.patent_keyword")>value="<cfoutput>#session.patent_keyword#</cfoutput>"</cfif>>


                   &nbsp;&nbsp;<input type="submit" name="button" class="button_blue" value="Search">

               </form>
               </tr>

          </table>
