<cfif button is "Filter">
 <cfset session.search_filter = #filter#>
</cfif>

<cfif location is "cview_01">
 <cflocation URL="cview_01.cfm?sv=#sv#" addtoken="no">
<cfelseif location is "cview_02">
 <cflocation URL="cview_02.cfm?sv=#sv#" addtoken="no">
<cfelseif location is "cview_03">
 <cflocation URL="cview_03.cfm?sv=#sv#" addtoken="no">
<cfelseif location is "cview_04">
 <cflocation URL="cview_04.cfm?sv=#sv#" addtoken="no">
<cfelseif location is "cview_05">
 <cflocation URL="cview_05.cfm?sv=#sv#" addtoken="no">
<cfelseif location is "cview_05_details">
 <cflocation URL="cview_05_details.cfm?i=#i#&sv=#sv#&name=#name#" addtoken="no">
</cfif>