<!--- Portfolios --->

<div class="left_box">

	<center>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		  <tr><td class="feed_header" valign=bottom><b>SELECT COMPANIES</b></a></td>
		      <td align=right valign=top></td></tr>
		  <tr><td colspan=2><hr></td></tr>
		  </table>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		   <tr>
		       <td><a href="autosource.cfm"><img src="/images/icon_automatic.png" width=16 align=absmiddle border=0></a></td>
		       <td class="link_med_blue" height=30><a href="autosource.cfm">FIND COMPANIES</a></td></tr>
		   <tr>
		       <td><a href="import_portfolio.cfm"><img src="/images/icon_portfolio_black.png" width=16 align=absmiddle border=0></a></td>
		       <td class="link_med_blue" height=30><a href="import_portfolio.cfm">MY PORTFOLIOS</a></td></tr>
		  </table>

	</center>


</div>



