 <cfquery name="check_access" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
   select comm_xref_usr_id from comm_xref
   where comm_xref_comm_id = #session.community_id# and
   comm_xref_usr_role = 1 and
   comm_xref_usr_id = #session.usr_id#
 </cfquery>

 <cfif check_access.recordcount is 0>
  <cfset comm_manager = 0>
 <cfelse>
  <cfset comm_manager = 1>
 </cfif>