<cfoutput>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

		<tr><td class="feed_header" colspan=3 align=center>ECOSYSTEM</td></tr>
		<tr><td height=10></td></tr>

		<tr>
			<td class="feed_header" align=center><a href="profile_members.cfm?cid=#cid#" style="font-size: 55px;">#members.recordcount#</a></td>
			<td class="feed_header" align=center><a href="profile_companies.cfm?cid=#cid#" style="font-size: 55px;">#comp1.total#</a></td>
			<td class="feed_header" align=center><a href="profile_hubs.cfm?cid=#cid#" style="font-size: 55px;">#children.recordcount#</a></td>
		</tr>

		<tr>
			<td class="link_med_gray" align=center>Members</td>
			<td class="link_med_gray" align=center>Partners</td>
			<td class="link_med_gray" align=center>Communities</td>
		</tr>

		<tr><td height=20></td></tr>
		<tr><td colspan=4><hr></td></tr>

	</table>

</cfoutput>