<cfoutput>
  <table cellspacing=0 cellpadding=0 border=0 width=100%>

    <cfif comm_profile.comm_logo is "">
		<tr><td style="padding-left: 30px;"><img src="#image_virtual#/stock_community.png" width=150 border=0></td>
    <cfelse>
		<tr><td style="padding-left: 30px;"><img src="#media_virtual#/#comm_profile.comm_logo#" width=150 border=0></td>
	</cfif>
  </table>
</cfoutput>