<form action="join_open_process.cfm" method="post">

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

		 <tr><td height=10></td></tr>
		 <tr><td class="feed_header">Welcome to the <cfoutput>#comm_profile.comm_name#</cfoutput> Community<td></tr>
		 <tr><td class="feed_sub_header" style="font-weight: normal;">
			 This is an open Community that does not require access approval.  Please provide a brief description of your background and why you are joining this Community.
			 </td></tr>

		 <cfoutput>
			 <tr><td class="feed_sub_header" style="font-weight: normal;"><b>From: </b> #info.usr_first_name# #info.usr_last_name#</td></tr>
		 </cfoutput>

		 <tr><td><textarea name="join_message" class="input_textarea" style="width: 900px; height: 150px;"></textarea></td></tr>
		 <tr><td height=10></td></tr>
		 <tr><td><input type="submit" name="button" value="Join Community" class="button_blue_large"></td></tr>
		 <tr><td height=5></td></tr>

	</table>

</form>
