<cfoutput>
	<table cellspacing=0 cellpadding=0 border=0 height=220 width=100%>
	 <cfif #members.usr_photo# is "">
	  <tr><td align=center><img src="/images/headshot.png" height=125 width=125 border=0></td></tr>
	 <cfelse>
	  <tr><td align=center><img src="#media_virtual#/#members.usr_photo#" height=125 width=125 border=0></td></tr>
	 </cfif>
	 <tr><td height=5></td></tr>
	 <tr><td class="feed_title" align=center>#members.usr_first_name# #members.usr_last_name#</td></tr>
	 <cfif #members.usr_title# is not "">
	 	<tr><td class="feed_option" align=center>#members.usr_title#</td></tr>
	 </cfif>
	</table>
	<table cellspacing=0 cellpadding=0 border=0 width=100%>
	 <cfif #members.company_name# is not "">
	   <tr><td height=10></td></tr>
	   <tr><td class="feed_option" align=center valign=bottom><a href="/exchange/include/company_profile.cfm?id=#members.company_id#" target="_blank" rel="noopener" rel="noreferrer"><b>#members.company_name#</b></a></td></tr>
	 </cfif>
    </table>
</cfoutput>
