<cfinclude template="/exchange/security/check.cfm">

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
    <link rel="shortcut icon" type="image/png" href="/images/exchange.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

 <cfinclude template = "/exchange/include/header.cfm">

 <cfset member = 0>
 <cfset admin = 0>

 <cfquery name="comm_profile" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  select * from comm
  where comm_id = #session.community_id#
 </cfquery>

 <cfif comm_profile.comm_owner_id is #session.usr_id#>
  <cfset member = 1>
  <cfset admin = 1>
 </cfif>

 <cfquery name="membership" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  select * from comm_xref
  where comm_xref_usr_id = #session.usr_id# and
        comm_xref_comm_id = #session.community_id# and
        comm_xref_active = 1
 </cfquery>

 <cfif membership.recordcount GT 0>
  <cfset member = 1>
 </cfif>

<style>
.image_home {
    <cfif #comm_profile.comm_banner# is "">
    background-image: url('<cfoutput>#image_virtual#/comm_stock_banner.jpg</cfoutput>');
    <cfelse>
    background-image: url('<cfoutput>#media_virtual#/#comm_profile.comm_banner#</cfoutput>');
    </cfif>
    max-width: 100%;
    background-size: 100%;
    height:250px;
}
.comm_right_box {
    width: 300px;
    height: auto;
    box-shadow: 0 1px 2px 0 #a0a0a0, 0 1px 2px 0 #a0a0a0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: #b0b0b0;
    border-width: thin;
    border-style: solid;
    border-radius: 2px;
    background-color: #ffffff;
}
</style>

<style>
.tab_active {
	height: auto;
	z-index: 100;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	display: inline-block;
	margin-left: 20px;
	width: auto;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-right: 20px;
	align: bottom;
	border-color: #b0b0b0;
	border-width: thin;
	border-style: solid;
	border-radius: 2px;
	background-color: #ffffff;
	border-bottom: 0px;
}
.tab_not_active {
	height: auto;
	z-index: 100;
	padding-top: 7px;
	padding-left: 20px;
	padding-bottom: 7px;
	display: inline-block;
	margin-left: -4px;
	width: auto;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	vertical-align: bottom;
	padding-right: 20px;
	border-color: #b0b0b0;
	border-width: thin;
	border-style: solid;
	border-radius: 2px;
	background-color: #e0e0e0;
	border-bottom: 0px;
}
.main_box_2 {
	width: auto;
	height: auto;
	z-index: 100;
	box-shadow: 0 1px 2px 0 #a0a0a0, 0 1px 2px 0 #a0a0a0;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 20px;
	border-radius: 2px;
	border-color: #b0b0b0;
	border-width: thin;
	border-style: solid;
	border-radius: 2px;
	background-color: #ffffff;
	border-top: 0px;
}
</style>


 <table cellspacing=0 cellpadding=0 border=0 width=100%>

	  <tr><td valign=top width=185>

      <cfinclude template="/exchange/components/my_profile/profile.cfm">
      <cfinclude template="/exchange/components/my_communities/index.cfm">
      </td><td valign=top width=100%>

          <cfif member is 0>
          <div style="height: 22px;"></div>

          <cfelse>

          <div class="tab_active">
           <span class="feed_header"><img src="/images/icon_news.png" width=22 align=absmiddle>&nbsp;&nbsp;<a href="open.cfm">Posts</a></span>
          </div>

			  <cfif comm_profile.comm_calendar is 1>
			   <div class="tab_not_active">
				<span class="feed_sub_header"><img src="/images/icon_calendar.png" width=15 align=absmiddle>&nbsp;&nbsp;<a href="calendar.cfm">Shared Calendar</a></span>
			   </div>
			  </cfif>

			  <cfif comm_profile.comm_documents is 1>
			  <div class="tab_not_active">
			   <span class="feed_sub_header"><img src="/images/icon_document.png" width=15 align=absmiddle>&nbsp;&nbsp;<a href="docs.cfm">Document Library</a></span>
			  </div>
			  </cfif>

			  <cfif comm_profile.comm_opportunity is 1>
			  <div class="tab_not_active">
			   <span class="feed_sub_header"><img src="/images/icon_tile.png" width=15 align=absmiddle>&nbsp;&nbsp;<a href="opps.cfm">Opportunity Board</a></span>
			  </div>
			  </cfif>

          </cfif>

		<div class="main_box_2">

        <center>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

			  <tr><td valign=top width=100%>

				  <cfoutput>

				  <table cellspacing=0 cellpadding=0 border=0 width=100%>
				   <tr><td class="feed_header"><a href="s.cfm?i=#encrypt(comm_profile.comm_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#">#comm_profile.comm_name#</a></td>
				       <td align=right class="feed_sub_header"><img src="/images/group.png" width=20 hspace=10><a href="/exchange/marketplace/communities/">All Communities</a></td></tr>
                   <tr><td height=10></td></tr>
				  </table>

				  <table cellspacing=0 cellpadding=0 border=0 width=100%>
                   <tr class="image_home"><td><cfinclude template="hub_header.cfm"></td></tr>
                   <tr><td height=10></td></tr>
                  </table>



                  <cfif member is 0>

                  <!---
                  1 - Standard
                  2 - Private
                  3 - Open
                  --->

					<cfif comm_profile.comm_type_id is 1>
					 <cfinclude template="join_standard.cfm">
					<cfelseif comm_profile.comm_type_id is 3>
					 <cfinclude template="join_open.cfm">
					</cfif>

                  <cfelse>

				  	<cfinclude template="feed.cfm">

				  </cfif>

				  </cfoutput>

			  </td></tr>

		 </table>
		 </center>


	  </div>

      </td><td valign=top>

       <cfif member is 1>

        <table cellspacing=0 cellpadding=0 border=0 width=100%>
        <tr><td height=45></td></tr>
        </table>

        </cfif>

		<cfinclude template="about.cfm">

        <cfif member is 1>
			<cfinclude template="network.cfm">
			<cfinclude template="companies.cfm">
	    </cfif>

		<cfinclude template="manager.cfm">

      </td></tr>

  </table>

  <cfinclude template="/exchange/include/footer.cfm">

</body>
</html>