<cfif button is "All">

	<cfset StructDelete(Session,"network_keyword")>

<cfelse>

	<cfif len(trim(network_keyword)) is 0>
		<cfset StructDelete(Session,"network_keyword")>
	<cfelse>
	    <cfset session.network_keyword = #trim(network_keyword)#>
	</cfif>

</cfif>

<cflocation URL="index.cfm" addtoken="no">