<cfif button is "Clear">
	<cfset StructDelete(Session,"document_filter")>
	<cfset StructDelete(Session,"document_keyword")>
	<cflocation URL="docs.cfm" addtoken="no">
</cfif>

<cfset session.document_filter =  #document_filter#>
<cfif trim(document_keyword) is "">
 <cfset session.document_keyword = 0>
<cfelse>
 <cfset session.document_keyword = #document_keyword#>
</cfif>
<cflocation URL="docs.cfm" addtoken="no">
