<table cellspacing=0 cellpadding=0 border=0 width=100%>
<cfoutput>

 <tr><td class="feed_option">

 <cfif #company.company_logo# is "">
  <cfif #company.company_admin_id# is #session.usr_id#>
   <a href="/exchange/company/general/general.cfm"><img src="/images/company_logo.png" width=150 alt="Update" title="Update"></a>
  <cfelse>
   <img src="/images/company_logo.png" width=150>
  </cfif>
 <cfelse>
  <cfif #company.company_admin_id# is #session.usr_id#>
   <a href="/exchange/company/general/general.cfm"><img src="#media_virtual#/#company.company_logo#" width=150 alt="Update" title="Update"></a>
  <cfelse>
   <img src="#media_virtual#/#company.company_logo#" width=150>
  </cfif>
 </cfif>

 </td></tr>

 <tr><td class="feed_option"><a href="/exchange/include/company_profile.cfm?id=#company.company_id#" target="_blank" rel="noopener" rel="noreferrer">View Public Profile</a></td></tr>
 <tr><td class="feed_option"><b>Discoverable on the Exchange?</b>&nbsp;&nbsp;&nbsp;<cfif #company.company_discoverable# is 1>Yes<cfelse>No</cfif></td></tr>

</cfoutput>

</table>

