<cfinclude template="/exchange/security/check.cfm">

<cfquery name="reset" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete strength_ignore
 where strength_ignore_company_id = #session.company_id#
</cfquery>

<cflocation URL="strength.cfm?u=2" addtoken="no">

