<cfquery name="photos" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select company_logo from company
 where company_logo is not null
</cfquery>

<cfloop query="photos">

<cfif photos.company_logo is not "">

	<cfif fileexists("c:\home\ratio.exchange\wwwroot\exchange\media\#photos.company_logo#")>

	<cffile action = "copy"
			source = "c:\home\ratio.exchange\wwwroot\exchange\media\#photos.company_logo#"
	   destination = "c:\home\ratio.exchange\wwwroot\exchange\missing\#photos.company_logo#">

	Found

	<cfelse>
	Not Found

	</cfif>

	<br>

</cfif>

</cfloop>

Done