<cfinclude template="/exchange/security/check.cfm">

   <cftransaction>

	   <cfquery name="list" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	    select usr_id from usr
	   </cfquery>

	   <cfset counter = 0>

	   <cfloop query="list">

	   <cfquery name="check" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
         select hub_xref_id from hub_xref
         where hub_xref_usr_id = #list.usr_id#
       </cfquery>

       <cfif check.recordcount is 0>
        <cfset counter = counter + 1>

	   <cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
         insert into hub_xref
         (
         hub_xref_usr_id,
         hub_xref_hub_id,
         hub_xref_joined,
         hub_xref_usr_role,
         hub_xref_role_id,
         hub_xref_company_add)
         values
         (
         #list.usr_id#,
         51,
         #now()#,
         0,
         182,
         0
         )
       </cfquery>

       </cfif>

       </cfloop>

  </cftransaction>

<cfoutput>
Update - #counter#
</cfoutput>
