 <cfquery name="followed" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  select usr_follow_id from usr_follow
  where usr_follow_hub_id = #session.hub# and
  usr_follow_usr_id = #session.usr_id# and
  usr_follow_usr_follow_id = #people.usr_id#
 </cfquery>

<cfoutput>

<cfset i = #encrypt(people.usr_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#>

<cfif people.usr_profile_display is 2>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>
	  <tr><td align=center style="padding-top: 10px;"><img src="/images/private.png" width=125></td></tr>
	  <tr><td class="feed_sub_header" align=center>Private Profile</td></tr>
	</table>

<cfelse>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	 <tr><td valign=top width=130>

		 <table cellspacing=0 cellpadding=0 border=0 width=100%>

		 <cfif #people.usr_photo# is "">
		  <tr><td align=center valign=top width=110><a href="/exchange/marketplace/people/profile.cfm?i=#i#"><img src="/images/headshot.png" height=110 width=110 border=0 vspace=15></td><td width=20>&nbsp;</td></tr>
		 <cfelse>
		  <tr><td align=center valign=top width=110><a href="/exchange/marketplace/people/profile.cfm?i=#i#"><img style="border-radius: 180px;" vspace=15 src="#media_virtual#/#people.usr_photo#" height=110 width=110 border=0><td width=20>&nbsp;</td></tr>
		 </cfif>

		 <tr><td align=center>

		 <cfif people.usr_linkedin is not "">&nbsp;<a href="#people.usr_linkedin#" target="_blank" rel="noopener"><img src="/images/icon_linkedin.png" width=20 alt="LinkedIn" title="LinkedIn"></a>&nbsp;</cfif>
		 <cfif people.usr_facebook is not "">&nbsp;<a href="#people.usr_facebook#" target="_blank" rel="noopener"><img src="/images/icon_facebook.png" width=20 alt="Facebook" title="Facebook"></a>&nbsp;</cfif>
		 <cfif people.usr_facebook is not "">&nbsp;<a href="#people.usr_twitter#" target="_blank" rel="noopener"><img src="/images/icon_twitter.png" width=20 alt="Twitter" title="Twitter"></a>&nbsp;</cfif>


		 </td><tr>

		 </table>

	 <td valign=top>

	<table cellspacing=0 cellpadding=0 border=0 width=100%>

	 <tr><td height=15></td></tr>
	 <tr><td class="feed_sub_header" style="padding-top: 0px; padding-bottom: 0px;"><a href="/exchange/marketplace/people/profile.cfm?i=#i#">#people.usr_first_name# #people.usr_last_name#</a></td>
		 <td align=right valign=top>
		 <cfif #followed.recordcount# is 1>
		 <a href="/exchange/marketplace/people/profile.cfm?i=#i#"><img src="/images/small_follow.png" width=20 alt="You are following this person" title="You are following this person" border=0></a>
		 </cfif>
		 </td></tr>

	 <cfif #people.usr_title# is not "">
		<tr><td class="feed_option" style="padding-top: 5px; padding-bottom: 8px;" colspan=2>#people.usr_title#</td></tr>
	 <cfelse>
		<tr><td class="feed_option" style="padding-top: 5px; padding-bottom: 8px;" colspan=2>No Title Provided</td></tr>
	 </cfif>

	<tr><td class="feed_option" style="font-weight: normal;" colspan=2><img src="/images/icon-email_2.png" alt="Email Address" title="Email Address" width=20 valign=middle>&nbsp;&nbsp;#tostring(tobinary(people.usr_email))#</td></tr>
	<tr><td class="feed_option" style="font-weight: normal;" colspan=2><img src="/images/icon-phone_2.png" alt="Work Phone" title="Work Phone" width=20 valign=middle>&nbsp;&nbsp;<cfif #people.usr_phone# is not "">#people.usr_phone#<cfelse>Not Provided</cfif></td></tr>
	<tr><td class="feed_option" style="font-weight: normal;" colspan=2><img src="/images/icon_cell_phone.png" alt="Cell Phone" title="Cell Phone" width=20 valign=middle>&nbsp;&nbsp;<cfif #people.usr_cell_phone# is not "">#people.usr_cell_phone#<cfelse>Not Provided</cfif></td></tr>

	<tr><td height=10></td></tr>

	</table>

	</td></tr>

	</table>

	</cfif>

</cfoutput>



