<cfinclude template="/exchange/security/check.cfm">

<table cellspacing=0 cellpadding=0 border=0 width=100%>

		<tr>
        <form action="search.cfm" method="post">
		<td class="feed_header"><a href="index.cfm">People</a></td>
        <td align=right><span class="feed_sub_header">Find Person&nbsp;&nbsp;</span>

        <select name="type" class="input_select">
         <option value="name" <cfif isdefined("session.search_type") and session.search_type is "name">selected</cfif>>By Name
         <option value="cert" <cfif isdefined("session.search_type") and session.search_type is "cert">selected</cfif>>By Certification
        </select>

		<cfoutput>
		<input class="input_text" type="text" style="width: 175px;" placeholder="keyword" <cfif isdefined("session.people_keyword")>value="#session.people_keyword#"</cfif> name="people_keyword">&nbsp;
		<input class="button_blue" type="submit" name="button" value="Search">
		<input class="button_blue" type="submit" name="button" value="Clear">
		</cfoutput>
		</td>
		</form>
        </tr>

</table>


