<cfif button is "Clear">
	<cfset StructDelete(Session,"people_keyword")>
	<cflocation URL="index.cfm" addtoken="no">
<cfelse>
	<cfset #session.people_keyword# = #people_keyword#>
</cfif>

<cfif type is "name">
    <cfset session.search_type = "name">
	<cflocation URL="search_name.cfm" addtoken="no">
<cfelseif type is "cert">
    <cfset session.search_type = "cert">
	<cflocation URL="search_cert.cfm" addtoken="no">
</cfif>