<cfif #trim(people_keyword)# is "">
 <cfset StructDelete(Session,"people_keyword")>
<cfelse>
 <cfset #session.people_keyword# = #people_keyword#>
</cfif>

<cflocation URL="/exchange/marketplace/people/" addtoken="no">