<cfquery name="peeps" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from usr
</cfquery>

<cfloop query="peeps">

<cfoutput>
<cfset people_id = #peeps.usr_id#>
<cfset name = #peeps.usr_first_name# & " " & #peeps.usr_last_name#>

	<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 update usr
	 set usr_full_name = '#name#'
	 where usr_id = #people_id#
	</cfquery>

</cfoutput>

</cfloop>