<div class="left_box">

<table cellspacing=0 cellpadding=0 border=0 width=100%>
 <tr><td class="feed_header"><img src="/images/plus3.png" width=15 valign=absmiddle>&nbsp;&nbsp;<a href="create_pipeline.cfm">New Board</a></td></tr>
</table>

</div>