 <cfif button is "Cancel">

  <cflocation URL="members.cfm" addtoken="no">

 <cfelseif button is "Remove User From Community">

	 <cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	  delete comm_xref
	  where comm_xref_usr_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
	        comm_xref_comm_id = #session.community_id#
	 </cfquery>

	 <cflocation URL="members.cfm?u=3" addtoken="no">

 <cfelseif button is "Update">

 <cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  update comm_xref
  set comm_xref_active = #comm_xref_active#,
      comm_xref_calendar = <cfif isdefined("comm_xref_calendar")>1<cfelse>null</cfif>,
      comm_xref_message = <cfif isdefined("comm_xref_message")>1<cfelse>null</cfif>,
      comm_xref_documents = <cfif isdefined("comm_xref_documents")>1<cfelse>null</cfif>,
      comm_xref_opportunity = <cfif isdefined("comm_xref_opportunity")>1<cfelse>null</cfif>,
      comm_xref_usr_role = #comm_xref_usr_role#
  where comm_xref_comm_id = #session.community_id# and
        comm_xref_usr_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
 </cfquery>

 <cfif isdefined("send_email")>

    <cfquery name="getuser" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
     select * from usr
     where usr_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#
    </cfquery>

	<cfif isdefined("test_email")>
	 <cfset to = #test_email#>
	<cfelse>
	 <cfset to = #getuser.usr_email#>
	</cfif>

    <cfquery name="cinfo" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
     select * from comm
     where comm_id = #session.community_id#
    </cfquery>


	<cfmail from="#cinfo.comm_name# <noreply@ratio.exchange>"
			  to="#to#"
	  username="noreply@ratio.exchange"
	  password="Gofus107!"
		  port="25"
		useSSL="false"
		type="html"
		server="mail.ratio.exchange"
	   subject="#email_subject#">
	<html>
	<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
	</head>
	<body class="body">

	<cfoutput>

	<table cellspacing=0 cellpadding=0 border=0 width=675 bgcolor="ffffff">
	 <tr><td style="feed_sub_header" style="font-weight: normal; font-size: 16px;">#email_message#</td></tr>
	</table>

	</cfoutput>

	</body>
	</html>

	</cfmail>

 </cfif>

 <cflocation URL="members.cfm?u=1" addtoken="no">

</cfif>