<cfquery name="jump" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  select company_name, company_id from portfolio_item
  join company on company_id = portfolio_item_company_id
  where portfolio_item_portfolio_id = #session.portfolio_id# and
		portfolio_item_type_id = 1
  order by company_name
</cfquery>

<cfquery name="port" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from portfolio
 where portfolio_id = #session.portfolio_id#
</cfquery>

<div class="main_box">

	<table cellspacing=0 cellpadding=0 border=0 width=100%>
    <form action="/exchange/portfolio/set2.cfm" method="post">

	 <tr><td class="feed_header">
	 <cfoutput>

		<cfif #port.portfolio_image# is "">
		  <cfif port.portfolio_type_id is 1>
			<img src="/images/icon_portfolio_company.png" height=30>
		  <cfelseif port.portfolio_type_id is 2>
			<img src="/images/icon_portfolio_award.png" heigh=30>
		  </cfif>
		<cfelse>
		  <img src="#media_virtual#/#port.portfolio_image#" height=30>
		</cfif>

	   &nbsp;&nbsp;&nbsp;#port.portfolio_name#
	 </cfoutput>
	 Portfolio</td>
	     <td align=right>

         <span class="feed_sub_header">Jump to Company</span>&nbsp;&nbsp;

         <select name="company_id" class="input_select">
          <cfoutput query="jump">
           <option value=#company_id# <cfif #company_id# is #comp_id#>selected</cfif>>#ucase(company_name)#
          </cfoutput>
         </select>

          <input type="submit" name="button" class="button_blue" value="Go">

	     </td>

	     </tr>
	</form>

	</table>

</div>