<cfif not isdefined("company_id")>
 <cflocation URL="portfolio_company.cfm?u=5" addtoken="no">
<cfelse>
 <cfset session.compare_list = #company_id#>
 <cfif isdefined("d")>
	 <cflocation URL="portfolio_compare.cfm?d=1" addtoken="no">
 <cfelse>
	 <cflocation URL="portfolio_compare.cfm" addtoken="no">
 </cfif>
</cfif>