<cfif not isdefined("company_id")>
 <cflocation URL="portfolio_company2.cfm?u=5" addtoken="no">
<cfelse>
 <cfset session.compare_list = #company_id#>
 <cflocation URL="portfolio_compare2.cfm" addtoken="no">
</cfif>