<cfoutput>
<table cellspacing=0 cellpadding=0 border=0 width=100%>
 <tr><td height=10></td></tr>
 <tr><td class="feed_header">

		<cfif #port_info.person_portfolio_image# is "">
			<img src="/images/icon_portfolio_company.png" height=30>
		<cfelse>
		  <img src="#media_virtual#/#port_info.person_portfolio_image#" height=30>
		</cfif>

     &nbsp;&nbsp;<a href="person_portfolio_company.cfm">#port_info.person_portfolio_name#</a></td>
	 <td class="feed_sub_header" align=right>

	 </td></tr>

 <tr><td height=10></td></tr>

     <tr><td colspan=2><hr></td></tr>


</table>
</cfoutput>