<cfinclude template="/exchange/security/check.cfm">

<cfif isdefined("session.portfolio_id")>

	<cfquery name="remove" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	 delete portfolio_item
	 where portfolio_item_id = #id#
	</cfquery>

</cfif>

<cflocation URL="portfolio_opp.cfm?portfolio_id=#session.portfolio_id#" addtoken="no">