<cfquery name="item" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select portfolio_item_id from portfolio_item
 where portfolio_item_portfolio_id = #session.portfolio_id# and
       portfolio_item_company_id = #company_id#
</cfquery>

<cflocation URL="/exchange/portfolio/manage_company.cfm?comp_id=#company_id#&portfolio_id=#session.portfolio_id#&portfolio_item_id=#item.portfolio_item_id#" addtoken="no">
