<cfinclude template="/exchange/security/check.cfm">

<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update feed_interest
 set feed_interest_notes = '#notes#',
     feed_interest_updated = #now()#
 where feed_interest_feed_id = #feed_id# and
       feed_interest_usr_id = #session.usr_id#
</cfquery>

<cflocation URL="opp_detail.cfm?feed_id=#feed_id#" addtoken="no">



