<cfquery name="naics" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select distinct(naics_code), naics_description from award_data

 <cfset count = 1>
 <cfset max = listlen(keyword)>
 <cfloop index="i" list="#keyword#">
  <cfif count is 1>
   where contains((award_description),'"#i#"')
  <cfelse>
   or contains((award_description),'"#i#"')
  </cfif>
  <cfset count = count + 1>
 </cfloop>

</cfquery>

<cfquery name="psc" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select distinct(product_or_service_code), product_or_service_code_description from award_data

 <cfset count = 1>
 <cfset max = listlen(keyword)>
 <cfloop index="i" list="#keyword#">
  <cfif count is 1>
   where contains((award_description),'"#i#"')
  <cfelse>
   or contains((award_description),'"#i#"')
  </cfif>
  <cfset count = count + 1>
 </cfloop>

</cfquery>


<b>NAICS</b><br>
<cfoutput query="naics">
 #naics_description#<br>
</cfoutput>
<br><br>

<b>PSC</b><br>
<cfoutput query="psc">
 #product_or_service_code_description#<br>
</cfoutput>
<br><br>
