<cfinclude template="/exchange/security/check.cfm">

<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 delete support
 where support_id = #support_id#
</cfquery>

<cflocation URL="index.cfm" addtoken="no">
