<cfinclude template="/exchange/security/check.cfm">

<cfquery name="old_id" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select usr_company_id from usr
 where usr_id = #session.usr_id#
</cfquery>

<cfset StructDelete(Session,"mask")>
<cfset StructDelete(Session,"mask_company")>

<cfset #session.company_id# = #old_id.usr_company_id#>

<cflocation URL="/exchange/hubs/admin/companies/index.cfm?u=5" addtoken="no">