<cfinclude template="/exchange/security/check.cfm">

<cfquery name="mask" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
  select company_name from company
  where company_id = #company_id#
</cfquery>

<cfset #session.mask# = 1>
<cfset #session.company_id# = #company_id#>
<cfset #session.mask_company# = #mask.company_name#>

<cflocation URL="index.cfm?u=4" addtoken="no">