<cfinclude template="/exchange/security/check.cfm">

<cfset exchange_hub_id = 63>

<cfquery name="feeds" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from rss
 where rss_hub_id = #exchange_hub_id#
 order by rss_name
</cfquery>

<html>
<head>
	<title><cfoutput>#session.network_name#</cfoutput></title>
    <link rel="shortcut icon" type="image/png" href="/images/exchange.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="/include/exchange_style.css" rel="stylesheet" type="text/css">
</head><div class="center">
<body class="body">

  <cfinclude template="/exchange/include/header.cfm">

  <table cellspacing=0 cellpadding=0 border=0 width=100%>

	  <tr><td valign=top width=185>

       <cfinclude template="/exchange/admin/admin_menu.cfm">

	  </td><td valign=top>

	  <div class="main_box">

       <form action="db.cfm" method="post" enctype="multipart/form-data" >

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>
		   <tr><td class="feed_header">Add RSS Newsfeed</td>
		       <td class="feed_sub_header" align=right><a href="index.cfm">Return</a></td></tr>
		   <tr><td colspan=2><hr></td></tr>
		   <tr><td height=10></td></tr>
		  </table>

		  <table cellspacing=0 cellpadding=0 border=0 width=100%>

		   <tr><td class="feed_sub_header" colspan=2>Option 1.  Add Exchange Configured RSS Newsfeed</td></tr>

           <tr><td height=10></td></tr>

		   <tr><td class="feed_sub_header">Available Feeds</td>
		       <td><select name="rss_id" class="input_select">
		           <cfoutput query="feeds">
		            <option value=#encrypt(rss_id,session.key, "AES/CBC/PKCS5Padding", "HEX")#>#rss_name# (#rss_category#)
		           </cfoutput>
		           </td></tr>

		   <tr><td height=10></td></tr>
		   <tr><td></td><td><input class="button_blue_large" type="submit" name="button" value="Add" vspace=10></td></tr>

		   <tr><td height=10></td></tr>
		   <tr><td colspan=2><hr></td></tr>
		   <tr><td height=10></td></tr>

        </form>

       <form action="db.cfm" method="post" enctype="multipart/form-data" >



		   <tr><td class="feed_sub_header" colspan=2>Option 2.  Add Other RSS Newsfeed</td></tr>

           <tr><td height=10></td></tr>

		   <tr><td class="feed_sub_header">Feed Provider</td>
		       <td><input class="input_text" style="width: 400px;" type="text" name="rss_name" required></td></tr>

		   <tr><td class="feed_sub_header">Provider Website</td>
		       <td><input class="input_text" style="width: 400px;" type="url" name="rss_name_url"></td></tr>

		   <tr><td class="feed_sub_header">Feed Category</td>
		       <td><input class="input_text" style="width: 400px;" type="text" name="rss_category"></td></tr>

		   <tr><td class="feed_sub_header">Feed URL</td>
		       <td><input class="input_text" style="width: 900px;" type="url" name="rss_url" required></td></tr>

           <tr><td class="feed_sub_header" valign=top>Feed Image</td>
               <td class="feed_sub_header" style="font-weight: normal;"><input type="file" id="image" onchange="validate_img()" name="rss_image"></td></tr>

		   <tr><td height=10></td></tr>

		   <tr><td></td><td><input class="button_blue_large" type="submit" name="button" value="Save" vspace=10></td></tr>
		  </table>

      </td></tr>
     </table>

  </div>

 </form>

<cfinclude template="/exchange/include/footer.cfm">

</body>
</html>

