<cfquery name="rights" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from hub
 where hub_id = #session.hub#
</cfquery>

<table cellspacing=0 cellpadding=0 border=0 width=100%>
  <tr><td class="feed_header">Boards Configuration</td>
      <td class="feed_sub_header" align=right><a href="/exchange/admin/apps/myapps.cfm">My Apps</a></td></tr>
  <tr><td colspan=2><hr></td></tr>
  <tr><td height=10></td></tr>
  <tr><td class="feed_sub_header" style="font-weight: normal;">The following options are available to help you tailor and configure this app.</td></tr>
  <tr><td height=10></td></tr>
</table>


<table cellspacing=0 cellpadding=0 border=0 width=100%>

	<tr>
	    <td class="feed_sub_header" style="padding-bottom: 0px; margin-bottom: 0px;"><img src="/images/icon_bluebox.png" height=10 width=10></td>
        <td class="feed_sub_header" style="padding-bottom: 0px; margin-bottom: 0px;"><a href="/exchange/pipeline/deals/tools/deal_stage/">Deal Stages</a></td></tr>
    <tr><td></td>
	    <td class="feed_sub_header" style="font-weight: normal; padding-top: 5px; padding-bottom: 0px;">Define the drop-down boxes for Deal Stages.</td>
	</tr>

	<tr><td height=20></td></tr>

	<tr>
	    <td class="feed_sub_header" style="padding-bottom: 0px; margin-bottom: 0px;"><img src="/images/icon_bluebox.png" height=10 width=10></td>
        <td class="feed_sub_header" style="padding-bottom: 0px; margin-bottom: 0px;"><a href="/exchange/pipeline/deals/tools/deal_priority/">Deal Priorities</a></td></tr>
    <tr><td></td>
	    <td class="feed_sub_header" style="font-weight: normal; padding-top: 5px; padding-bottom: 0px;">Define the drop-down boxes for Deal Priorities.</td>
	</tr>


	<tr><td height=20></td></tr>

	<tr>
	    <td class="feed_sub_header" style="padding-bottom: 0px; margin-bottom: 0px;"><img src="/images/icon_bluebox.png" height=10 width=10></td>
        <td class="feed_sub_header" style="padding-bottom: 0px; margin-bottom: 0px;"><a href="/exchange/pipeline/deals/tools/deal_type/">Deal Types</a></td></tr>
    <tr><td></td>
	    <td class="feed_sub_header" style="font-weight: normal; padding-top: 5px; padding-bottom: 0px;">Define the drop-down boxes for Deal Types.</td>
	</tr>


	<tr><td height=20></td></tr>

</table>





