
<cfinclude template="/exchange/security/check.cfm">

<cfif button is "Delete">

<cfset counter = 0>

<cfif isdefined("company_id")>

<cftransaction>

<cfloop index="i" list="#company_id#">

<cfquery name="open" datasource="#datasource#" username="#username#" password="#password#">
 delete company
 where company_id = #i#
</cfquery>

<cfset counter = counter + 1>

</cfloop>

</cftransaction>

</cfif>

<cflocation URL="open.cfm?company_name=#company_name#" addtoken="no">

</cfif>

