<cfinclude template="/exchange/security/check.cfm">

	<cfquery name="update" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
	  update usr
	  set usr_default_home_page = #usr_default_home_page#
	  where usr_id = #session.usr_id#
	</cfquery>

<cflocation URL="/exchange/profile/homepage.cfm?u=1&l=6" addtoken="no">


