<cfquery name="profile" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from usr
 where usr_id = #session.usr_id#
</cfquery>

<cfoutput>
   <table cellspacing=0 cellpadding=0 border=0 width=100%>
	   <tr><td class="feed_option"><cfif #profile.usr_photo# is ""><a href="edit.cfm"><img src="/images/headshot.png" alt="Update Profile" title="Update Profile" width=150></a><cfelse><a href="edit.cfm"><img style="border-radius: 8px;" src="#media_virtual#/#profile.usr_photo#" width=150 title="Update Profile" alt="Update Profile"></a></cfif></td></tr>
	   <tr><td class="feed_sub_header">#profile.usr_first_name# #profile.usr_last_name#</td></tr>
	   <tr><td class="feed_option">#profile.usr_title#</td></tr>
	   <tr><td height=3></td></tr>
	   <tr><td class="feed_option"><b>Email</b><br>#profile.usr_email#</td></tr>
	   <tr><td class="feed_option"><b>Phone</b><br>#profile.usr_phone#</td></tr>
	   <tr><td>&nbsp;</td></tr>
	   <tr><td class="feed_option">- <a href="/exchange/company/">Company Profile</a></td></tr>
	   <tr><td class="feed_option">- <a href="change.cfm">Change Password</a></td></tr>
	   <tr><td class="feed_option">- <a href="notifications.cfm">Feed Notification Settings</a></td></tr>
	   <tr><td class="feed_option">- <a href="hubs.cfm">Default Hub</a></td></tr>
  </table>
</cfoutput>