<table cellspacing=0 cellpadding=0 border=0 width=100%>
	   <tr><td colspan=2 class="feed_header" style="font-size: 30;">My Account</td></tr>
	   <tr><td colspan=2><hr></td></tr>
	   <tr><td height=10></td></tr>
	   <tr><td width=20><cfif not isdefined("l")><img src="/images/icon_selected.png" width=6 height=22><cfelse>&nbsp;</cfif></td><td class="feed_sub_header" height=25><a href="/exchange/profile/">My Profile</a></td></tr>
	   <tr><td width=20><cfif isdefined("l") and l is 4><img src="/images/icon_selected.png" width=6 height=22><cfelse>&nbsp;</cfif></td><td class="feed_sub_header" height=25><a href="/exchange/profile/subscription/index.cfm?l=4">My Subscription</a></td></tr>
	   <tr><td width=20><cfif isdefined("l") and l is 9><img src="/images/icon_selected.png" width=6 height=22><cfelse>&nbsp;</cfif></td><td class="feed_sub_header" height=25><a href="/exchange/profile/certs.cfm?l=9">My Certifications</a></td></tr>
	   <tr><td width=20><cfif isdefined("l") and l is 2><img src="/images/icon_selected.png" width=6 height=22><cfelse>&nbsp;</cfif></td><td class="feed_sub_header" height=25><a href="/exchange/profile/change.cfm?l=2">Change Password</a></td></tr>
	   <tr><td width=20><cfif isdefined("l") and l is 3><img src="/images/icon_selected.png" width=6 height=22><cfelse>&nbsp;</cfif></td><td class="feed_sub_header" height=25><a href="/exchange/profile/notifications/index.cfm?l=3">Notifications</a></td></tr>
</table>