<cfquery name="profile" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 select * from usr
 where usr_id = #session.usr_id#
</cfquery>

<cfoutput>
<style>
.banner {
    <cfif #profile.usr_background# is "">
    background-image: url('/images/company_stock_banner.png');
    <cfelse>
    background-image: url('#media_virtual#/#profile.usr_background#');
    </cfif>
    max-width: 100%;
    background-size: 100%;
    height:200px;
}
</style>
</cfoutput>

<cfoutput>
   <table cellspacing=0 cellpadding=0 border=0 width=100% class="banner">
   <tr><td height=30></td></tr>

	   <tr><td valign=middle align=left width=175>

		   <table cellspacing=0 cellpadding=0 border=0 width=100%>
			 <cfif #profile.usr_photo# is "">
			  <tr><td><a href="/exchange/profile/edit.cfm"><img src="/images/headshot.png" width=160 alt="Update Profile" title="Update Profile"></a></td></tr>
			 <cfelse>
			  <tr><td align=center><a href="/exchange/profile/edit.cfm"><img src="#media_virtual#/#profile.usr_photo#" width=160 alt="Update Profile" title="Update Profile"></a></td></tr>
			 </cfif>
		  </table>

	   </td><td width=30>&nbsp;</td><td valign=top align=left>

	   <table cellspacing=0 cellpadding=0 border=0 width=100%>
		 <tr><td class="feed_header" style="font-size: 40px; color: ffffff;">#profile.usr_first_name# #profile.usr_last_name#</td>
		     <td align=right><a href="/exchange/profile/background.cfm"><img src="/images/pencil_white.png" width=40 hspace=30 border=0 alt="Change Banner" title="Change Banner"></a></td></tr>
		 <tr><td class="feed_header" style="font-size: 22px; color: ffffff;">#profile.usr_title#</td></tr>
		 <tr><td height=5></td></tr>
		 <tr><td class="feed_header" style="font-size: 18px; color: ffffff;">#profile.usr_company_name#</td></tr>
		 <tr><td height=15></td></tr>
	   </table>

	   </td></tr>

   <tr><td height=30></td></tr>

   </table>
</cfoutput>