<cfquery name="lookup" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 select top(1) company_id from company
 where company_name = '#organization#'
</cfquery>

<cflocation URL="/exchange/include/company_profile.cfm?id=#lookup.company_id#" addtoken="no">
