<cfinclude template="/exchange/security/check.cfm">

	<cfif a is 1>

		<cfquery name="insert" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		  insert into deal_comp
		  (
		   deal_comp_deal_id,
		   deal_comp_competitor_id,
		   deal_comp_added,
		   deal_comp_added_by
		  )
		  values
		  (
		  #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")#,
		  #deal_comp_competitor_id#,
		  #now()#,
		  #session.usr_id#
		  )
		</cfquery>

		<cflocation URL="companies.cfm?i=#i#&sv=#sv#&id=#id#&u=1" addtoken="no">

	<cfelseif a is 0>

		<cfquery name="delete" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
		 delete deal_comp
		 where deal_comp_deal_id = #decrypt(i,session.key, "AES/CBC/PKCS5Padding", "HEX")# and
			   deal_comp_competitor_id = #deal_comp_competitor_id#
		</cfquery>

		<cflocation URL="companies.cfm?i=#i#&sv=#sv#&id=#id#&u=2" addtoken="no">

	 </cfif>



