 <cfif isdefined("session.add_filter")>
  <cfset session.add_filter = #listappend(session.add_filter,"#add_filter#")#>
 <cfelse>
  <cfset session.add_filter = "#add_filter#">
 </cfif>

 <cfif location is "view_sub">
  <cflocation URL="view_sub.cfm?i=#i#&ky=#ky#&sv=#sv#" addtoken="no">
 <cfelseif location is "companies">
  <cflocation URL="companies.cfm?i=#i#&sv=#sv#&id=#id#" addtoken="no">
 </cfif>