<cfinclude template="/exchange/security/check.cfm">

<cfquery name="library" datasource="#client_datasource#" username="#client_username#" password="#client_password#">
 update hub
 set hub_library_id = #hub_library_id#
 where hub_id = #session.hub#
</cfquery>

<cflocation URL="index.cfm?u=100" addtoken="no">