<cfinclude template="/exchange/security/check.cfm">

<cfif isdefined("align_type_value")>

<cftransaction>

		<cfquery name="delete" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
		  delete align
		  where (align_type_id = 1) and
		        (align_usr_id = #session.usr_id#)

		</cfquery>

		<cfloop index="element" list=#align_type_value#>

			<cfquery name="insert" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
			 Insert into align
			 (align_usr_id, align_type_id, align_type_value)
			 Values
			 (#session.usr_id#, 1, #element#)
			</cfquery>

		</cfloop>

</cftransaction>

</cfif>

<cflocation URL="build.cfm?u=5" addtoken="no">


