<cfinclude template="/exchange/security/check.cfm">

<cfquery name="clear" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 delete feed_usr
 where feed_usr_usr_id = #session.usr_id#
</cfquery>

<cflocation URL="/exchange/index.cfm?u=9" addtoken="no">