<cfinclude template="/exchange/security/check.cfm">

<cfquery name="remove" datasource="#lake_datasource#" username="#lake_username#" password="#lake_password#">
 delete feed_usr
 where feed_usr_feed_id = #feed_id# and
       feed_usr_usr_id = #session.usr_id#
</cfquery>

<cflocation URL="/exchange/index.cfm?u=1" addtoken="no">

