<cfinclude template="/exchange/security/check.cfm">

<cfif listlen(session.add_filter) GT 1>
 <cfset filter_position = listfind(session.add_filter,'#i#')>
 <cfset session.add_filter = listdeleteat(session.add_filter,'#filter_position#')>
<cfelse>
 <cfset StructDelete(Session,"add_filter")>
</cfif>

<cfif location is "cview_02s">
 <cflocation URL="cview_02s.cfm?ky=#ky#" addtoken="no">
</cfif>

