 <cfif isdefined("session.add_filter")>
  <cfset session.add_filter = #listappend(session.add_filter,"#add_filter#")#>
 <cfelse>
  <cfset session.add_filter = "#add_filter#">
 </cfif>

 <cfif location is "cview_02s">
  <cflocation URL="cview_02s.cfm?ky=#ky#" addtoken="no">
 </cfif>